<div class="u_settings-content u_flex u_flex-col" style="height: 100%; width: 100%;">
  <div class="u_settings-header u_p-20 " id="u_settings-header">
    <div class="u_settings-header-title ">
      <h5 class="u_mb-5">17 Job Title</h5>
      <p>Add/Edit Job Titles.</p>
    </div>
    <div class="u_settings-header-list">
      <div class="u_flex u_align-center u_content-end">
        <div class="u_filter u_filter-search "><span class="u_search-icon u_cp"><svg width="14" height="14"
              viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <path class="u_fill"
                d="M33.474 30.95l-6.042-6.024a14.075 14.075 0 003.003-8.708 14.218 14.218 0 10-14.217 14.217 14.075 14.075 0 008.708-3.003l6.025 6.042a1.776 1.776 0 002.523 0 1.777 1.777 0 000-2.523zM5.554 16.219a10.663 10.663 0 1121.327 0 10.663 10.663 0 01-21.327 0z"
                fill="#4E525F"></path>
            </svg></span><input type="text" tabindex="0" class="u_input" placeholder="Search" autocomplete="off"
            value=""></div>
        <div class="u_input u_ml-10"><input class="u_input-small" placeholder=" " autocomplete="off" value=""><label>New
            Job Title </label></div>
        <div class="u_filter"><span class="u_add-btn" aria-describedby="popup-7420"><svg width="14" height="14"
              viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <path class="u_fill" d="M15.714 15.714V2h4.572v13.714H34v4.572H20.286V34h-4.572V20.286H2v-4.572h13.714z"
                fill="#FFFFFF"></path>
            </svg></span></div>
      </div>
    </div>
  </div>
  <div class="u_layout-scrollview">
    <div class="" style="position: relative; overflow: hidden; width: 100%; height: 100%;">
      <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
        <div class="u_employee-fields-common">
          <div class="u_table-resource u_table-resource-nowrap u_table-resource-hover u_setting-table">
            <table>
              <thead class="u_table-resource-header">
                <tr>
                  <th>Job Title</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class="u_name u_cp"><span class="u_one-line">HR Manager</span></p>
                  </td>
                  <td>
                    <div class="u_table-resource-action">
                      <div class="u_cp u_table-resource-menu"><span class="u_more-menu-icon"><svg width="20" height="20"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                              fill="#4E525F"></path>
                          </svg></span></div>
                      <div class="u_table-resource-buttons"><span class="u_icon-rollover u_cp u_ml-5"
                          aria-describedby="popup-7424"><svg width="16" height="16" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M26 5.2h8v3.2h-3.2v24a1.6 1.6 0 01-1.6 1.6H6.8a1.6 1.6 0 01-1.6-1.6v-24H2V5.2h8V2h16v3.2zm-12.8 8V26h3.2V13.2h-3.2zm6.4 0V26h3.2V13.2h-3.2z"
                              fill="#007AFF"></path>
                          </svg></span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="u_name u_cp"><span class="u_one-line">Financial Officer</span></p>
                  </td>
                  <td>
                    <div class="u_table-resource-action">
                      <div class="u_cp u_table-resource-menu"><span class="u_more-menu-icon"><svg width="20" height="20"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                              fill="#4E525F"></path>
                          </svg></span></div>
                      <div class="u_table-resource-buttons"><span class="u_icon-rollover u_cp u_ml-5"
                          aria-describedby="popup-7425"><svg width="16" height="16" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M26 5.2h8v3.2h-3.2v24a1.6 1.6 0 01-1.6 1.6H6.8a1.6 1.6 0 01-1.6-1.6v-24H2V5.2h8V2h16v3.2zm-12.8 8V26h3.2V13.2h-3.2zm6.4 0V26h3.2V13.2h-3.2z"
                              fill="#007AFF"></path>
                          </svg></span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="u_name u_cp"><span class="u_one-line">Marketing Head</span></p>
                  </td>
                  <td>
                    <div class="u_table-resource-action">
                      <div class="u_cp u_table-resource-menu"><span class="u_more-menu-icon"><svg width="20" height="20"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                              fill="#4E525F"></path>
                          </svg></span></div>
                      <div class="u_table-resource-buttons"><span class="u_icon-rollover u_cp u_ml-5"
                          aria-describedby="popup-7426"><svg width="16" height="16" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M26 5.2h8v3.2h-3.2v24a1.6 1.6 0 01-1.6 1.6H6.8a1.6 1.6 0 01-1.6-1.6v-24H2V5.2h8V2h16v3.2zm-12.8 8V26h3.2V13.2h-3.2zm6.4 0V26h3.2V13.2h-3.2z"
                              fill="#007AFF"></path>
                          </svg></span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="u_name u_cp"><span class="u_one-line">Sr.Angular Developer</span></p>
                  </td>
                  <td>
                    <div class="u_table-resource-action">
                      <div class="u_cp u_table-resource-menu"><span class="u_more-menu-icon"><svg width="20" height="20"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                              fill="#4E525F"></path>
                          </svg></span></div>
                      <div class="u_table-resource-buttons"><span class="u_icon-rollover u_cp u_ml-5"
                          aria-describedby="popup-7427"><svg width="16" height="16" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M26 5.2h8v3.2h-3.2v24a1.6 1.6 0 01-1.6 1.6H6.8a1.6 1.6 0 01-1.6-1.6v-24H2V5.2h8V2h16v3.2zm-12.8 8V26h3.2V13.2h-3.2zm6.4 0V26h3.2V13.2h-3.2z"
                              fill="#007AFF"></path>
                          </svg></span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="u_name u_cp"><span class="u_one-line">Management</span></p>
                  </td>
                  <td>
                    <div class="u_table-resource-action">
                      <div class="u_cp u_table-resource-menu"><span class="u_more-menu-icon"><svg width="20" height="20"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                              fill="#4E525F"></path>
                          </svg></span></div>
                      <div class="u_table-resource-buttons"><span class="u_icon-rollover u_cp u_ml-5"
                          aria-describedby="popup-7428"><svg width="16" height="16" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M26 5.2h8v3.2h-3.2v24a1.6 1.6 0 01-1.6 1.6H6.8a1.6 1.6 0 01-1.6-1.6v-24H2V5.2h8V2h16v3.2zm-12.8 8V26h3.2V13.2h-3.2zm6.4 0V26h3.2V13.2h-3.2z"
                              fill="#007AFF"></path>
                          </svg></span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="u_name u_cp"><span class="u_one-line">IT Recruiter</span></p>
                  </td>
                  <td>
                    <div class="u_table-resource-action">
                      <div class="u_cp u_table-resource-menu"><span class="u_more-menu-icon"><svg width="20" height="20"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                              fill="#4E525F"></path>
                          </svg></span></div>
                      <div class="u_table-resource-buttons"><span class="u_icon-rollover u_cp u_ml-5"
                          aria-describedby="popup-7429"><svg width="16" height="16" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M26 5.2h8v3.2h-3.2v24a1.6 1.6 0 01-1.6 1.6H6.8a1.6 1.6 0 01-1.6-1.6v-24H2V5.2h8V2h16v3.2zm-12.8 8V26h3.2V13.2h-3.2zm6.4 0V26h3.2V13.2h-3.2z"
                              fill="#007AFF"></path>
                          </svg></span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="u_name u_cp"><span class="u_one-line">Sr. Angular Developer</span></p>
                  </td>
                  <td>
                    <div class="u_table-resource-action">
                      <div class="u_cp u_table-resource-menu"><span class="u_more-menu-icon"><svg width="20" height="20"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                              fill="#4E525F"></path>
                          </svg></span></div>
                      <div class="u_table-resource-buttons"><span class="u_icon-rollover u_cp u_ml-5"
                          aria-describedby="popup-7430"><svg width="16" height="16" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M26 5.2h8v3.2h-3.2v24a1.6 1.6 0 01-1.6 1.6H6.8a1.6 1.6 0 01-1.6-1.6v-24H2V5.2h8V2h16v3.2zm-12.8 8V26h3.2V13.2h-3.2zm6.4 0V26h3.2V13.2h-3.2z"
                              fill="#007AFF"></path>
                          </svg></span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="u_name u_cp"><span class="u_one-line">Hr Manager</span></p>
                  </td>
                  <td>
                    <div class="u_table-resource-action">
                      <div class="u_cp u_table-resource-menu"><span class="u_more-menu-icon"><svg width="20" height="20"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                              fill="#4E525F"></path>
                          </svg></span></div>
                      <div class="u_table-resource-buttons"><span class="u_icon-rollover u_cp u_ml-5"
                          aria-describedby="popup-7431"><svg width="16" height="16" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M26 5.2h8v3.2h-3.2v24a1.6 1.6 0 01-1.6 1.6H6.8a1.6 1.6 0 01-1.6-1.6v-24H2V5.2h8V2h16v3.2zm-12.8 8V26h3.2V13.2h-3.2zm6.4 0V26h3.2V13.2h-3.2z"
                              fill="#007AFF"></path>
                          </svg></span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="u_name u_cp"><span class="u_one-line">Jr.Angular Developer</span></p>
                  </td>
                  <td>
                    <div class="u_table-resource-action">
                      <div class="u_cp u_table-resource-menu"><span class="u_more-menu-icon"><svg width="20" height="20"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                              fill="#4E525F"></path>
                          </svg></span></div>
                      <div class="u_table-resource-buttons"><span class="u_icon-rollover u_cp u_ml-5"
                          aria-describedby="popup-7432"><svg width="16" height="16" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M26 5.2h8v3.2h-3.2v24a1.6 1.6 0 01-1.6 1.6H6.8a1.6 1.6 0 01-1.6-1.6v-24H2V5.2h8V2h16v3.2zm-12.8 8V26h3.2V13.2h-3.2zm6.4 0V26h3.2V13.2h-3.2z"
                              fill="#007AFF"></path>
                          </svg></span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="u_name u_cp"><span class="u_one-line">Sr. Dotnet Developer</span></p>
                  </td>
                  <td>
                    <div class="u_table-resource-action">
                      <div class="u_cp u_table-resource-menu"><span class="u_more-menu-icon"><svg width="20" height="20"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                              fill="#4E525F"></path>
                          </svg></span></div>
                      <div class="u_table-resource-buttons"><span class="u_icon-rollover u_cp u_ml-5"
                          aria-describedby="popup-7433"><svg width="16" height="16" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M26 5.2h8v3.2h-3.2v24a1.6 1.6 0 01-1.6 1.6H6.8a1.6 1.6 0 01-1.6-1.6v-24H2V5.2h8V2h16v3.2zm-12.8 8V26h3.2V13.2h-3.2zm6.4 0V26h3.2V13.2h-3.2z"
                              fill="#007AFF"></path>
                          </svg></span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="u_name u_cp"><span class="u_one-line">Jr. Dotnet Developer</span></p>
                  </td>
                  <td>
                    <div class="u_table-resource-action">
                      <div class="u_cp u_table-resource-menu"><span class="u_more-menu-icon"><svg width="20" height="20"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                              fill="#4E525F"></path>
                          </svg></span></div>
                      <div class="u_table-resource-buttons"><span class="u_icon-rollover u_cp u_ml-5"
                          aria-describedby="popup-7434"><svg width="16" height="16" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M26 5.2h8v3.2h-3.2v24a1.6 1.6 0 01-1.6 1.6H6.8a1.6 1.6 0 01-1.6-1.6v-24H2V5.2h8V2h16v3.2zm-12.8 8V26h3.2V13.2h-3.2zm6.4 0V26h3.2V13.2h-3.2z"
                              fill="#007AFF"></path>
                          </svg></span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="u_name u_cp"><span class="u_one-line">React Js Developer</span></p>
                  </td>
                  <td>
                    <div class="u_table-resource-action">
                      <div class="u_cp u_table-resource-menu"><span class="u_more-menu-icon"><svg width="20" height="20"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                              fill="#4E525F"></path>
                          </svg></span></div>
                      <div class="u_table-resource-buttons"><span class="u_icon-rollover u_cp u_ml-5"
                          aria-describedby="popup-7435"><svg width="16" height="16" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M26 5.2h8v3.2h-3.2v24a1.6 1.6 0 01-1.6 1.6H6.8a1.6 1.6 0 01-1.6-1.6v-24H2V5.2h8V2h16v3.2zm-12.8 8V26h3.2V13.2h-3.2zm6.4 0V26h3.2V13.2h-3.2z"
                              fill="#007AFF"></path>
                          </svg></span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="u_name u_cp"><span class="u_one-line">Angular, &amp; Dotnet Developer</span></p>
                  </td>
                  <td>
                    <div class="u_table-resource-action">
                      <div class="u_cp u_table-resource-menu"><span class="u_more-menu-icon"><svg width="20" height="20"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                              fill="#4E525F"></path>
                          </svg></span></div>
                      <div class="u_table-resource-buttons"><span class="u_icon-rollover u_cp u_ml-5"
                          aria-describedby="popup-7436"><svg width="16" height="16" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M26 5.2h8v3.2h-3.2v24a1.6 1.6 0 01-1.6 1.6H6.8a1.6 1.6 0 01-1.6-1.6v-24H2V5.2h8V2h16v3.2zm-12.8 8V26h3.2V13.2h-3.2zm6.4 0V26h3.2V13.2h-3.2z"
                              fill="#007AFF"></path>
                          </svg></span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="u_name u_cp"><span class="u_one-line">Angular Developer</span></p>
                  </td>
                  <td>
                    <div class="u_table-resource-action">
                      <div class="u_cp u_table-resource-menu"><span class="u_more-menu-icon"><svg width="20" height="20"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                              fill="#4E525F"></path>
                          </svg></span></div>
                      <div class="u_table-resource-buttons"><span class="u_icon-rollover u_cp u_ml-5"
                          aria-describedby="popup-7437"><svg width="16" height="16" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M26 5.2h8v3.2h-3.2v24a1.6 1.6 0 01-1.6 1.6H6.8a1.6 1.6 0 01-1.6-1.6v-24H2V5.2h8V2h16v3.2zm-12.8 8V26h3.2V13.2h-3.2zm6.4 0V26h3.2V13.2h-3.2z"
                              fill="#007AFF"></path>
                          </svg></span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="u_name u_cp"><span class="u_one-line">Dot Net Developer</span></p>
                  </td>
                  <td>
                    <div class="u_table-resource-action">
                      <div class="u_cp u_table-resource-menu"><span class="u_more-menu-icon"><svg width="20" height="20"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                              fill="#4E525F"></path>
                          </svg></span></div>
                      <div class="u_table-resource-buttons"><span class="u_icon-rollover u_cp u_ml-5"
                          aria-describedby="popup-7438"><svg width="16" height="16" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M26 5.2h8v3.2h-3.2v24a1.6 1.6 0 01-1.6 1.6H6.8a1.6 1.6 0 01-1.6-1.6v-24H2V5.2h8V2h16v3.2zm-12.8 8V26h3.2V13.2h-3.2zm6.4 0V26h3.2V13.2h-3.2z"
                              fill="#007AFF"></path>
                          </svg></span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="u_name u_cp"><span class="u_one-line">Dotnet Developer</span></p>
                  </td>
                  <td>
                    <div class="u_table-resource-action">
                      <div class="u_cp u_table-resource-menu"><span class="u_more-menu-icon"><svg width="20" height="20"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                              fill="#4E525F"></path>
                          </svg></span></div>
                      <div class="u_table-resource-buttons"><span class="u_icon-rollover u_cp u_ml-5"
                          aria-describedby="popup-7439"><svg width="16" height="16" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M26 5.2h8v3.2h-3.2v24a1.6 1.6 0 01-1.6 1.6H6.8a1.6 1.6 0 01-1.6-1.6v-24H2V5.2h8V2h16v3.2zm-12.8 8V26h3.2V13.2h-3.2zm6.4 0V26h3.2V13.2h-3.2z"
                              fill="#007AFF"></path>
                          </svg></span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="u_name u_cp"><span class="u_one-line">Senior BDM</span></p>
                  </td>
                  <td>
                    <div class="u_table-resource-action">
                      <div class="u_cp u_table-resource-menu"><span class="u_more-menu-icon"><svg width="20" height="20"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                              fill="#4E525F"></path>
                          </svg></span></div>
                      <div class="u_table-resource-buttons"><span class="u_icon-rollover u_cp u_ml-5"
                          aria-describedby="popup-7440"><svg width="16" height="16" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M26 5.2h8v3.2h-3.2v24a1.6 1.6 0 01-1.6 1.6H6.8a1.6 1.6 0 01-1.6-1.6v-24H2V5.2h8V2h16v3.2zm-12.8 8V26h3.2V13.2h-3.2zm6.4 0V26h3.2V13.2h-3.2z"
                              fill="#007AFF"></path>
                          </svg></span></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div
        style="position: absolute; height: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; left: 2px; border-radius: 3px; visibility: hidden;">
        <div class="u_scroll-bar"
          style="position: relative; display: block; height: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); width: 0px;">
        </div>
      </div>
      <div
        style="position: absolute; width: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; top: 2px; border-radius: 3px; visibility: visible;">
        <div class="u_scroll-bar"
          style="position: relative; display: block; width: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); height: 214px; transform: translateY(0px);">
        </div>
      </div>
    </div>
  </div>
  <div class="u_pagination " id="u_pagination">
    <div class="u_pagination-record u_flex u_align-center"><span class="u_pagination-title u_mr-10">Entries</span>
      <div class="u_pagination-record-wpr">
        <div class=" css-2b097c-container"><span aria-live="polite" aria-atomic="false" aria-relevant="additions text"
            class="css-7pg0cj-a11yText"></span>
          <div class="u_record__control css-yk16xz-control">
            <div class="u_record__value-container u_record__value-container--has-value css-1hwfws3">
              <div class="u_record__single-value css-1uccc91-singleValue">40</div><input id="react-select-64-input"
                readonly="" tabindex="0" aria-autocomplete="list" class="css-62g3xt-dummyInput" value="">
            </div>
            <div class="u_record__indicators css-1wy0on6"><span
                class="u_record__indicator-separator css-1okebmr-indicatorSeparator"></span>
              <div class="u_record__indicator u_record__dropdown-indicator css-tlfecz-indicatorContainer"
                aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false"
                  class="css-8mmkcg">
                  <path
                    d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                  </path>
                </svg></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="u_flex">
      <li class="previous disabled"><a class="u_pagination-link u_pagination-link-previous" tabindex="0" role="button"
          aria-disabled="true" aria-label="Previous page" rel="prev"><svg width="15" height="15" viewBox="0 0 36 36"
            fill="none" xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path class="u_fill" d="M15.11 18l12.446 12.445L24 34 8 18 24 2l3.556 3.555L15.11 18z" fill="#4E525F">
            </path>
          </svg></a></li>
      <li class="selected"><a role="button" class="u_pagination-link u_pagination-link-active" tabindex="0"
          aria-label="Page 1 is your current page" aria-current="page">1</a></li>
      <li class="next disabled"><a class="u_pagination-link u_pagination-link-next" tabindex="0" role="button"
          aria-disabled="true" aria-label="Next page" rel="next"><svg width="15" height="15" viewBox="0 0 36 36"
            fill="none" xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path class="u_fill" d="M20.445 18L8 5.555 11.555 2l16 16-16 16L8 30.445 20.445 18z" fill="#4E525F"></path>
          </svg></a></li>
    </ul>
  </div>
</div>
