<div class="u_profile-layout-wpr">
  <div class="u_scroll-section undefined" style="position: relative; overflow: hidden; width: 100%; height: 100%;">
    <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
      <form>
        <div class="u_content-header">
          <div class="u_flex u_align-center">
            <h5>Emergency Contact</h5>
          </div>
        </div>
        <div class="u_content-form">
          <div class="u_content-subheader small u_p-20">
            <h4 class="u_flex u_align-center m-0">Emergency Contact 1</h4>
            <div class="u_flex u_align-center ">
              <div class="u_ib ">
                <div class="u_checkbox "><input id="primary0" name="primary0" type="checkbox" checked><label
                    for="primary0"><span>Primary Contact</span></label></div>
              </div>
            </div>
          </div>
          <div class="u_row u_mb-5 u_p-20">
            <div class="u_col-4 u_mb-25 ">
              <div class="u_input"><input type="text" placeholder=" " autocomplete="off" value><label>Name
                  <span>*</span></label></div>
            </div>
            <div class="u_col-4 u_mb-25 ">
              <div class="form-group-wrapper">
                <div class="form-group-main border-0 position-relative">
                  <ng-select placeholder="Relationship">
                    <ng-option>Brother</ng-option>
                    <ng-option>Sister</ng-option>
                    <ng-option>Mother</ng-option>
                    <ng-option>Father</ng-option>
                    <ng-option>Spouse</ng-option>
                  </ng-select>
                  <label class="position-absolute m-0 bg-white">Relationship <span class="text-danger">*</span></label>
                </div>
              </div>
            </div>
            <div class="u_col-4 u_mb-25 ">
              <div class="u_input u_input-focused">
                <div class="u_flex u_country">
                  <div class="u_country-section "><span class="u_country-selected u_flex u_align-center u_cp"><i
                        class="u_flag IN"></i>+91</span>
                    <div class="u_country-dropdown"></div>
                  </div>
                  <div class="u_form-phonenum"><input min="0" type="number" placeholder=" " name="phoneNumber"
                      autocomplete="off" value></div>
                </div><label>Mobile Number <span>*</span></label>
              </div>
            </div>
            <div class="u_col-4 ">
              <div class="u_input u_input-focused">
                <div class="u_flex u_country">
                  <div class="u_country-section "><span class="u_country-selected u_flex u_align-center u_cp"><i
                        class="u_flag IN"></i>+91</span>
                    <div class="u_country-dropdown"></div>
                  </div>
                  <div class="u_form-phonenum"><input min="0" type="number" placeholder=" " name="phoneNumber"
                      autocomplete="off" value></div>
                </div><label>Home Phone </label>
              </div>
            </div>
            <div class="u_col-4 ">
              <div class="u_input"><input type="text" placeholder=" " name="email 0" autocomplete="off"
                  value><label>Email </label></div>
            </div>
          </div>
          <div class="small u_pl-20">
            <h4>Current Address</h4>
          </div>
          <div class="u_content-form u_p-20">
            <div class="u_row">
              <div class="u_col-4 u_mb-25 ">
                <div class="u_input"><input type="text" placeholder=" " name="address1 0" autocomplete="off"
                    value><label>Address 1 <span>*</span></label></div>
              </div>
              <div class="u_col-4 u_mb-25 ">
                <div class="u_input"><input type="text" placeholder=" " name="address20" autocomplete="off"
                    value><label>Address 2 </label></div>
              </div>
              <div class="u_col-4 u_mb-25 ">
                <div class="u_input"><input type="text" placeholder=" " name="city0" autocomplete="off"
                    value><label>City <span>*</span></label></div>
              </div>
              <div class="u_col-4 u_mb-25 ">
                <div class="form-group-wrapper">
                  <div class="form-group-main border-0 position-relative">
                    <ng-select [items]="countries" bindLabel="label" placeholder="Select a Country"> 
                    </ng-select>
                    <label class="position-absolute m-0 bg-white">Country <span class="text-danger">*</span></label>
                  </div>
                </div>
              </div>
              <div class="u_col-4 u_mb-25 ">
                <div class="form-group-wrapper">
                  <div class="form-group-main border-0 position-relative">
                    <ng-select [items]="countries" bindLabel="label" placeholder="Select a Country">
                    </ng-select>
                    <label class="position-absolute m-0 bg-white">Country <span class="text-danger">*</span></label>
                  </div>
                </div>
              </div>
              <div class="u_col-4  ">
                <div class="u_input"><input min="0" type="number" placeholder=" " name="zip0" autocomplete="off"
                    value><label>Pin Code <span>*</span></label></div>
              </div>
            </div>
          </div>
          <div class="small u_pl-20 u_flex ">
            <h4 class="u_pr-20">Permanent Address</h4>
            <div class="u_checkbox "><input id="isAddSameAsPermanent0" name="isAddSameAsPermanent0"
                type="checkbox"><label for="isAddSameAsPermanent0"><span>Same as
                  Current Address</span></label></div>
          </div>
          <div class="u_content-form u_p-20">
          <div class="u_row">
            <div class="u_col-4 u_mb-25 ">
              <div class="u_input"><input type="text" placeholder=" " name="address1 0" autocomplete="off" value><label>Address 1
                  <span>*</span></label></div>
            </div>
            <div class="u_col-4 u_mb-25 ">
              <div class="u_input"><input type="text" placeholder=" " name="address20" autocomplete="off" value><label>Address 2
                </label></div>
            </div>
            <div class="u_col-4 u_mb-25 ">
              <div class="u_input"><input type="text" placeholder=" " name="city0" autocomplete="off" value><label>City
                  <span>*</span></label></div>
            </div>
            <div class="u_col-4 u_mb-25 ">
              <div class="form-group-wrapper">
                <div class="form-group-main border-0 position-relative">
                  <ng-select [items]="countries" bindLabel="label" placeholder="Select a Country">
                  </ng-select>
                  <label class="position-absolute m-0 bg-white">Country <span class="text-danger">*</span></label>
                </div>
              </div>
            </div>
            <div class="u_col-4 u_mb-25 ">
              <div class="form-group-wrapper">
                <div class="form-group-main border-0 position-relative">
                  <ng-select [items]="countries" bindLabel="label" placeholder="Select a Country">
                  </ng-select>
                  <label class="position-absolute m-0 bg-white">Country <span class="text-danger">*</span></label>
                </div>
              </div>
            </div>
            <div class="u_col-4  ">
              <div class="u_input"><input min="0" type="number" placeholder=" " name="zip0" autocomplete="off" value><label>Pin
                  Code <span>*</span></label></div>
            </div>
          </div>
          </div>
          <div class="u_pl-20"><button class="u_btn__dashed  " type="button"><svg width="14" height="14"
                viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class="u_mr-10"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <path class="u_fill" d="M15.714 15.714V2h4.572v13.714H34v4.572H20.286V34h-4.572V20.286H2v-4.572h13.714z"
                  fill="#007AFF"></path>
              </svg>Add New </button></div>
        </div>
      </form>
    </div>
  </div>
</div>