<div data-testid="overlay" data-popup="modal" class="popup-overlay "
  tabindex="-1"
  style="position: fixed; inset: 0px; display: flex; z-index: 999; pointer-events: auto;">
  <div class="popup-content " role="dialog" id="popup-3778"
    style="position: relative; margin: auto; z-index: 999; pointer-events: auto;">
    <div class="u_side-modal active u_attendance-reg-modal">
      <div class="u_modal-overlay"></div>
      <div class="u_side-modal-layout" style="max-width: 550px;">
        <div class="u_side-modal-header u_flex u_align-center u_content-between"
          id="u_side-modal-header">
          <div class="u_task-header-left">
            <h4 class="mb-0">Enter PIN</h4>
          </div>
          <div class="u_task-header-right u_flex u_align-center">
            <div class="u_close-btn__blue" [mat-dialog-close]="true"><svg
                width="14" height="14" viewBox="0 0 36 36" fill="none"
                xmlns="http://www.w3.org/2000/svg" class
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <path class="u_fill-stroke"
                  d="M18 14.557L7.08 3.637l-.142-.142-.142.141-3.16 3.16-.141.142.141.141L14.557 18 3.637 28.92l-.142.142.141.142 3.16 3.16.142.141.141-.141L18 21.443l10.92 10.92.142.142.142-.141 3.16-3.16.141-.142-.141-.141L21.443 18l10.92-10.922.142-.141-.141-.142-3.16-3.16-.142-.141-.141.141L18 14.557z"
                  stroke="73788B" fill="#007AFF" stroke-width="0.4"></path>
              </svg></div>
          </div>
        </div>
        <div class="u_side-modal-body" id="u_side-modal-body"
          style="max-height: calc(554px);">
          <div class="u_payroll-otp u_p-20">
            <div class="u_payroll-otp-image"><img
                src="/images/payroll/payroll-otp.svg" alt="Payroll OTP">
            </div>
            <div class="u_payroll-otp-user u_mb-20">
              <h4 class="u_mb-5">Hi, Abhishek Mayani</h4>
              <p class="u_small-font">Please Enter Superworks PIN here</p>
            </div>
            <div class="u_payroll-otp-section">
              <div class="u_otp-container" style="display: flex;">
                <div style="display: flex; align-items: center;"><input
                    aria-label="Please enter verification code. Digit 1"
                    autocomplete="off"
                    class="u_input" type="password" maxlength="1" value
                    style="width: 1em; text-align: center;"><span> </span></div>
                <div style="display: flex; align-items: center;"><input
                    aria-label="Digit 2"
                    autocomplete="off" class="u_input" type="password"
                    maxlength="1" value
                    style="width: 1em; text-align: center;"><span> </span></div>
                <div style="display: flex; align-items: center;"><input
                    aria-label="Digit 3"
                    autocomplete="off" class="u_input" type="password"
                    maxlength="1" value
                    style="width: 1em; text-align: center;"><span> </span></div>
                <div style="display: flex; align-items: center;"><input
                    aria-label="Digit 4"
                    autocomplete="off" class="u_input" type="password"
                    maxlength="1" value
                    style="width: 1em; text-align: center;"></div>
              </div>
            </div>
            <div class="u_payroll-otp-forgot"><span
                class="u_error"></span></div>
          </div>
        </div>
        <div class="u_side-modal-footer" id="u_side-modal-footer"></div>
      </div>
    </div>
  </div>
</div>
