<div data-testid="overlay" data-popup="modal" class="popup-overlay "
  tabindex="-1"
  style="position: fixed; inset: 0px; display: flex; z-index: 1001; pointer-events: auto;">
  <div class="popup-content " role="dialog" id="popup-2761"
    style="position: relative; margin: auto; z-index: 1001; pointer-events: auto;">
    <div class="u_side-modal active ">
      <div class="u_modal-overlay"></div>
      <div class="u_side-modal-layout" style="max-width: 800px;">
        <div class="u_side-modal-header u_flex u_align-center u_content-between"
          id="u_side-modal-header">
          <div class="u_task-header-left">
            <h4 class="mb-0">Add Bank Account</h4>
          </div>
          <div class="u_task-header-right u_flex u_align-center">
            <div class="u_close-btn__blue" [mat-dialog-close]="true"><svg
                width="14" height="14" viewBox="0 0 36 36" fill="none"
                xmlns="http://www.w3.org/2000/svg" class
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <path class="u_fill-stroke"
                  d="M18 14.557L7.08 3.637l-.142-.142-.142.141-3.16 3.16-.141.142.141.141L14.557 18 3.637 28.92l-.142.142.141.142 3.16 3.16.142.141.141-.141L18 21.443l10.92 10.92.142.142.142-.141 3.16-3.16.141-.142-.141-.141L21.443 18l10.92-10.922.142-.141-.141-.142-3.16-3.16-.142-.141-.141.141L18 14.557z"
                  stroke="73788B" fill="#007AFF" stroke-width="0.4"></path>
              </svg></div>
          </div>
        </div>
        <div class="u_side-modal-body" id="u_side-modal-body"
          style="max-height: calc(639px);">
          <form>
            <div class="u_p-20 u_add-bank-account">
              <div class="u_row">
                <div class="u_col-6 u_mb-25">
                  <div class="u_input u_input-select">
                    <div class="u_input-select-inner css-2b097c-container"><span
                        aria-live="polite"
                        aria-atomic="false" aria-relevant="additions text"
                        class="css-7pg0cj-a11yText"></span>
                      <div class="u_select__control css-yk16xz-control">
                        <div class="u_select__value-container css-1hwfws3">
                          <div
                            class="u_select__placeholder css-1wa3eu0-placeholder">
                          </div>
                          <div class="css-1g6gooi">
                            <div class="u_select__input"
                              style="display: inline-block;">
                              <input autocapitalize="none" autocomplete="off"
                                autocorrect="off" id="react-select-82-input"
                                spellcheck="false" tabindex="0" type="text"
                                aria-autocomplete="list" value
                                style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                              <div
                                style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="u_select__indicators css-1wy0on6"><span
                            class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                          <div
                            class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                            aria-hidden="true"><svg height="20" width="20"
                              viewBox="0 0 20 20" aria-hidden="true"
                              focusable="false"
                              class="css-8mmkcg">
                              <path
                                d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                              </path>
                            </svg></div>
                        </div>
                      </div><input name="bankId" type="hidden" value>
                    </div><label>Bank Name <span>*</span></label>
                  </div>
                </div>
                <div class="u_col-6 u_mb-25">
                  <div class="u_input"><input type="text" placeholder=" "
                      name="branch"
                      autocomplete="off" value><label>Bank Branch
                      <span>*</span></label></div>
                </div>
                <div class="u_col-6 u_mb-25">
                  <div class="u_input"><input min="0" type="number"
                      placeholder=" " name="accountNo"
                      autocomplete="off" value><label>Account Number
                      <span>*</span></label>
                  </div>
                </div>
                <div class="u_col-6 u_mb-25">
                  <div class="u_input u_input-select">
                    <div class="u_input-select-inner css-2b097c-container"><span
                        aria-live="polite"
                        aria-atomic="false" aria-relevant="additions text"
                        class="css-7pg0cj-a11yText"></span>
                      <div class="u_select__control css-yk16xz-control">
                        <div class="u_select__value-container css-1hwfws3">
                          <div
                            class="u_select__placeholder css-1wa3eu0-placeholder">
                          </div>
                          <div class="css-1g6gooi">
                            <div class="u_select__input"
                              style="display: inline-block;">
                              <input autocapitalize="none" autocomplete="off"
                                autocorrect="off" id="react-select-83-input"
                                spellcheck="false" tabindex="0" type="text"
                                aria-autocomplete="list" value
                                style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                              <div
                                style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="u_select__indicators css-1wy0on6"><span
                            class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                          <div
                            class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                            aria-hidden="true"><svg height="20" width="20"
                              viewBox="0 0 20 20" aria-hidden="true"
                              focusable="false"
                              class="css-8mmkcg">
                              <path
                                d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                              </path>
                            </svg></div>
                        </div>
                      </div>
                    </div><label>Account Type <span>*</span></label>
                  </div>
                </div>
                <div class="u_col-6 u_mb-10">
                  <div class="u_input"><input type="text" placeholder=" "
                      name="ifsc"
                      autocomplete="off" value><label>IFSC Code
                      <span>*</span></label></div>
                </div>
              </div>
            </div>
            <div class="u_modal-buttons"><button type="button"
                class="u_btn white small u_btn__white"
                [mat-dialog-close]="true">cancel</button><button type="button"
                class="u_btn blue small u_btn__blue"
                [mat-dialog-close]="true">save</button></div>
          </form>
        </div>
        <div class="u_side-modal-footer" id="u_side-modal-footer"></div>
      </div>
    </div>
  </div>
</div>
