<div class="u_profile-layout-wpr">
  <div class="u_scroll-section undefined">
    <form autocomplete="off" [formGroup]="addressForm" (ngSubmit)="saveAddressInfo()">
      <div class="u_content-header">
        <div class="u_flex u_align-center">
          <h5 class="u_text-bold">Address</h5>
        </div>
        <div class="u_flex">
          <button type="button" class="u_btn white small u_btn__white" (click)="discardChanges()"
            *ngIf="formChanged">Discard</button>
          <button type="submit" class="u_btn u_ml-10 blue small u_ml-10 u_btn__blue" *ngIf="formChanged">Save</button>
        </div>
      </div>
      <div class="u_content-subheader small u_p-20">
        <h5 class="u_text-bold">Current Address</h5>
      </div>
      <div class="u_content-form u_p-20">
        <div class="u_row">
          <div class="u_col-4 u_mb-25 ">
            <div class="u_input">
              <input type="text" placeholder="Address 1" formControlName="addressOne" autocomplete="off">
              <label>Address 1<span>*</span></label>
            </div>
          </div>
          <div class="u_col-4 u_mb-25 ">
            <div class="u_input">
              <input type="text" placeholder="Address 2" autocomplete="off" formControlName="addressTwo">
              <label>Address 2 </label>
            </div>
          </div>
          <div class="u_col-4 u_mb-25 ">
            <div class="u_input">
              <input type="text" placeholder="city" autocomplete="off" formControlName="city">
              <label>City <span>*</span></label>
            </div>
          </div>
          <div class="u_col-4 u_mb-25 ">
            <div class="form-group-wrapper">
              <div class="form-group-main border-0 position-relative">
                <ng-select [items]="countries" bindLabel="label" placeholder="Select a Country"
                  formControlName="country">
                </ng-select>
                <label class="position-absolute m-0 bg-white">Country <span class="text-danger">*</span></label>
              </div>
            </div>
          </div>
          <div class="u_col-4 u_mb-25 ">
            <div class="form-group-wrapper">
              <div class="form-group-main border-0 position-relative">
                <ng-select [items]="countries" bindLabel="label" placeholder="Select a State" formControlName="state">
                </ng-select>
                <label class="position-absolute m-0 bg-white">State <span class="text-danger">*</span></label>
              </div>
            </div>
          </div>
          <div class="u_col-4  ">
            <div class="u_input">
              <input min="0" type="number" placeholder=" Pin Code" autocomplete="off" formControlName="pincode"><label>Pin Code
                <span>*</span></label>
            </div>
          </div>
        </div>
      </div>
      <div class="u_content-subheader small u_p-20">
        <h5 class="u_text-bold">Permanent Address</h5>
        <div class="u_checkbox undefined">
          <input id="currentField" type="checkbox" label="Same as Current Address">
          <label for="currentField"><span>Same as Current Address</span></label>
        </div>
      </div>
      <div class="u_content-form u_p-20">
        <div class="u_row">
          <div class="u_col-4 u_mb-25 ">
            <div class="u_input">
              <input type="text" placeholder="Address 1 " autocomplete="off" formControlName="pAddressOne"><label>Address
                1<span>*</span></label>
            </div>
          </div>
          <div class="u_col-4 u_mb-25 ">
            <div class="u_input">
              <input type="text" placeholder=" Address 2" autocomplete="off" formControlName="pAddressTwo"><label>Address 2
              </label>
            </div>
          </div>
          <div class="u_col-4 u_mb-25 ">
            <div class="u_input">
              <input type="text" placeholder=" " autocomplete="off"
                formControlName="pcity"><label>City<span>*</span></label>
            </div>
          </div>
          <div class="u_col-4 u_mb-25 ">
            <div class="form-group-wrapper">
              <div class="form-group-main border-0 position-relative">
                <ng-select [items]="countries" bindLabel="label" placeholder="Select a Country"
                  formControlName="pCountry">
                </ng-select>
                <label class="position-absolute m-0 bg-white">Country <span class="text-danger">*</span></label>
              </div>
            </div>
          </div>
          <div class="u_col-4 u_mb-25 ">
            <div class="form-group-wrapper">
              <div class="form-group-main border-0 position-relative">
                <ng-select [items]="countries" bindLabel="label" placeholder="Select a State" formControlName="pState">
                </ng-select>
                <label class="position-absolute m-0 bg-white">State <span class="text-danger">*</span></label>
              </div>
            </div>
          </div>
          <div class="u_col-4  ">
            <div class="u_input">
              <input min="0" type="number" placeholder="Pin Code" autocomplete="off" formControlName="ppcode">
              <label>Pin Code <span>*</span></label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>