<div class="u_profile-layout-wpr u-scroll-wrapper">
  <div class="u_scroll-section "
    style="position: relative; overflow: hidden; width: 100%; height: 100%;">
    <div
      style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;"
      class="u-scroll-new">
      <div class="u_flex u_flex-col u_h-full">
        <div class="u_job-information u_flex-info">
          <div class="u_content-header" id="u_content-header">
            <h5 class="mb-0">0<span> Asset</span></h5>
          </div>
          <div class="u_scroll-section "
            style="position: relative; overflow: hidden; width: 100%; height: 100%;">
            <div style="position: absolute; inset: 0px; overflow: auto;">
              <div
                class="u_table-resource u_table-resource-nowrap u_table-resource-no-sticky">
                <table>
                  <thead class="u_table-resource-header">
                    <tr>
                      <th>Asset
                        Id</th>
                      <th>Asset Name</th>
                      <th>Category</th>
                      <th>Serial
                        Number</th>
                      <th class="u_text-left">Condition</th>
                      <th class="u_text-center">Action
                        By</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
              <div class="u_no-data-found u_text-center">
                <div class="u_no-data-found-inner">
                  <div class="u_no-data-found-img">
                    <img
                      src="../../../../assets//images/dashboard/no-data-display.svg"
                      alt="No data to display">
                  </div>
                  <div class="u_no-data-found-text u_mt-30">
                    <h4>No data to
                      display</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
