<div class="u_sm active u_sidebar-modal right">
  <div class="false u_sm-overlay"></div>
  <div class="u_sm-layout" style="max-width: 500px;">
    <div class="u_sm-header" id="u_sm-header">
      <div class="u_sm-header-left">
        <h4>On Leave <span style="font-size: 14px;">(2)</span></h4>
      </div>
      <div class="u_sm-header-right">
        <div class="u_sm-close" (click)="close()"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
            xmlns="http://www.w3.org/2000/svg" class xmlns:xlink="http://www.w3.org/1999/xlink">
            <path class="u_fill-stroke"
              d="M18 14.557L7.08 3.637l-.142-.142-.142.141-3.16 3.16-.141.142.141.141L14.557 18 3.637 28.92l-.142.142.141.142 3.16 3.16.142.141.141-.141L18 21.443l10.92 10.92.142.142.142-.141 3.16-3.16.141-.142-.141-.141L21.443 18l10.92-10.922.142-.141-.141-.142-3.16-3.16-.142-.141-.141.141L18 14.557z"
              stroke="73788B" fill="#007AFF" stroke-width="0.4"></path>
          </svg></div>
      </div>
    </div>
    <div class="u_sm-body" id="u_sm-body" style="max-height: calc(653px);">
      <div class="u_p-15 u_h-full">
        <div class="u_filter u_pb-15">
          <div class="u_select css-2b097c-container"><span aria-live="polite" aria-atomic="false"
              aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
            <div class="u_select__control css-yk16xz-control">
              <div class="u_select__value-container u_select__value-container--has-value css-1hwfws3">
                <div class="u_select__single-value css-1uccc91-singleValue">Today</div>
                <div class="css-1g6gooi">
                  <div class="u_select__input" style="display: inline-block;"><input autocapitalize="none"
                      autocomplete="off" autocorrect="off" id="react-select-24-input" spellcheck="false" tabindex="0"
                      type="text" aria-autocomplete="list" value
                      style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                    <div
                      style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 12px; font-family: Arial; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;">
                    </div>
                  </div>
                </div>
              </div>
              <div class="u_select__indicators css-1wy0on6"><span
                  class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                  aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                    focusable="false" class="css-8mmkcg">
                    <path
                      d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                    </path>
                  </svg></div>
              </div>
            </div>
          </div>
        </div>
        <div class="u_h-full">
          <ul class="u_users u_h-full">
            <div class="u_scroll-section undefined"
              style="position: relative; overflow: hidden; width: 100%; height: 100%;">
              <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
                <li>
                  <div class="u_users-birthday-name">
                    <div class="u_cp u_flex-shrink" aria-describedby="popup-7050">
                      <div class="u_avatar ">
                        <div class="u_avatar-content "
                          style="background-color: rgb(0, 153, 255); width: 36px; height: 36px;"><span class="u_m-auto"
                            style="font-size: 1.2rem; line-height: 1.2rem;">VG</span></div>
                      </div>
                    </div>
                    <div class="u_users-details">
                      <h3 class="u_flex u_align-center u_one-line">Vidhi
                        Gajera<span class="u_flex u_ml-10" aria-describedby="popup-7051"><svg width="14" height="14"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                              d="M19 34h-2c-.39-.048-.782-.09-1.17-.146-3.207-.459-6.037-1.748-8.45-3.908-2.752-2.463-4.472-5.519-5.13-9.159-.107-.59-.168-1.19-.25-1.787v-2c.048-.39.089-.782.145-1.172.504-3.487 1.974-6.505 4.443-9.02 2.396-2.44 5.284-3.968 8.656-4.562.582-.103 1.17-.165 1.756-.246h2c.545.071 1.093.124 1.634.216 2.994.513 5.644 1.76 7.917 3.776 2.797 2.48 4.545 5.563 5.203 9.251.104.582.165 1.17.245 1.757v2c-.017.08-.045.16-.052.241-.187 2.458-.89 4.76-2.168 6.865-2.538 4.175-6.212 6.743-11.025 7.649-.579.11-1.169.164-1.754.245zM17.995 4.672c-7.364.008-13.338 5.99-13.322 13.34A13.33 13.33 0 0017.99 31.328c7.351.015 13.335-5.963 13.337-13.325.003-7.36-5.975-13.337-13.331-13.33z"
                              fill="#1E2538"></path>
                            <path class="u_fill"
                              d="M18.328 18.009c0 3.218 0 6.437.002 9.656 0 .298-.02.583-.24.815-.227.24-.512.286-.827.281a10.786 10.786 0 01-10.19-7.828c-1.781-6.28 2.418-12.7 8.903-13.602.442-.061.892-.077 1.34-.09.655-.017 1.01.33 1.01.988.005 2.114.002 4.23.002 6.344v3.436z"
                              fill="#9A5BFF"></path>
                          </svg></span></h3>
                      <p>Research
                        And Development</p>
                    </div>
                  </div>
                  <p class="u_users-date">May 13 - May 24, 2024</p>
                </li>
                <li>
                  <div class="u_users-birthday-name">
                    <div class="u_cp u_flex-shrink" aria-describedby="popup-7052">
                      <div class="u_avatar ">
                        <div class="u_avatar-content "
                          style="background-color: rgb(245, 185, 113); width: 36px; height: 36px;"><span
                            class="u_m-auto" style="font-size: 1.2rem; line-height: 1.2rem;">RV</span></div>
                      </div>
                    </div>
                    <div class="u_users-details">
                      <h3 class="u_flex u_align-center u_one-line">Raj
                        Verma</h3>
                      <p>Research And Development</p>
                    </div>
                  </div>
                  <p class="u_users-date">Wed 22 May, 2024</p>
                </li>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
