<div class="u_settings-content u_flex u_flex-col" style="height: 100%; width: 100%;">
  <form class="u_flex u_flex-col u_h-full">
    <div class="u_settings-header u_p-20 " id="u_settings-header">
      <div class="u_settings-header-title ">
        <h5 class="u_mb-5 mb-2">Profile Update Requests</h5>
        <p>For which change admin will get notify.</p>
      </div>
      <div class="u_settings-header-list">
        <div class="u_flex u_align-center u_content-end"></div>
      </div>
    </div>
    <div class="u_layout-scrollview">
      <div class="u_scroll-section " style="position: relative; overflow: hidden; width: 100%; height: 100%;">
        <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
          <div class="u_inbox-setting u_p-20">
            <div class="u_inbox-setting-group ">
              <div class="u_toggle-switch "><input type="checkbox" id="profileImage" readonly=""><label
                  for="profileImage"></label></div><span>Profile Picture</span>
            </div>
            <div class="u_inbox-setting-group ">
              <div class="u_toggle-switch "><input type="checkbox" id="firstName" readonly="" checked=""><label
                  for="firstName"></label></div><span>First Name</span>
            </div>
            <div class="u_inbox-setting-group ">
              <div class="u_toggle-switch "><input type="checkbox" id="lastName" readonly="" checked=""><label
                  for="lastName"></label></div><span>Last Name</span>
            </div>
            <div class="u_inbox-setting-group ">
              <div class="u_toggle-switch "><input type="checkbox" id="displayName" readonly=""><label
                  for="displayName"></label></div><span>Display Name</span>
            </div>
            <div class="u_inbox-setting-group ">
              <div class="u_toggle-switch "><input type="checkbox" id="dob" readonly="" checked=""><label
                  for="dob"></label></div><span>Date Of Birth</span>
            </div>
            <div class="u_inbox-setting-group ">
              <div class="u_toggle-switch "><input type="checkbox" id="maritalStatus" readonly="" checked=""><label
                  for="maritalStatus"></label></div><span>Marital Status</span>
            </div>
            <div class="u_inbox-setting-group ">
              <div class="u_toggle-switch "><input type="checkbox" id="gender" readonly="" checked=""><label
                  for="gender"></label></div><span>Gender</span>
            </div>
            <div class="u_inbox-setting-group ">
              <div class="u_toggle-switch "><input type="checkbox" id="bornPlace" readonly="" checked=""><label
                  for="bornPlace"></label></div><span>Place Of Birth</span>
            </div>
            <div class="u_inbox-setting-group ">
              <div class="u_toggle-switch "><input type="checkbox" id="nationality" readonly="" checked=""><label
                  for="nationality"></label></div><span>Nationality</span>
            </div>
            <div class="u_inbox-setting-group ">
              <div class="u_toggle-switch "><input type="checkbox" id="bloodGroup" readonly="" checked=""><label
                  for="bloodGroup"></label></div><span>Blood Group</span>
            </div>
            <div class="u_inbox-setting-group ">
              <div class="u_toggle-switch "><input type="checkbox" id="alternativeEmail" readonly="" checked=""><label
                  for="alternativeEmail"></label></div><span>Personal Email</span>
            </div>
            <div class="u_inbox-setting-group ">
              <div class="u_toggle-switch "><input type="checkbox" id="phoneNumber" readonly="" checked=""><label
                  for="phoneNumber"></label></div><span>Mobile Number</span>
            </div>
            <div class="u_inbox-setting-group ">
              <div class="u_toggle-switch "><input type="checkbox" id="address" readonly="" checked=""><label
                  for="address"></label></div><span>Address</span>
            </div>
            <div class="u_inbox-setting-group ">
              <div class="u_toggle-switch "><input type="checkbox" id="emergencyContact" readonly="" checked=""><label
                  for="emergencyContact"></label></div><span>Emergency Contact Information</span>
            </div>
            <div class="u_inbox-setting-group ">
              <div class="u_toggle-switch "><input type="checkbox" id="bankInfo" readonly="" checked=""><label
                  for="bankInfo"></label></div><span>Bank Information</span>
            </div>
            <div class="u_row u_mt-30">
              <div class="u_col-12"><label class="u_label u_label_header u_mb-15">Does this profile request require an
                  Approval?</label></div>
              <div class="u_col-12 u_mb-10 ">
                <div class="u_flex u_align-center u_mb-10">
                  <div class="u_radio-btn "><input type="radio" id="approval_no" name="approval" label="No"
                      for="approval_no" checked=""><label for="approval_no">No</label></div><span
                    class="u_rollover u_cp u_flex u_ml-10 u_mr-20" aria-describedby="popup-11034"><svg width="18"
                      height="18" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                      xmlns:xlink="http://www.w3.org/1999/xlink">
                      <path class="u_fill"
                        d="M18 2c8.837 0 16 7.163 16 16s-7.163 16-16 16S2 26.837 2 18 9.163 2 18 2Zm1.6 11.2V10h-3.2v3.2h3.2Zm0 12.8v-9.6h-3.2V26h3.2Z"
                        fill="#4E525F"></path>
                    </svg></span>
                  <div class="u_radio-btn "><input type="radio" id="approval_yes" name="approval" label="Yes"
                      for="approval_yes"><label for="approval_yes">Yes</label></div><span
                    class="u_rollover u_cp u_flex u_ml-10" aria-describedby="popup-11035"><svg width="18" height="18"
                      viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                      xmlns:xlink="http://www.w3.org/1999/xlink">
                      <path class="u_fill"
                        d="M18 2c8.837 0 16 7.163 16 16s-7.163 16-16 16S2 26.837 2 18 9.163 2 18 2Zm1.6 11.2V10h-3.2v3.2h3.2Zm0 12.8v-9.6h-3.2V26h3.2Z"
                        fill="#4E525F"></path>
                    </svg></span>
                </div>
              </div>
            </div>
            <div class="u_row ">
              <div class="u_col-4">
                <div class="u_level-select u_flex u_align-center">
                  <div class="u_flex u_align-center u_w-full">
                    <div class="u_level-select-content u_w-full">
                      <div class="u_input u_input-select u_input-select-value">
                        <div class="u_input-select-inner u_multi-select-user css-2b097c-container"><span
                            aria-live="polite" aria-atomic="false" aria-relevant="additions text"
                            class="css-7pg0cj-a11yText"></span>
                          <div class="u_select__control css-yk16xz-control">
                            <div
                              class="u_select__value-container u_select__value-container--is-multi u_select__value-container--has-value css-1hwfws3">
                              <div class="css-1rhbuit-multiValue u_select__multi-value">
                                <div class="css-12jo7m5 u_select__multi-value__label">
                                  <div class="u_flex u_align-center">
                                    <div class="u_avatar ">
                                      <div class="u_avatar-content "
                                        style="background-color: rgb(147, 125, 20); width: 24px; height: 24px;"><span
                                          class="u_m-auto" style="font-size: 0.8rem; line-height: 0.8rem;">SA</span>
                                      </div>
                                    </div>
                                    <p class="u_one-line">System Admin</p>
                                  </div>
                                </div>
                                <div class="css-xb97g8 u_select__multi-value__remove"><svg height="14" width="14"
                                    viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="css-8mmkcg">
                                    <path
                                      d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z">
                                    </path>
                                  </svg></div>
                              </div>
                              <div class="css-1rhbuit-multiValue u_select__multi-value">
                                <div class="css-12jo7m5 u_select__multi-value__label">
                                  <div class="u_flex u_align-center">
                                    <div class="u_avatar ">
                                      <div class="u_avatar-content "
                                        style="background-color: rgb(98, 183, 231); width: 24px; height: 24px;"><span
                                          class="u_m-auto" style="font-size: 0.8rem; line-height: 0.8rem;">Ma</span>
                                      </div>
                                    </div>
                                    <p class="u_one-line">Manager</p>
                                  </div>
                                </div>
                                <div class="css-xb97g8 u_select__multi-value__remove"><svg height="14" width="14"
                                    viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="css-8mmkcg">
                                    <path
                                      d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z">
                                    </path>
                                  </svg></div>
                              </div>
                              <div class="css-1g6gooi">
                                <div class="u_select__input" style="display: inline-block;"><input autocapitalize="none"
                                    autocomplete="off" autocorrect="off" id="react-select-210-input" spellcheck="false"
                                    tabindex="0" type="text" aria-autocomplete="list" value=""
                                    style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                  <div
                                    style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="u_select__indicators css-1wy0on6">
                              <div class="u_select__indicator u_select__clear-indicator css-tlfecz-indicatorContainer"
                                aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                                  focusable="false" class="css-8mmkcg">
                                  <path
                                    d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z">
                                  </path>
                                </svg></div><span
                                class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                              <div
                                class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                                aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                                  focusable="false" class="css-8mmkcg">
                                  <path
                                    d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                  </path>
                                </svg></div>
                            </div>
                          </div>
                          <div><input name="employee" type="hidden" value="65fc0e24eb093c99f0fd78d3"><input
                              name="employee" type="hidden" value="65fc0e24eb093c99f0fd78d4"></div>
                        </div><label>Access Level </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="u_my-15 u_notes u_notes-red">
              <p><strong class="u_task-darkname u_mr-5">Note:</strong>Make sure you only assign employees to the
                approval process who have the rights to approve or reject at their assigned access levels.</p>
            </div>
            <div class="u_mt-20 u_notes u_notes-red">
              <p><strong class="u_task-darkname u_mr-5">Note:</strong>If you have add Line Manager in Access Level then
                make sure that Line Manager is available in Custom UAC OR Default Manager UAC OR Admin UAC. So, That
                Line Manager have Approve &amp; Reject Access.</p>
            </div>
          </div>
        </div>
        <div
          style="position: absolute; height: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; left: 2px; border-radius: 3px; visibility: hidden;">
          <div class="u_scroll-bar"
            style="position: relative; display: block; height: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); width: 0px;">
          </div>
        </div>
        <div
          style="position: absolute; width: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; top: 2px; border-radius: 3px; visibility: visible;">
          <div class="u_scroll-bar"
            style="position: relative; display: block; width: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); height: 282px; transform: translateY(0px);">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
