<div class="u_layout-list">
  <div class="u_header-filters" id="u_header-filters">
    <div class="u_header-filters-title">
      <h5 class="mb-0">54<span> Employees</span></h5>
    </div>
    <div class="u_header-filters-list">
      <div class="u_flex u_align-center u_content-end">
        <div class="u_filter u_filter-search">
          <span class="u_search-icon u_cp">
            <i class="ri-search-line fs-4"></i>
          </span><input type="text" tabindex="0" class="u_input" placeholder="Search" autocomplete="off" value>
        </div>
        <div class="u_filter u_filter-select active">
          <div class=" css-2b097c-container">
            <div class="u_select__control css-yk16xz-control">
              <div class=" u_select__value-container--has-value css-1hwfws3">
                <div class="u_select__single-value css-1uccc91-singleValue">
                  <div class="pending-sel emp-list-icon u_flex u_align-center">
                    <div class="dropdown-container input-bg">
                      <input type="text" placeholder="" [value]="selectedOption">
                      <div class="dropdown-content">
                        <ul>
                          <li data-value="Active Employees">Active
                            Employees</li>
                          <li data-value="All Employees">All Employees</li>
                          <li data-value="Inactive Employees">Inactive
                            Employees</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u_filter" aria-describedby="popup-18323">
          <p class="u_flex u_align-center u_cp" aria-describedby="popup-18324">
            <span class="u_filter-icon"><i class="ri-download-2-line fs-2"></i>
            </span>
          </p>
        </div>
        <div class="u_filter">
          <span class="u_filter-btn u_filter-icon" aria-describedby="popup-18291" (click)="openModal()">
            <span class="u_font u_mr-3">Filter:</span>
            <i class="ri-filter-2-line fs-2"></i>
          </span>
        </div>
        <div class="u_filter">
          <span class="u_add-btn align-items-center justify-content-center" aria-describedby="popup-18292" routerLink="/add-new-employee">
            <i class="fa-solid fa-plus text-white fs-3 m-2"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="u_employee-filter"></div>
  <div class="u_layout-scrollview">
    <div class="u_scroll-section ">
      <div>
        <div class="u_table-resource u_table-resource-nowrap u_table-resource-hover u_employee-list-section">
          <table>
            <thead>
              <tr>
                <th>
                  <div class="u_ib u_cp">
                    <div class="u_flex">Employee Name
                    </div>
                  </div>
                </th>
                <th>
                  <div class="u_ib u_cp">
                    <div class="u_flex">Employee ID</div>
                  </div>
                </th>
                <th>
                  <div class="u_ib u_cp">
                    <div class="u_flex">Email</div>
                  </div>
                </th>
                <th>
                  <div class="u_ib u_cp">
                    <div class="u_flex">Employment Status</div>
                  </div>
                </th>
                <th>
                  <div class="u_ib u_cp">
                    <div class="u_flex">Joining Date</div>
                  </div>
                </th>
                <th>
                  <div class="u_ib u_cp">
                    <div class="u_flex">Job Title</div>
                  </div>
                </th>
                <th>
                  <div class="u_ib u_cp">
                    <div class="u_flex">Category</div>
                  </div>
                </th>
                <th>
                  <div class="u_ib u_cp">
                    <div class="u_flex">Department</div>
                  </div>
                </th>
                <th>
                  <div class="u_ib u_cp">
                    <div class="u_flex">Company</div>
                  </div>
                </th>
                <th>
                  <div class="u_ib u_cp">
                    <div class="u_flex">Gender</div>
                  </div>
                </th>
                <th>
                  <div class="u_ib u_cp">
                    <div class="u_flex">Location</div>
                  </div>
                </th>
                <th>
                  <div class="u_ib u_cp">
                    <div class="u_flex">
                      <span class="u_filter-icon border" aria-describedby="popup-18293" title="Add Column"
                        data-toggle="tooltip">
                        <i class="fa-regular fa-square-plus fs-2"></i>
                      </span>
                    </div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody *ngFor="let employee of employees">
              <tr>
                <!-- {{employee| json}} -->
                <td class="u_table-profile u_table-ename u_ws-initial">
                  <div class="u_flex u_align-center">
                    <div class="u_cp u_flex-shrink" aria-describedby="popup-18332">
                      <div class="u_avatar">
                        <div class="u_avatar-content "
                          style="background-color: rgb(96, 177, 88); width: 36px; height: 36px;">
                          <span class="u_m-auto">{{ employee.firstName ?
                            employee.firstName.charAt(0) : '' }}{{ employee.lastName ?
                            employee.lastName.charAt(0) : '' }}
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="u_flex u_align-center">
                      <span class="u_one-line u_color-blue u_table-label u_cp u_pl-10">{{employee.firstName}}</span>
                    </div>
                  </div>
                </td>
                <td class>{{employee.employeeId}}</td>
                <td class>{{employee.workEmail}}</td>
                <td class>
                  <div class="u_ib">
                    <div class="u_tag u_tag-linear " style="border-color: rgb(96, 177, 88)">
                      <p style="color: rgb(96, 177, 88)">{{employee.employmentStatus?.$ngOptionLabel}}</p>
                    </div>
                  </div>
                </td>
                <td>{{employee.joiningDate.day}} {{employee.joiningDate.month}} ,{{employee.joiningDate.year}}
                </td>
                <td>{{employee.jobTitle?.$ngOptionLabel}}</td>
                <td>{{employee.category?.$ngOptionLabel}}</td>
                <td>{{employee.department?.$ngOptionLabel}}</td>
                <td>{{employee.companyName?.$ngOptionLabel}}</td>
                <td>{{employee.gender?.$ngOptionLabel}}</td>
                <td>{{employee.location?.$ngOptionLabel}}</td>
                <td>
                  <div class="u_table-resource-action">
                    <div class="u_cp u_table-resource-menu">
                      <span class="u_more-menu-icon u_flex u_align-center u_content-end"><svg width="20" height="20"
                          viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class
                          xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                            fill="#4E525F"></path>
                        </svg>
                      </span>
                    </div>
                    <div class="u_table-resource-buttons">
                      <span class="u_icon-rollover u_cp u_ml-5" aria-describedby="popup-18333"
                        (click)="getEmployeeIdData(employee.id)">
                        <i class="ri-pencil-fill fs-2 m-2 text-primary"></i>
                      </span>
                      <span class="u_icon-rollover u_cp u_ml-5" aria-describedby="popup-18334">
                        <i class="ri-file-text-fill fs-2 m-2 text-primary"></i>
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
