/* Customize dropdown item font size */
.dropdown-menu .dropdown-item {
  font-size: 14px; /* Change this to your desired font size */
}

/* Example to change the background color of dropdown items */
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  background-color: #f8f9fa; /* Change this to your desired background color */
}
/* specific-component.component.css */
.u_py-5 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

li {
  list-style: none;
}

.light-part {
  color: #73788b; /* Light gray color */
}

.last-part {
  color: #1e2538; /* Black color */
  font-weight: bold;
}
