<div class="u_layout-list">
  <div class="u_header-filters" id="u_header-filters">
    <div class="u_header-filters-title u_employee-absent-present u_flex u_align-center">
      <h5>55 <span>Employees</span></h5>
    </div>
    <div class="u_header-filters-list">
      <div class="u_flex u_align-center u_content-end">
        <div class="u_filter-content  ">
          <div class="u_filter-content-inner">
            <div class="u_filter u_filter-search "><span class="u_search-icon u_cp"><svg width="14" height="14"
                  viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path class="u_fill"
                    d="M33.474 30.95l-6.042-6.024a14.075 14.075 0 003.003-8.708 14.218 14.218 0 10-14.217 14.217 14.075 14.075 0 008.708-3.003l6.025 6.042a1.776 1.776 0 002.523 0 1.777 1.777 0 000-2.523zM5.554 16.219a10.663 10.663 0 1121.327 0 10.663 10.663 0 01-21.327 0z"
                    fill="#4E525F"></path>
                </svg></span><input type="text" tabindex="0" class="u_input" placeholder="Search" autocomplete="off"
                value=""></div>
            <div class="u_filter u_filter-date">
              <div class="u_datepicker undefined">
                <div class="react-datepicker-wrapper">
                  <div class="react-datepicker__input-container"><input type="text" placeholder=" " autocomplete="off"
                      class="" value="09/05/2024"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u_filter u_filter-toggle"><span class="u_toggle-view "><svg width="14" height="14"
              viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <path class="u_fill" fill-rule="evenodd" clip-rule="evenodd"
                d="M2 20.534h5.333v-5.511L2 15.022v5.512ZM2 9.51h5.333V4H2v5.511Zm0 22.045h5.333v-5.511H2v5.51Zm10.667-11.022H34v-5.511l-21.333-.001v5.512Zm0-11.023H34V4H12.667v5.511Zm0 22.045H34v-5.511H12.667v5.51Z"
                fill="#4E525F"></path>
            </svg></span><span class="u_toggle-view u_active"><svg width="14" height="14" viewBox="0 0 36 36"
              fill="none" xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path class="u_fill"
                d="M2 2.002h14.222v14.22H2V2v.002zm0 17.774h14.222v14.222H2V19.776zM19.778 2.003H34v14.221H19.778V2v.003zm0 17.774H34V34H19.778V19.777z"
                fill="#007AFF"></path>
            </svg></span></div>
        <div class="u_filter "><span class="u_filter-icon" aria-describedby="popup-376"><svg width="18" height="18"
              viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <path class="u_fill"
                d="M32.567 2.042v4.44H3.423v-4.44h29.144zM15.018 33.92v-.443c0-4.37-.005-8.74.007-13.109a1.534 1.534 0 00-.434-1.116c-3.15-3.42-6.29-6.848-9.432-10.274-.133-.144-.264-.288-.435-.476h26.54c-.155.171-.276.306-.4.44-3.163 3.45-6.324 6.9-9.494 10.344-.277.302-.405.62-.403 1.033.01 2.74.003 5.48.01 8.22a.591.591 0 01-.226.504c-1.826 1.552-3.646 3.113-5.468 4.67-.068.06-.142.111-.265.206z"
                fill="#4E525F"></path>
            </svg></span></div>
        <div class="u_filter" aria-describedby="popup-407">
          <p class="u_flex u_align-center u_cp" aria-describedby="popup-408"><span class="u_filter-icon"><svg width="18"
                height="18" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <path class="u_fill"
                  d="M19.6 15.062h8L18 24.543l-9.6-9.481h8V4h3.2v11.062zM5.2 29.284h25.6V18.222H34v12.642c0 .42-.169.821-.469 1.118a1.61 1.61 0 01-1.131.462H3.6a1.61 1.61 0 01-1.131-.462A1.57 1.57 0 012 30.864V18.222h3.2v11.062z"
                  fill="#4E525F"></path>
              </svg></span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="u_employee-filter"></div>
  <div class="u_tab u_mt-10">
    <div class="u_tab-hdr">
      <ul class="u_flex u_align-center">
        <li class="active"><span>Absent</span>
          <p class="u_badge"><span class="u_badge-inner">3</span></p>
        </li>
        <li class="u_cp"><span>On Leave</span>
          <p class="u_badge"><span class="u_badge-inner">8</span></p>
        </li>
        <li class="u_cp"><span>Present</span>
          <p class="u_badge"><span class="u_badge-inner">44</span></p>
        </li>
        <li class="u_cp"><span>Holiday/Weekend</span>
          <p class="u_badge"><span class="u_badge-inner">0</span></p>
        </li>
        <li class="u_cp"><span>Present By Default</span>
          <p class="u_badge"><span class="u_badge-inner">0</span></p>
        </li>
        <li class="u_cp"><span>Non Working day</span>
          <p class="u_badge"><span class="u_badge-inner">0</span></p>
        </li>
      </ul>
    </div>
    <div class="u_layout-list">
      <div class="u_layout-scrollview">
        <div class=""
          style="position: relative; overflow: hidden; width: 100%; height: 100%;">
          <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
            <div class="u_employee-grid-section">
              <div class="u_employee-absent">
                <div class="u_px-20 u_pt-20">
                  <div class="u_employee-grid">
                    <div class="u_employee-view u_employee-view-absent">
                      <div class="u_employee-view-header">
                        <div class="u_employee-view-header-logo">
                          <div class="u_avatar ">
                            <div class="u_avatar-content "
                              style="background-color: rgb(96, 177, 88); width: 60px; height: 60px;"><span
                                class="u_m-auto" style="font-size: 2rem; line-height: 2rem;">AS</span></div>
                          </div>
                        </div>
                        <div class="u_employee-view-header-title u_employee-view-header-box u_pl-10">
                          <div>
                            <div class="u_ib u_mb-5" aria-describedby="popup-403">
                              <h6 class="u_one-line u_word-break-all">Ankit Sheladiya</h6>
                            </div>
                            <div class="u_employee-view-header-title-department u_one-line">Dotnet Developer</div>
                            <div class="u_employee-view-header-title-department u_one-line u_mt-5">Employee ID: 1127
                            </div>
                          </div>
                        </div>
                      </div>
                      <ul class="u_employee-view-decription u_relative ">
                        <li>
                          <div class="u_flex-shrink"><svg width="18" height="18" viewBox="0 0 36 36" fill="none"
                              xmlns="http://www.w3.org/2000/svg" class="u_mr-10"
                              xmlns:xlink="http://www.w3.org/1999/xlink">
                              <path class="u_fill"
                                d="M13.2 21.2V26h9.6v-4.8H34v11.2a1.6 1.6 0 01-1.6 1.6H3.6A1.6 1.6 0 012 32.4V21.2h11.2zm3.2-3.2h3.2v4.8h-3.2V18zM10 8.4V3.6A1.6 1.6 0 0111.6 2h12.8A1.6 1.6 0 0126 3.6v4.8h6.4A1.6 1.6 0 0134 10v8H22.8v-3.2h-9.6V18H2v-8a1.6 1.6 0 011.6-1.6H10zm3.2-3.2v3.2h9.6V5.2h-9.6z"
                                fill="#4E525F"></path>
                            </svg></div><span class="u_one-line u_text-c">Research And Development</span>
                        </li>
                        <li>
                          <div class="u_flex-shrink"><svg width="18" height="18" viewBox="0 0 36 36" fill="none"
                              xmlns="http://www.w3.org/2000/svg" class="u_mr-10"
                              xmlns:xlink="http://www.w3.org/1999/xlink">
                              <path class="u_fill"
                                d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                                fill="#4E525F"></path>
                            </svg></div><span class="u_one-line u_text-c">Surat</span>
                        </li>
                        <li>
                          <div class="u_flex-shrink"><svg width="18" height="18" viewBox="0 0 36 36" fill="none"
                              xmlns="http://www.w3.org/2000/svg" class="u_mr-10"
                              xmlns:xlink="http://www.w3.org/1999/xlink">
                              <path class="u_fill"
                                d="M31.432 23.004c-1.959 0-3.883-.306-5.705-.909-.894-.304-1.992-.025-2.537.535l-3.598 2.716c-4.173-2.227-6.743-4.797-8.94-8.938l2.636-3.504c.685-.684.93-1.683.636-2.62a18.196 18.196 0 01-.912-5.716A2.57 2.57 0 0010.444 2H4.568A2.57 2.57 0 002 4.568C2 20.797 15.203 34 31.432 34A2.57 2.57 0 0034 31.432v-5.86a2.57 2.57 0 00-2.568-2.568z"
                                fill="#4E525F"></path>
                            </svg></div><a href="tel:+91-8460223545" target="_blank"
                            class="u_one-line">+91-8460223545</a>
                        </li>
                        <li>
                          <div class="u_flex-shrink"><svg width="18" height="18" viewBox="0 0 36 36" fill="none"
                              xmlns="http://www.w3.org/2000/svg" class="u_mr-10"
                              xmlns:xlink="http://www.w3.org/1999/xlink">
                              <g clip-path="url(#emergencycontracta)" fill="#73788B">
                                <path class="u_fill"
                                  d="M32.986 23.004c-1.96 0-3.882-.306-5.706-.908-.894-.306-1.99-.026-2.536.534l-3.6 2.716c-4.172-2.228-6.74-4.796-8.94-8.938l2.638-3.504c.684-.684.93-1.684.636-2.62a18.198 18.198 0 0 1-.912-5.716A2.57 2.57 0 0 0 11.998 2H6.122a2.57 2.57 0 0 0-2.568 2.568C3.554 20.796 16.756 34 32.986 34a2.57 2.57 0 0 0 2.568-2.568v-5.86a2.57 2.57 0 0 0-2.568-2.568Z"
                                  fill="#4E525F"></path>
                                <path class="u_fill"
                                  d="M31.432 23.004c-1.96 0-3.882-.306-5.706-.908-.892-.306-1.99-.026-2.536.534l-3.598 2.716c-4.172-2.226-6.744-4.796-8.94-8.938l2.636-3.504c.686-.684.93-1.684.636-2.62a18.198 18.198 0 0 1-.912-5.716A2.57 2.57 0 0 0 10.444 2H4.568A2.57 2.57 0 0 0 2 4.568C2 20.796 15.204 34 31.432 34A2.57 2.57 0 0 0 34 31.432v-5.86a2.57 2.57 0 0 0-2.568-2.568Z"
                                  fill="#4E525F"></path>
                                <path class="u_fill"
                                  d="M25.142 3.8h-.2v5.142H19.8v2.118h5.142v5.14h2.116v-5.142H32.2V8.94h-5.142V3.8h-1.916Z"
                                  stroke="#73788B" stroke-width="0.2" fill="#4E525F"></path>
                              </g>
                              <defs>
                                <clipPath id="emergencycontracta">
                                  <path class="u_fill" transform="translate(2 2)" d="M0 0h32v32H0z" fill="#4E525F">
                                  </path>
                                </clipPath>
                              </defs>
                            </svg></div><a href="tel:-" target="_blank" class="u_one-line">-</a>
                        </li>
                      </ul>
                    </div>
                    <div class="u_employee-view u_employee-view-absent">
                      <div class="u_employee-view-header">
                        <div class="u_employee-view-header-logo">
                          <div class="u_avatar ">
                            <div class="u_avatar-content "
                              style="background-color: rgb(140, 100, 255); width: 60px; height: 60px;"><span
                                class="u_m-auto" style="font-size: 2rem; line-height: 2rem;">JT</span></div>
                          </div>
                        </div>
                        <div class="u_employee-view-header-title u_employee-view-header-box u_pl-10">
                          <div>
                            <div class="u_ib u_mb-5" aria-describedby="popup-404">
                              <h6 class="u_one-line u_word-break-all">Juli Thummar</h6>
                            </div>
                            <div class="u_employee-view-header-title-department u_one-line">Jr. Dotnet Developer</div>
                            <div class="u_employee-view-header-title-department u_one-line u_mt-5">Employee ID: 1087
                            </div>
                          </div>
                        </div>
                      </div>
                      <ul class="u_employee-view-decription u_relative ">
                        <li>
                          <div class="u_flex-shrink"><svg width="18" height="18" viewBox="0 0 36 36" fill="none"
                              xmlns="http://www.w3.org/2000/svg" class="u_mr-10"
                              xmlns:xlink="http://www.w3.org/1999/xlink">
                              <path class="u_fill"
                                d="M13.2 21.2V26h9.6v-4.8H34v11.2a1.6 1.6 0 01-1.6 1.6H3.6A1.6 1.6 0 012 32.4V21.2h11.2zm3.2-3.2h3.2v4.8h-3.2V18zM10 8.4V3.6A1.6 1.6 0 0111.6 2h12.8A1.6 1.6 0 0126 3.6v4.8h6.4A1.6 1.6 0 0134 10v8H22.8v-3.2h-9.6V18H2v-8a1.6 1.6 0 011.6-1.6H10zm3.2-3.2v3.2h9.6V5.2h-9.6z"
                                fill="#4E525F"></path>
                            </svg></div><span class="u_one-line u_text-c">Research And Development</span>
                        </li>
                        <li>
                          <div class="u_flex-shrink"><svg width="18" height="18" viewBox="0 0 36 36" fill="none"
                              xmlns="http://www.w3.org/2000/svg" class="u_mr-10"
                              xmlns:xlink="http://www.w3.org/1999/xlink">
                              <path class="u_fill"
                                d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                                fill="#4E525F"></path>
                            </svg></div><span class="u_one-line u_text-c">Surat</span>
                        </li>
                        <li>
                          <div class="u_flex-shrink"><svg width="18" height="18" viewBox="0 0 36 36" fill="none"
                              xmlns="http://www.w3.org/2000/svg" class="u_mr-10"
                              xmlns:xlink="http://www.w3.org/1999/xlink">
                              <path class="u_fill"
                                d="M31.432 23.004c-1.959 0-3.883-.306-5.705-.909-.894-.304-1.992-.025-2.537.535l-3.598 2.716c-4.173-2.227-6.743-4.797-8.94-8.938l2.636-3.504c.685-.684.93-1.683.636-2.62a18.196 18.196 0 01-.912-5.716A2.57 2.57 0 0010.444 2H4.568A2.57 2.57 0 002 4.568C2 20.797 15.203 34 31.432 34A2.57 2.57 0 0034 31.432v-5.86a2.57 2.57 0 00-2.568-2.568z"
                                fill="#4E525F"></path>
                            </svg></div><a href="tel:+91-6356171387" target="_blank"
                            class="u_one-line">+91-6356171387</a>
                        </li>
                        <li>
                          <div class="u_flex-shrink"><svg width="18" height="18" viewBox="0 0 36 36" fill="none"
                              xmlns="http://www.w3.org/2000/svg" class="u_mr-10"
                              xmlns:xlink="http://www.w3.org/1999/xlink">
                              <g clip-path="url(#emergencycontracta)" fill="#73788B">
                                <path class="u_fill"
                                  d="M32.986 23.004c-1.96 0-3.882-.306-5.706-.908-.894-.306-1.99-.026-2.536.534l-3.6 2.716c-4.172-2.228-6.74-4.796-8.94-8.938l2.638-3.504c.684-.684.93-1.684.636-2.62a18.198 18.198 0 0 1-.912-5.716A2.57 2.57 0 0 0 11.998 2H6.122a2.57 2.57 0 0 0-2.568 2.568C3.554 20.796 16.756 34 32.986 34a2.57 2.57 0 0 0 2.568-2.568v-5.86a2.57 2.57 0 0 0-2.568-2.568Z"
                                  fill="#4E525F"></path>
                                <path class="u_fill"
                                  d="M31.432 23.004c-1.96 0-3.882-.306-5.706-.908-.892-.306-1.99-.026-2.536.534l-3.598 2.716c-4.172-2.226-6.744-4.796-8.94-8.938l2.636-3.504c.686-.684.93-1.684.636-2.62a18.198 18.198 0 0 1-.912-5.716A2.57 2.57 0 0 0 10.444 2H4.568A2.57 2.57 0 0 0 2 4.568C2 20.796 15.204 34 31.432 34A2.57 2.57 0 0 0 34 31.432v-5.86a2.57 2.57 0 0 0-2.568-2.568Z"
                                  fill="#4E525F"></path>
                                <path class="u_fill"
                                  d="M25.142 3.8h-.2v5.142H19.8v2.118h5.142v5.14h2.116v-5.142H32.2V8.94h-5.142V3.8h-1.916Z"
                                  stroke="#73788B" stroke-width="0.2" fill="#4E525F"></path>
                              </g>
                              <defs>
                                <clipPath id="emergencycontracta">
                                  <path class="u_fill" transform="translate(2 2)" d="M0 0h32v32H0z" fill="#4E525F">
                                  </path>
                                </clipPath>
                              </defs>
                            </svg></div><a href="tel:-" target="_blank" class="u_one-line">-</a>
                        </li>
                      </ul>
                    </div>
                    <div class="u_employee-view u_employee-view-absent">
                      <div class="u_employee-view-header">
                        <div class="u_employee-view-header-logo">
                          <div class="u_avatar ">
                            <div class="u_avatar-content "
                              style="background-color: rgb(245, 185, 113); width: 60px; height: 60px;"><span
                                class="u_m-auto" style="font-size: 2rem; line-height: 2rem;">RB</span></div>
                          </div>
                        </div>
                        <div class="u_employee-view-header-title u_employee-view-header-box u_pl-10">
                          <div>
                            <div class="u_ib u_mb-5" aria-describedby="popup-405">
                              <h6 class="u_one-line u_word-break-all">Rutvik Bodar</h6>
                            </div>
                            <div class="u_employee-view-header-title-department u_one-line">Sr. Angular Developer</div>
                            <div class="u_employee-view-header-title-department u_one-line u_mt-5">Employee ID: 1027
                            </div>
                          </div>
                        </div>
                      </div>
                      <ul class="u_employee-view-decription u_relative ">
                        <li>
                          <div class="u_flex-shrink"><svg width="18" height="18" viewBox="0 0 36 36" fill="none"
                              xmlns="http://www.w3.org/2000/svg" class="u_mr-10"
                              xmlns:xlink="http://www.w3.org/1999/xlink">
                              <path class="u_fill"
                                d="M13.2 21.2V26h9.6v-4.8H34v11.2a1.6 1.6 0 01-1.6 1.6H3.6A1.6 1.6 0 012 32.4V21.2h11.2zm3.2-3.2h3.2v4.8h-3.2V18zM10 8.4V3.6A1.6 1.6 0 0111.6 2h12.8A1.6 1.6 0 0126 3.6v4.8h6.4A1.6 1.6 0 0134 10v8H22.8v-3.2h-9.6V18H2v-8a1.6 1.6 0 011.6-1.6H10zm3.2-3.2v3.2h9.6V5.2h-9.6z"
                                fill="#4E525F"></path>
                            </svg></div><span class="u_one-line u_text-c">Research And Development</span>
                        </li>
                        <li>
                          <div class="u_flex-shrink"><svg width="18" height="18" viewBox="0 0 36 36" fill="none"
                              xmlns="http://www.w3.org/2000/svg" class="u_mr-10"
                              xmlns:xlink="http://www.w3.org/1999/xlink">
                              <path class="u_fill"
                                d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                                fill="#4E525F"></path>
                            </svg></div><span class="u_one-line u_text-c">Surat</span>
                        </li>
                        <li>
                          <div class="u_flex-shrink"><svg width="18" height="18" viewBox="0 0 36 36" fill="none"
                              xmlns="http://www.w3.org/2000/svg" class="u_mr-10"
                              xmlns:xlink="http://www.w3.org/1999/xlink">
                              <path class="u_fill"
                                d="M31.432 23.004c-1.959 0-3.883-.306-5.705-.909-.894-.304-1.992-.025-2.537.535l-3.598 2.716c-4.173-2.227-6.743-4.797-8.94-8.938l2.636-3.504c.685-.684.93-1.683.636-2.62a18.196 18.196 0 01-.912-5.716A2.57 2.57 0 0010.444 2H4.568A2.57 2.57 0 002 4.568C2 20.797 15.203 34 31.432 34A2.57 2.57 0 0034 31.432v-5.86a2.57 2.57 0 00-2.568-2.568z"
                                fill="#4E525F"></path>
                            </svg></div><a href="tel:+91-9773019920" target="_blank"
                            class="u_one-line">+91-9773019920</a>
                        </li>
                        <li>
                          <div class="u_flex-shrink"><svg width="18" height="18" viewBox="0 0 36 36" fill="none"
                              xmlns="http://www.w3.org/2000/svg" class="u_mr-10"
                              xmlns:xlink="http://www.w3.org/1999/xlink">
                              <g clip-path="url(#emergencycontracta)" fill="#73788B">
                                <path class="u_fill"
                                  d="M32.986 23.004c-1.96 0-3.882-.306-5.706-.908-.894-.306-1.99-.026-2.536.534l-3.6 2.716c-4.172-2.228-6.74-4.796-8.94-8.938l2.638-3.504c.684-.684.93-1.684.636-2.62a18.198 18.198 0 0 1-.912-5.716A2.57 2.57 0 0 0 11.998 2H6.122a2.57 2.57 0 0 0-2.568 2.568C3.554 20.796 16.756 34 32.986 34a2.57 2.57 0 0 0 2.568-2.568v-5.86a2.57 2.57 0 0 0-2.568-2.568Z"
                                  fill="#4E525F"></path>
                                <path class="u_fill"
                                  d="M31.432 23.004c-1.96 0-3.882-.306-5.706-.908-.892-.306-1.99-.026-2.536.534l-3.598 2.716c-4.172-2.226-6.744-4.796-8.94-8.938l2.636-3.504c.686-.684.93-1.684.636-2.62a18.198 18.198 0 0 1-.912-5.716A2.57 2.57 0 0 0 10.444 2H4.568A2.57 2.57 0 0 0 2 4.568C2 20.796 15.204 34 31.432 34A2.57 2.57 0 0 0 34 31.432v-5.86a2.57 2.57 0 0 0-2.568-2.568Z"
                                  fill="#4E525F"></path>
                                <path class="u_fill"
                                  d="M25.142 3.8h-.2v5.142H19.8v2.118h5.142v5.14h2.116v-5.142H32.2V8.94h-5.142V3.8h-1.916Z"
                                  stroke="#73788B" stroke-width="0.2" fill="#4E525F"></path>
                              </g>
                              <defs>
                                <clipPath id="emergencycontracta">
                                  <path class="u_fill" transform="translate(2 2)" d="M0 0h32v32H0z" fill="#4E525F">
                                  </path>
                                </clipPath>
                              </defs>
                            </svg></div><a href="tel:-" target="_blank" class="u_one-line">-</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            style="position: absolute; height: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; left: 2px; border-radius: 3px; visibility: hidden;">
            <div class="u_scroll-bar"
              style="position: relative; display: block; height: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); width: 0px;">
            </div>
          </div>
          <div
            style="position: absolute; width: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; top: 2px; border-radius: 3px; visibility: hidden;">
            <div class="u_scroll-bar"
              style="position: relative; display: block; width: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); height: 0px; transform: translateY(0px);">
            </div>
          </div>
        </div>
      </div>
      <div class="u_layout-footer">
        <div class="u_pagination " id="u_pagination">
          <div class="u_pagination-record u_flex u_align-center"><span class="u_pagination-title u_mr-10">Entries</span>
            <div class="u_pagination-record-wpr">
              <div class=" css-2b097c-container"><span aria-live="polite" aria-atomic="false"
                  aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                <div class="u_record__control css-yk16xz-control">
                  <div class="u_record__value-container u_record__value-container--has-value css-1hwfws3">
                    <div class="u_record__single-value css-1uccc91-singleValue">40</div><input id="react-select-5-input"
                      readonly="" tabindex="0" aria-autocomplete="list" class="css-62g3xt-dummyInput" value="">
                  </div>
                  <div class="u_record__indicators css-1wy0on6"><span
                      class="u_record__indicator-separator css-1okebmr-indicatorSeparator"></span>
                    <div class="u_record__indicator u_record__dropdown-indicator css-tlfecz-indicatorContainer"
                      aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                        focusable="false" class="css-8mmkcg">
                        <path
                          d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                        </path>
                      </svg></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ul class="u_flex">
            <li class="previous disabled"><a class="u_pagination-link u_pagination-link-previous" tabindex="0"
                role="button" aria-disabled="true" aria-label="Previous page" rel="prev"><svg width="15" height="15"
                  viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path class="u_fill" d="M15.11 18l12.446 12.445L24 34 8 18 24 2l3.556 3.555L15.11 18z" fill="#4E525F">
                  </path>
                </svg></a></li>
            <li class="selected"><a role="button" class="u_pagination-link u_pagination-link-active" tabindex="0"
                aria-label="Page 1 is your current page" aria-current="page">1</a></li>
            <li class="next disabled"><a class="u_pagination-link u_pagination-link-next" tabindex="0" role="button"
                aria-disabled="true" aria-label="Next page" rel="next"><svg width="15" height="15" viewBox="0 0 36 36"
                  fill="none" xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path class="u_fill" d="M20.445 18L8 5.555 11.555 2l16 16-16 16L8 30.445 20.445 18z" fill="#4E525F">
                  </path>
                </svg></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
