<div data-testid="overlay" data-popup="modal" class="popup-overlay " tabindex="-1"
    style="position: fixed; inset: 0px; display: flex; z-index: 1001; pointer-events: auto;">
    <div class="popup-content " role="dialog" id="popup-4162"
        style="position: relative; margin: auto; z-index: 1001; pointer-events: auto;">
        <div class="u_side-modal active ">
            <div class="u_modal-overlay"></div>
            <div class="u_side-modal-layout" style="max-width: 1000px;">
                <div class="u_side-modal-header u_flex u_align-center u_content-between" id="u_side-modal-header">
                    <div class="u_task-header-left">
                        <div class="u_flex u_align-center">
                            <h4 class="u_mr-7">View Salary Components </h4>
                            <p class="u_color-title u_text-bold"> | CTC: ₹00</p>
                        </div>
                    </div>
                    <div class="u_task-header-right u_flex u_align-center">
                        <div class="u_close-btn__blue" [mat-dialog-close]="true"><svg width="14" height="14" viewBox="0 0 36 36" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path class="u_fill-stroke"
                                    d="M18 14.557L7.08 3.637l-.142-.142-.142.141-3.16 3.16-.141.142.141.141L14.557 18 3.637 28.92l-.142.142.141.142 3.16 3.16.142.141.141-.141L18 21.443l10.92 10.92.142.142.142-.141 3.16-3.16.141-.142-.141-.141L21.443 18l10.92-10.922.142-.141-.141-.142-3.16-3.16-.142-.141-.141.141L18 14.557z"
                                    stroke="73788B" fill="#007AFF" stroke-width="0.4"></path>
                            </svg></div>
                    </div>
                </div>
                <div class="u_side-modal-body" id="u_side-modal-body" style="max-height: calc(554px);">
                    <div
                        class="u_table-resource u_salary-breakup-table u_table-resource-no-sticky u_bt-light u_mb-10 u_text-left u_overflow-y-auto">
                        <table>
                            <thead class="u_table-resource-header">
                                <tr>
                                    <th>Salary Components</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="u_table-title">Earnings</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Basic</td>
                                    <td>₹00</td>
                                </tr>
                                <tr>
                                    <td>Fixed allowances</td>
                                    <td>₹00</td>
                                </tr>
                                <tr>
                                    <td class="u_text-bold u_color-title u_ctc-netPayable">Total Earnings</td>
                                    <td class="u_text-bold u_color-title u_ctc-netPayable">₹00</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="u_text-bold u_color-title u_ctc-netPayable">Net Payable :</td>
                                    <td class="u_text-bold u_color-title u_ctc-netPayable">₹00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="u_side-modal-footer" id="u_side-modal-footer"></div>
            </div>
        </div>
    </div>
</div>