<div class="u_account-inner__input u_align-center">
  <div class="u_login-input__section">
    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
      <div class="u_account-form">
        <div class="u_round-img">
          <img class="u_right-round-top u_absolute" src="/assets/images/images/right-S-round.png" alt="right-S-round">
          <img class="u_right-round-top u_absolute" src="/assets/images/images/right-B-round.png" alt="right-B-round">
          <img class="u_right-round-bottom u_absolute" src="/assets/images/images/right-B-round.png"
            alt="right-B-round">
          <img class="u_right-round-bottom u_absolute" src="/assets/images/images/right-S-round.png"
            alt="right-S-round">
          <img class="u_right-dot-top u_absolute" src="/assets/images/images/right-dot.png" alt="right-dot-top">

        </div>
        <div class="u_section-header ">
          <div class="u_border-header u_border-header-center">
            <h1>Create New Account</h1>
          </div>
          <p>Let's register and connect with your co-workers to get the things done together and faster.</p>
        </div>
      </div>
      <div class="u_account-form">

        <div class="u_input u_mb-20"
          [class.u_input-error]="(submitted || accountForm.get('firstName')?.touched) && accountForm.get('firstName')?.invalid">
          <input formControlName="firstName" name="firstName" placeholder=" " autocomplete="off">
          <label>First Name <span>*</span></label>
          <span *ngIf="(submitted || accountForm.get('firstName')?.touched) && accountForm.get('firstName')?.invalid"
            class="u_required u_cp" aria-describedby="popup-120">
            <img src="/assets/images/auth/register6.svg" alt="Field is required" data-toggle="tooltip"
              data-placement="top" title="Required*">
          </span>
        </div>

        <div class="u_input u_mb-20"
          [class.u_input-error]="(submitted || accountForm.get('lastName')?.touched) && accountForm.get('lastName')?.invalid">
          <input formControlName="lastName" name="lastName" placeholder=" " autocomplete="off">
          <label>Last Name <span>*</span></label>
          <span *ngIf="(submitted || accountForm.get('lastName')?.touched) && accountForm.get('lastName')?.invalid"
            class="u_required u_cp" aria-describedby="popup-121">
            <img src="/assets/images/auth/register6.svg" alt="Field is required" data-toggle="tooltip"
              data-placement="top" title="Required*">
          </span>
        </div>

        <div class="u_input u_mb-20"
          [class.u_input-error]="(submitted || accountForm.get('email')?.touched) && accountForm.get('email')?.invalid">
          <input formControlName="email" name="email" placeholder=" ">
          <label>Email Address <span>*</span></label>
          <span *ngIf="submitted || accountForm.get('email')?.touched">
            <span *ngIf="accountForm.get('email')?.errors?.['required']" class="u_required u_cp"
              aria-describedby="popup-email">
              <img src="/assets/images/auth/register6.svg" alt="Field is required" data-toggle="tooltip"
                data-placement="top" title="Required*">
            </span>
            <span *ngIf="accountForm.get('email')?.errors?.['email']" class="u_required u_cp"
              aria-describedby="popup-email">
              <img src="/assets/images/auth/register6.svg" alt="Invalid email" data-toggle="tooltip"
                data-placement="top" title="Invalid email">
            </span>
          </span>
        </div>

      </div>
      <div class="u_account-form">
        <div class="u_input u_mb-20"
          [class.u_input-error]="(submitted || accountForm.get('company')?.touched) && accountForm.get('company')?.invalid">
          <input formControlName="company" name="company" autocomplete="off" placeholder=" ">
          <label>Company Name <span>*</span></label>
          <span *ngIf="(submitted || accountForm.get('company')?.touched) && accountForm.get('company')?.invalid"
            class="u_required u_cp" aria-describedby="popup-123">
            <img src="/assets/images/auth/register6.svg" alt="Field is required" data-toggle="tooltip"
              data-placement="top" title="Required*">
          </span>
        </div>
        <div class="u_input u_mb-20 u_input-focused"
          [class.u_input-error]="(submitted || accountForm.get('phoneNumber')?.touched) && accountForm.get('phoneNumber')?.invalid">
          <div class="u_flex u_country">
            <div class="u_country-section">
              <span class="u_country-selected u_flex u_align-center u_cp"><i class="u_flag IN"></i>+91</span>
              <div class="u_country-dropdown"></div>
            </div>
            <div class="u_form-phonenum">
              <input formControlName="phoneNumber" min="0" type="number" placeholder=" " name="phoneNumber"
                autocomplete="off">
            </div>
          </div>
          <label>Phone Number <span>*</span></label>
          <span
            *ngIf="(submitted || accountForm.get('phoneNumber')?.touched) && accountForm.get('phoneNumber')?.invalid"
            class="u_required u_cp" aria-describedby="popup-124">
            <img src="/assets/images/auth/register6.svg" alt="Field is required" data-toggle="tooltip"
              data-placement="top" title="Required*">
          </span>
        </div>

        <div class="u_input u_mb-20"
          [class.u_input-error]="(submitted || accountForm.get('employeeCount')?.touched) && accountForm.get('employeeCount')?.invalid">
          <input formControlName="employeeCount" name="employeeCount" placeholder=" " autocomplete="off">
          <label>Employee Count<span>*</span></label>
          <span
            *ngIf="(submitted || accountForm.get('employeeCount')?.touched) && accountForm.get('employeeCount')?.invalid"
            class="u_required u_cp" aria-describedby="popup-125">
            <img src="/assets/images/auth/register6.svg" alt="Field is required" data-toggle="tooltip"
              data-placement="top" title="Required*">
          </span>
        </div>
        <div class="u_mb-20 u_flex u_toggle-status">
          <span aria-describedby="popup-8">
            <div class="u_toggle-switch ">
              <input type="checkbox" id="123" readonly="" checked="">
              <label for="123"></label>
            </div>
          </span>
          <h2 class="u_ml-10">Agree with <a href="https://superworks.com/terms-and-conditions" target="_blank">Terms
              &amp;
              Condition </a> and <a href="https://superworks.com/privacy-policy" target="_blank"> Privacy
              Policy</a></h2>
        </div>
        <div class="u_block u_relative">
          <button type="submit" class="u_account-btn u_w-full u_cp false">Sign Up</button>
        </div>
      </div>

    </form>
    <p class="u_send-code u_t-center u_mt-20">Already have an account? <span class="u_cp" routerLink="/login">Sign
        In</span></p>
  </div>
  <div class="u_copyright u_flex u_content-center u_align-center">
    <p class="u_t-center">Copyright © 2020-2024 Superworks Company. All rights reserved.</p>
  </div>
</div>
