<div class="u_settings-content u_flex u_flex-col" style="height: 100%; width: 100%;">
    <div class="u_settings-header u_p-20 " id="u_settings-header">
        <div class="u_settings-header-title ">
            <h5 class="u_mb-5">Add Geo Fencing</h5>
            <p>Add/Edit your Geo Fencing</p>
        </div>
        <div class="u_settings-header-list">
            <div class="u_flex u_align-center u_content-end">
                <div class="u_flex">
                    <div class="u_flex"><button type="button"
                            class="u_btn white small u_btn__white">discard</button><button type="button"
                            class="u_btn u_ml-10 blue small u_ml-10 u_btn__blue">save</button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="u_h-full">
        <div class="u_route-tabs u_geo-fancing-tab u_bb-light " id="u_route-tabs1">
            <ul class="u_flex u_align-center">
                <li><a class="">Geo Fencing Data</a></li>
                <li><a class="">Geo Fencing Map</a></li>
            </ul>
        </div>
        <div class="u_layout-scrollview u_h-full">
            <div class="u_scroll-section undefined"
                style="position: relative; overflow: hidden; width: 100%; height: 100%;">
                <div
                    style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
                    <div class="u_px-20 u_pt-20">
                        <form>
                            <div class="u_row">
                                <div class="u_col-4 u_mb-15">
                                    <div class="u_input"><input id="place-map" type="text" placeholder=" " name="name"
                                            autocomplete="off" value="" class="pac-target-input"><label>Search Location
                                            <span>*</span></label></div>
                                </div>
                                <div class="u_col-4 u_mb-15">
                                    <div class="u_input"><input type="number" placeholder=" " name="lat"
                                            autocomplete="off" value=""><label>Latitude <span>*</span></label></div>
                                </div>
                                <div class="u_col-4 u_mb-15">
                                    <div class="u_input"><input type="number" placeholder=" " name="lng"
                                            autocomplete="off" value=""><label>Longitude <span>*</span></label></div>
                                </div>
                                <div class="u_col-4 u_mb-15">
                                    <div class="u_input u_fix-input">
                                        <div class="u_relative u_w-full"><input type="text" placeholder=" "
                                                name="radius" autocomplete="off" value=""><label>Radius
                                                <span>*</span></label></div><span class="u_fix-label">Meters</span>
                                    </div>
                                </div>
                                <div class="u_col-4 u_mb-15">
                                    <div class="u_input u_input-textarea"><textarea
                                            class="u_textarea u_textarea-six-rows" name="description"
                                            placeholder=" "></textarea><label>Notes </label></div>
                                </div>
                                <div class="u_col-12 u_mb-15">
                                    <div class="u_alert-message u_alert-message-danger u_alert-message-full">
                                        <p><strong>Note: </strong><span class="u_color-title">Geo-fencing functions
                                                accurately exclusively on mobile devices; desktop applications and web
                                                browsers may not provide accurate location data to the system.</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>