<div class="u_hrms u_hrms-app-view">
  <div class="u_hrms">
    <div class="u_announcement u_hrms">
      <div class="u_announcement-container">
        <div class="u_announcement-sidebar-left false">
          <div class="u_scroll-section undefined"
            style="position: relative; overflow: hidden; width: 100%; height: 100%;">
            <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
              <ul class="u_post-filter u_sidemenu">
                <li class="u_sidemenu-item-active">
                  <div class="u_sidemenu-item">
                    <p><span class="u_flex u_align-center"><i class="u_flex" (click)="showComponent('A')"><svg width="14" height="14"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M29.2 34H6.8A4.8 4.8 0 012 29.2V3.6A1.6 1.6 0 013.6 2H26a1.6 1.6 0 011.6 1.6v19.2H34v6.4a4.8 4.8 0 01-4.8 4.8zm-1.6-8v3.2a1.6 1.6 0 003.2 0V26h-3.2zM8.4 10v3.2h12.8V10H8.4zm0 6.4v3.2h12.8v-3.2H8.4zm0 6.4V26h8v-3.2h-8z"
                              fill="#4E525F"></path>
                          </svg></i>Company Feed</span></p>
                  </div>
                </li>
                <li>
                  <div class="u_sidemenu-item">
                    <p><span class="u_flex u_align-center" (click)="showComponent('By')"><i class="u_flex"><svg width="14" height="14"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M29.2 34H6.8A4.8 4.8 0 012 29.2V3.6A1.6 1.6 0 013.6 2H26a1.6 1.6 0 011.6 1.6v19.2H34v6.4a4.8 4.8 0 01-4.8 4.8zm-1.6-8v3.2a1.6 1.6 0 003.2 0V26h-3.2zM8.4 10v3.2h12.8V10H8.4zm0 6.4v3.2h12.8v-3.2H8.4zm0 6.4V26h8v-3.2h-8z"
                              fill="#4E525F"></path>
                          </svg></i>My Feed</span></p>
                  </div>
                </li>
                <li>
                  <div class="u_sidemenu-item">
                    <p><span class="u_flex u_align-center" (click)="showComponent('C')"><i class="u_flex"><svg width="14" height="14"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M30.526 23.189v9.224c0 .42-.166.825-.461 1.122a1.566 1.566 0 01-1.113.465H3.575a1.572 1.572 0 01-1.118-.477A1.603 1.603 0 012 32.39V13.2h9.509c.42 0 .823-.169 1.12-.469.298-.3.465-.707.465-1.131V2h15.85c.874 0 1.582.728 1.582 1.587v6.024l-14.261 14.4-.01 6.781 6.73.01 7.541-7.613zm1.233-10.296L34 15.155 21.674 27.6l-2.244-.003.003-2.26 12.326-12.444zM2 10l7.924-7.995V10H2z"
                              fill="#4E525F"></path>
                          </svg></i>Draft</span></p>
                  </div>
                </li>
                <li>
                  <div class="u_sidemenu-item">
                    <p><span class="u_flex u_align-center"><i class="u_flex"><svg width="14" height="14"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M7.556 2h21.777c.413 0 .809.163 1.1.454.292.29.456.685.456 1.096v29.674a.773.773 0 0 1-.8.776.78.78 0 0 1-.392-.119l-11.253-7.033L7.192 33.88A.78.78 0 0 1 6 33.224V3.55c0-.411.164-.805.456-1.096.291-.29.687-.454 1.1-.454Z"
                              fill="#4E525F"></path>
                          </svg></i>Bookmarks</span></p>
                  </div>
                </li>
                <li>
                  <div class="u_sidemenu-item">
                    <p><span class="u_flex u_align-center"><i class="u_flex"><svg width="14" height="14"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M30.8 18a12.8 12.8 0 1 0-5.7 10.651l1.777 2.663A15.926 15.926 0 0 1 18 34C9.163 34 2 26.837 2 18S9.163 2 18 2s16 7.163 16 16v2.4a5.6 5.6 0 0 1-10.234 3.146A8 8 0 1 1 22.8 11.6H26v8.8a2.4 2.4 0 0 0 4.8 0V18ZM18 13.2a4.8 4.8 0 1 0 0 9.6 4.8 4.8 0 0 0 0-9.6Z"
                              fill="#4E525F"></path>
                          </svg></i>Mentions</span></p>
                  </div>
                </li>
              </ul>
              <div class="u_post-filter-recents u_pt-10">
                <p class="u_post-recent-header">Posted Recently by</p>
                <div class="u_post-not-found"><img src="/images/vectors/no-posts.svg"
                    alt="No one has post anything recently" title="No one has post anything recently">
                  <h6>No one has post anything recently</h6>
                </div>
              </div>
              <p class="u_post-recent-header">Tags</p>
              <div class="u_pt-10 u_px-15">
                <div class="u_post-not-found"><img src="/images/vectors/no-tags.svg" alt="There is no tag created"
                    title="There is no tag created">
                  <h6>There is no tag created</h6>
                </div>
                <div class="u_post-tags-more u_ib u_p-5"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="u_announcement-sidebar-right">
          <div class="u_scroll-section u_announcement-scroll-section"
            style="position: relative; overflow: hidden; width: 100%; height: 100%;">
            <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
              <div class="u_px-5 u_announcement-posts">
                <div>
                  <div class="u_postForm-container">
                    <div class="u_postForm-left">
                      <div class="u_postForm-left-inner">
                        <div class="u_cp u_flex-shrink" aria-describedby="popup-22">
                          <div class="u_avatar ">
                            <div class="u_avatar-content "
                              style="background-color: rgb(96, 177, 88); width: 40px; height: 40px;"><span
                                class="u_m-auto" style="font-size: 1.33333rem; line-height: 1.33333rem;">AM</span></div>
                          </div>
                        </div>
                        <div class="u_post-create false"><svg width="14" height="14" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M15.714 15.714V2h4.572v13.714H34v4.572H20.286V34h-4.572V20.286H2v-4.572h13.714z"
                              fill="#007AFF"></path>
                          </svg>
                          <p>What's on your mind?</p>
                        </div>
                      </div>
                    </div>
                    <div class="u_postForm-right">
                      <div class="u_post-events-title "><span><svg width="18" height="18" viewBox="0 0 36 36"
                            fill="none" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M20.476 25.562 10.425 15.516c-.146-.146-.33-.22-.512-.183a.722.722 0 0 0-.512.22.465.465 0 0 0-.146.219l-7.2 17.205a.711.711 0 0 0 0 .548c.073.183.22.329.365.402a.691.691 0 0 0 .293.073h.146l.036-.036h.074l17.325-7.27c.183-.073.292-.219.365-.402a.585.585 0 0 0-.036-.548.642.642 0 0 0-.147-.182ZM5.052 29.543l1.389 1.389-2.376.986.987-2.375Zm9.796-2.118-2.778 1.132-4.679-4.64 1.133-2.776 6.324 6.284ZM12.764 15.699l-.256.256 1.024 1.022.255-.255c.914-.914 1.536-2.083 1.828-3.361a7.262 7.262 0 0 0-.11-3.544l-.11-.365-1.388.438.11.33c.292.912.292 1.899.109 2.812a5.498 5.498 0 0 1-1.462 2.667Z"
                              fill="#FFA700"></path>
                            <path class="u_fill"
                              d="M12.654 7.735 13.35 10l1.718-1.607 2.303.548-.549-2.302 1.609-1.717-2.266-.694L15.432 2l-1.717 1.607-2.303-.547.548 2.301-1.608 1.717 2.302.657ZM26.544 20.594l-.366-.11a7.275 7.275 0 0 0-3.545-.11c-1.28.293-2.45.914-3.363 1.827l-.256.256 1.023 1.023.256-.256a5.347 5.347 0 0 1 2.669-1.461 5.27 5.27 0 0 1 2.814.11l.329.109.439-1.388Z"
                              fill="#FFA700"></path>
                            <path class="u_fill"
                              d="m34 20.557-2.266-.694-.695-2.265-1.718 1.608-2.302-.548.548 2.301-1.608 1.717 2.266.694.694 2.265 1.718-1.607 2.303.548-.548-2.302L34 20.557ZM22.194 13.8l.695 2.264 1.718-1.607 2.302.547-.548-2.301 1.608-1.717-2.266-.694-.694-2.265-1.718 1.608-2.303-.548.548 2.301-1.608 1.717 2.266.694ZM21.447 15.556l-4.471 4.47-1.008-1.008 4.471-4.469 1.008 1.008Z"
                              fill="#FFA700"></path>
                          </svg></span>
                        <p>Events</p>
                        <div class="u_tag" style="background-color: rgba(255, 167, 0, 0.1);">
                          <p style="color: rgb(255, 167, 0);">0</p>
                        </div>
                      </div>
                      <div class="u_announcement-filter-options">
                        <div class="u_post-filter u_filter-responsive false false">
                          <div class="u_post-type css-2b097c-container"><span aria-live="polite" aria-atomic="false"
                              aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                            <div class="u_select__control css-yk16xz-control">
                              <div class="u_select__value-container u_select__value-container--has-value css-1hwfws3">
                                <div class="u_select__single-value css-1uccc91-singleValue">
                                  <div class="u_flex u_align-center"><svg width="14" height="14" viewBox="0 0 36 36"
                                      fill="none" xmlns="http://www.w3.org/2000/svg"
                                      xmlns:xlink="http://www.w3.org/1999/xlink">
                                      <path class="u_fill"
                                        d="M32.567 2.042v4.44H3.423v-4.44h29.144zM15.018 33.92v-.443c0-4.37-.005-8.74.007-13.109a1.534 1.534 0 00-.434-1.116c-3.15-3.42-6.29-6.848-9.432-10.274-.133-.144-.264-.288-.435-.476h26.54c-.155.171-.276.306-.4.44-3.163 3.45-6.324 6.9-9.494 10.344-.277.302-.405.62-.403 1.033.01 2.74.003 5.48.01 8.22a.591.591 0 01-.226.504c-1.826 1.552-3.646 3.113-5.468 4.67-.068.06-.142.111-.265.206z"
                                        fill="#4E525F"></path>
                                    </svg>
                                    <p class="u_one-line">All</p>
                                  </div>
                                </div><input id="react-select-2-input" readonly="" tabindex="0" aria-autocomplete="list"
                                  class="css-62g3xt-dummyInput" value="">
                              </div>
                              <div class="u_select__indicators css-1wy0on6"><span
                                  class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                                <div
                                  class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                                  aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                                    focusable="false" class="css-8mmkcg">
                                    <path
                                      d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                    </path>
                                  </svg></div>
                              </div>
                            </div><input name="postType" type="hidden" value="1">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <app-company-feed></app-company-feed> -->
              </div>
            </div>
          </div>
          <div class="u_scroll-top "><svg width="20" height="20" viewBox="0 0 36 36" fill="none"
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path class="u_fill" d="M18 15.11L5.555 27.555 2 24 18 8l16 16-3.555 3.555L18 15.11z" fill="#007AFF">
              </path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>