<div class="u_layout-list">
  <div class="u_tabs u_bb-light u_flex u_align-center ">
    <ul class="u_flex u_align-center u_flex-1 nav">
      <li class="nav-item" (click)="selectTab('withTrip')" [class.active]="selectedTab === 'withTrip'">
        <a class="u_flex u_align-center nav-link">Reimbursement With Trip
          <div class="u_ml-5">
            <div class="u_tag u_ib" style="background-color: rgba(30, 37, 56, 0.1);">
              <p class="" style="color: rgb(30, 37, 56);">0</p>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item" (click)="selectTab('withoutTrip')" [class.active]="selectedTab === 'withoutTrip'">
        <a class="u_flex u_align-center nav-link">Reimbursement Without Trip
          <div class="u_ml-5">
            <div class="u_tag u_ib" style="background-color: rgba(30, 37, 56, 0.1);">
              <p class="" style="color: rgb(30, 37, 56);">0</p>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <div class="u_px-15">
      <div class=""><span class="u_flex u_cp" aria-describedby="popup-324"><svg width="20" height="20"
            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <path class="u_fill"
              d="M19.6 15.062h8L18 24.543l-9.6-9.481h8V4h3.2v11.062zM5.2 29.284h25.6V18.222H34v12.642c0 .42-.169.821-.469 1.118a1.61 1.61 0 01-1.131.462H3.6a1.61 1.61 0 01-1.131-.462A1.57 1.57 0 012 30.864V18.222h3.2v11.062z"
              fill="#4E525F"></path>
          </svg></span></div>
    </div>
  </div>

<div *ngIf="selectedTab === 'withTrip'">
  <app-reimbursement-with-trip></app-reimbursement-with-trip>
</div>
<div *ngIf="selectedTab === 'withoutTrip'" style="height: 100%; width: 100%;">
  <app-reimbursement-without-trip></app-reimbursement-without-trip>
</div>
</div>