
/* Style the label to look like a clickable menu item */
.u_sidemenu-item {
  cursor: pointer;
}

/* Optional: Add some styles for the label to indicate it's clickable */
.u_sidemenu-item p {
  margin: 0;
  padding: 10px;
}
i.ri-verified-badge-fill {
  font-size: 14px;
  color: #60b158;
}
