<div class="u_sm active u_sidebar-modal right"><div
    class="false u_sm-overlay"></div><div class="u_sm-layout"
    style="max-width: 400px;"><div class="u_sm-header" id="u_sm-header"><div
        class="u_sm-header-left"><h4>Absent Today <span
            style="font-size: 14px;">(2)</span></h4></div><div
        class="u_sm-header-right"><div class="u_sm-close" (click)="close()"><svg width="12"
            height="12" viewBox="0 0 36 36" fill="none"
            xmlns="http://www.w3.org/2000/svg" class
            xmlns:xlink="http://www.w3.org/1999/xlink"><path
              class="u_fill-stroke"
              d="M18 14.557L7.08 3.637l-.142-.142-.142.141-3.16 3.16-.141.142.141.141L14.557 18 3.637 28.92l-.142.142.141.142 3.16 3.16.142.141.141-.141L18 21.443l10.92 10.92.142.142.142-.141 3.16-3.16.141-.142-.141-.141L21.443 18l10.92-10.922.142-.141-.141-.142-3.16-3.16-.142-.141-.141.141L18 14.557z"
              stroke="73788B" fill="#007AFF"
              stroke-width="0.4"></path></svg></div></div></div><div
      class="u_sm-body" id="u_sm-body" style="max-height: calc(533px);"><div
        class="u_p-15 u_h-full"><div class="u_h-full"><div
            class="u_dashboard-row-body u_h-full"><ul
              class="u_users u_h-full"><li><div
                  class="u_users-birthday-name"><div class="u_cp u_flex-shrink"
                    aria-describedby="popup-10651"><div class="u_avatar "><div
                        class="u_avatar-content "
                        style="background-color: rgb(125, 90, 90); width: 36px; height: 36px;"><span
                          class="u_m-auto"
                          style="font-size: 1.2rem; line-height: 1.2rem;">PB</span></div></div></div><div
                    class="u_users-details"><h3>Parth Bhesaniya</h3><p>IT
                      Recruiter</p></div></div></li><li><div
                  class="u_users-birthday-name"><div class="u_cp u_flex-shrink"
                    aria-describedby="popup-10652"><div class="u_avatar "><div
                        class="u_avatar-content "
                        style="background-color: rgb(245, 185, 113); width: 36px; height: 36px;"><span
                          class="u_m-auto"
                          style="font-size: 1.2rem; line-height: 1.2rem;">RV</span></div></div></div><div
                    class="u_users-details"><h3>Rutvik Variya</h3><p>Angular
                      Developer</p></div></div></li></ul></div></div></div></div></div></div>
