<div class="u_settings-content u_flex u_flex-col" style="height: 100%; width: 100%;">
  <div class="u_layout-scrollview">
    <div class="u_scroll-section " style="position: relative; overflow: hidden; width: 100%; height: 100%;">
      <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
        <form class="u_company-header" autocomplete="off">
          <div class="u_settings-header u_p-20 " id="u_settings-header">
            <div class="u_settings-header-title ">
              <h5 class="u_mb-5">Bank Details</h5>
              <p>Add/Edit your bank details.</p>
            </div>
            <div class="u_settings-header-list">
              <div class="u_flex u_align-center u_content-end"></div>
            </div>
          </div>
          <div class="u_tax-common u_px-20 u_pt-20">
            <div class="u_row u_mb-5">
              <div class="u_col-12 u_mb-20">
                <h4 class="u_flex u_align-center">Bank 1</h4>
              </div>
              <div class="u_col-4 u_mb-25 ">
                <div class="form-group-wrapper">
                  <div class="form-group-main border-0 position-relative">
                    <ng-select placeholder="Select Country">
                      <ng-option>Kautilyam</ng-option>
                      <ng-option>Syfrox</ng-option>
                    </ng-select>
                    <label class="position-absolute m-0 bg-white">Select Country <span
                        class="text-danger">*</span></label>
                  </div>
                </div>
              </div>
              <div class="u_col-4 u_mb-25 ">
                <div class="form-group-wrapper">
                  <div class="form-group-main border-0 position-relative">
                    <ng-select placeholder="Bank Name" [items]="bankNames">
                    </ng-select>
                    <label class="position-absolute m-0 bg-white">Bank Name <span class="text-danger">*</span></label>
                  </div>
                </div>
              </div>
              <div class="u_col-4 u_mb-25 ">
                <div class="u_input"><input type="text" placeholder=" " name="branch 0" autocomplete="off"
                    value=""><label>Bank Branch <span>*</span></label></div>
              </div>
              <div class="u_col-4 u_mb-25 ">
                <div class="u_input"><input type="text" placeholder=" " name="ifsc 0" autocomplete="off"
                    value=""><label>Bank IFSC <span>*</span></label></div>
              </div>
              <div class="u_col-4 u_mb-25 ">
                <div class="u_input"><input type="number" placeholder=" " name="accountNumber 0" autocomplete="off"
                    value=""><label>Bank Account Number <span>*</span></label></div>
              </div>
              <div class="u_col-8 u_flex u_align-center u_mb-25">
                <div class="u_filter"><span class="u_add-btn" aria-describedby="popup-13006"><svg width="14" height="14"
                      viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                      xmlns:xlink="http://www.w3.org/1999/xlink">
                      <path class="u_fill"
                        d="M15.714 15.714V2h4.572v13.714H34v4.572H20.286V34h-4.572V20.286H2v-4.572h13.714z"
                        fill="#FFFFFF"></path>
                    </svg></span></div>
              </div>
            </div>
          </div>
          <div class="u_add-new-full u_text-center u_pb-20">
            <div class="u_ib u_cp">
              <div class="u_add-new-btn u_flex u_align-center"><svg width="14" height="14" viewBox="0 0 36 36"
                  fill="none" xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path class="u_fill"
                    d="M15.714 15.714V2h4.572v13.714H34v4.572H20.286V34h-4.572V20.286H2v-4.572h13.714z" fill="#007AFF">
                  </path>
                </svg><span class="u_ml-5">Add New</span></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>