<div class="u_profile-layout-wpr">
  <div class="u_scroll-section">
    <form autocomplete="off" [formGroup]="educationForm" (ngSubmit)="onSubmit(educationForm.value)">
      <div class="u_content-header">
        <h5>Education</h5>
        <div class="u_flex">
          <button type="button" class="u_btn white small u_btn__white" (click)="discard()">discard</button>
          <button type="submit" class="u_btn u_ml-10 blue small u_ml-10 u_btn__blue">save</button>
        </div>
      </div>
      <div class="u_content-leave-form u_p-20" formArrayName="educations">
        <div *ngFor="let education of educations.controls; let i = index" [formGroupName]="i" class="u_row u_mb-5">
          <div class="u_col-12 u_mb-20">
            <h4 class="u_flex u_align-center">
              Education {{ i + 1 }}
              <span class="u_icon-rollover u_ml-10 u_cp" (click)="removeEducation(i)">
                <svg width="16" height="16" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path class="u_fill"
                    d="M26 5.2h8v3.2h-3.2v24a1.6 1.6 0 01-1.6 1.6H6.8a1.6 1.6 0 01-1.6-1.6v-24H2V5.2h8V2h16v3.2zm-12.8 8V26h3.2V13.2h-3.2zm6.4 0V26h3.2V13.2h-3.2z"
                    fill="#007AFF"></path>
                </svg>
              </span>
            </h4>
          </div>
          <div class="u_col-4 u_mb-25">
            <div class="form-group-wrapper">
              <div class="form-group-main border-0 position-relative">
                <ng-select placeholder="Degree" formControlName="degree">
                  <ng-option *ngFor="let degree of degrees">{{ degree }}</ng-option>
                </ng-select>
                <label class="position-absolute m-0 bg-white">Degree <span class="text-danger">*</span></label>
              </div>
            </div>
          </div>
          <div class="u_col-4 u_mb-25">
            <div class="u_input">
              <input type="text" placeholder=" " autocomplete="off" formControlName="university">
              <label>College/University Name <span>*</span></label>
            </div>
          </div>
          <div class="u_col-4 u_mb-25">
            <div class="u_input">
              <input type="text" placeholder=" " autocomplete="off" formControlName="specialization">
              <label>Specialization <span>*</span></label>
            </div>
          </div>       
          <div class="u_col-4 u_mb-25">
            <div class="u_input u_input-password">
              <input class="" placeholder="" formControlName="startMonthYear" ngbDatepicker #startMonthYear="ngbDatepicker"
                (click)="startMonthYear.toggle()" autocomplete="off" />
              <label>Start Month/Year <span>*</span></label>
              <div class=" u_input-note u_ib">
                <span class="u_rollover u_cp u_flex" aria-describedby="popup-3740">
                  <i class="fa-regular fa-calendar-days text-secondary fs-3"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="u_col-4 u_mb-25">
            <div class="u_input u_input-password">
              <input class="" placeholder="" formControlName="endMonthYear" ngbDatepicker #endMonthYear="ngbDatepicker"
                (click)="endMonthYear.toggle()" autocomplete="off" />
              <label>End Month/Year <span>*</span></label>
              <div class=" u_input-note u_ib">
                <span class="u_rollover u_cp u_flex" aria-describedby="popup-3740">
                  <i class="fa-regular fa-calendar-days text-secondary fs-3"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <button class="u_btn__dashed" type="button" (click)="addEducation()" *ngIf="educations.length < 5">
          <svg width="14" height="14" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="u_fill" d="M15.714 15.714V2h4.572v13.714H34v4.572H20.286V34h-4.572V20.286H2v-4.572h13.714z"
              fill="#007AFF"></path>
          </svg>
          Add New
        </button>
      </div>
    </form>
  </div>
</div>