<div class="u_profile-layout-wpr">
  <div class="" style="position: relative; overflow: hidden; width: 100%; height: 100%;">
    <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
      <form autocomplete="off">
        <div class="u_content-header">
          <div class="u_flex u_align-center">
            <h5>Contact</h5>
          </div>
        </div>
        <div class="u_content-form u_pt-20 u_px-20">
          <div class="u_row">
            <div class="u_col-4 u_mb-25 ">
              <div class="u_input"><input type="text" placeholder=" " disabled="" name="email" autocomplete="off"
                  value="abhimayani1999@gmail.com"><label>Work Email </label></div>
            </div>
            <div class="u_col-4 u_mb-25 ">
              <div class="u_input"><input type="text" placeholder=" " name="alternativeEmail" autocomplete="off"
                  value="abhishek.mayani@kautilyam.com"><label>Personal Email </label></div>
            </div>
            <div class="u_col-4 u_mb-25 ">
              <div class="u_input u_fix-input u_input-notice">
                <div class="u_relative u_w-full"><input type="text" placeholder=" " name="employeeCode"
                    autocomplete="off" value="Abhishek.Mayani"><label>User Name </label>
                  <div class="u_input-note u_ib"><span class="u_rollover u_cp u_flex" aria-describedby="popup-1927">
                    <i class="bi bi-info-circle-fill fs-3"></i>
                  </span></div>
                </div><span class="u_fix-label">@kautilyam</span>
              </div>
            </div>
            <div class="u_col-4 u_mb-25 ">
              <div class="u_form-group">
                <div class="u_input u_input-focused">
                  <div class="u_flex u_country">
                    <div class="u_country-section "><span class="u_country-selected u_flex u_align-center u_cp"><i
                          class="u_flag IN"></i>+91</span>
                      <div class="u_country-dropdown"></div>
                    </div>
                    <div class="u_form-phonenum"><input min="0" type="number" placeholder=" " name="phoneNumber"
                        autocomplete="off" value="9104623032"></div>
                  </div><label>Mobile Number <span>*</span></label>
                </div>
              </div>
            </div>
            <div class="u_col-4 u_mb-20 ">
              <div class="u_form-group">
                <div class="u_input u_input-focused">
                  <div class="u_flex u_country">
                    <div class="u_country-section "><span class="u_country-selected u_flex u_align-center u_cp"><i
                          class="u_flag IN"></i>+91</span>
                      <div class="u_country-dropdown"></div>
                    </div>
                    <div class="u_form-phonenum"><input min="0" type="number" placeholder=" " name="phoneNumber"
                        autocomplete="off" value="7046460248"></div>
                  </div><label>Home Phone Number </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u_content-subheader small u_p-20">
          <h5>Social Links</h5>
        </div>
        <div class="u_content-form u_p-20">
          <form class="u_social-links ">
            <div class="u_row">
              <div class="u_col-4 u_mb-25">
                <div class="u_input u_input-social">
                  <input type="text" placeholder=" " name="social[0].value"
                    autocomplete="off" value="https://www.linkedin.com/feed/">
                    <span class="u_social-links-icons">
                      <i class="bi bi-linkedin fs-3"></i>
                    </span><label>LinkedIn URL </label></div>
              </div>
              <div class="u_col-4 u_mb-25">
                <div class="u_input u_input-social"><input type="text" placeholder=" " name="social[1].value"
                    autocomplete="off" value=""><span class="u_social-links-icons">
                      <i class="bi bi-twitter fs-3"></i>

                    </span><label>Twitter Username </label></div>
              </div>
              <div class="u_col-4 u_mb-25">
                <div class="u_input u_input-social"><input type="text" placeholder=" " name="social[2].value"
                    autocomplete="off" value=""><span class="u_social-links-icons">
                      <i class="bi bi-skype fs-3"></i>
                    </span><label>Skype ID </label></div>
              </div>
            </div>
          </form>
        </div>
      </form>
    </div>
  </div>
</div>
