<div class="u_profile-layout-wpr">
  <div class="" style="position: relative; overflow: hidden; width: 100%; height: 100%;">
    <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
      <div class="u_flex u_flex-col u_h-full">
        <div class="u_flex-info">
          <div class="u_content-header">
            <h5>2 Signature </h5>
            <div class="u_flex u_content-between u_align-center"><span class="u_ml-10 u_add-btn"
                aria-describedby="popup-6775"><svg width="14" height="14" viewBox="0 0 36 36" fill="none"
                  xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path class="u_fill"
                    d="M15.714 15.714V2h4.572v13.714H34v4.572H20.286V34h-4.572V20.286H2v-4.572h13.714z" fill="#FFFFFF">
                  </path>
                </svg></span></div>
          </div>
          <div class="u_h-full">
            <div class=""
              style="position: relative; overflow: hidden; width: 100%; height: 100%;">
              <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
                <div class="u_h-full">
                  <div class="u_flex-wrap u_flex ">
                    <div class="u_signature-card u_p-15">
                      <div class="u_flex u_content-between u_align-center"><span></span><span class="u_more-menu">
                          <div aria-describedby="popup-6797">
                            <div class="u_hover_blue-btn u_cp u_signature-threedot" aria-describedby="popup-6798"><svg
                                width="20" height="20" viewBox="0 0 36 36" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path class="u_fill"
                                  d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                                  fill="#4E525F"></path>
                              </svg></div>
                          </div>
                        </span></div><img class="u_signature-img u_w-full " alt="" draggable="false"
                        src="https://thumbor.superworks.com/unsafe/375x165/filters:quality(80)/https://files.superworks.com/files/65fbcacc9c84d5030f4c3d9f/hrms/digitalSignature/YoMfikGoZ7170J0a.png">
                    </div>
                    <div class="u_signature-card u_p-15">
                      <div class="u_flex u_content-between u_align-center"><span></span><span class="u_more-menu">
                          <div aria-describedby="popup-6799">
                            <div class="u_hover_blue-btn u_cp u_signature-threedot" aria-describedby="popup-6800"><svg
                                width="20" height="20" viewBox="0 0 36 36" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path class="u_fill"
                                  d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                                  fill="#4E525F"></path>
                              </svg></div>
                          </div>
                        </span></div><img class="u_signature-img u_w-full " alt="" draggable="false"
                        src="https://thumbor.superworks.com/unsafe/375x165/filters:quality(80)/https://files.superworks.com/files/65fbcacc9c84d5030f4c3d9f/hrms/digitalSignature/WmqDtiFBPcakRuM2.png">
                    </div>
                  </div>
                </div>
              </div>
              <div
                style="position: absolute; height: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; left: 2px; border-radius: 3px; visibility: hidden;">
                <div class="u_scroll-bar"
                  style="position: relative; display: block; height: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); width: 0px;">
                </div>
              </div>
              <div
                style="position: absolute; width: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; top: 2px; border-radius: 3px; visibility: hidden;">
                <div class="u_scroll-bar"
                  style="position: relative; display: block; width: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); height: 0px; transform: translateY(0px);">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      style="position: absolute; height: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; left: 2px; border-radius: 3px; visibility: hidden;">
      <div class="u_scroll-bar"
        style="position: relative; display: block; height: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); width: 0px; transform: translateX(0px);">
      </div>
    </div>
    <div
      style="position: absolute; width: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; top: 2px; border-radius: 3px; visibility: hidden;">
      <div class="u_scroll-bar"
        style="position: relative; display: block; width: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); height: 0px; transform: translateY(0px);">
      </div>
    </div>
  </div>
</div>
