<div class="u_profile-layout-wpr">
  <div class="u_scroll-section " style="position: relative; overflow: hidden; width: 100%; height: 100%;">
    <div style="position: absolute; inset: 0px; overflow: auto;">
      <div class="u_flex u_flex-col u_h-full">
        <div class="u_flex-info">
          <div class="u_content-header">
            <h5 class="mb-0">2 Signature </h5>
            <div class="u_flex u_content-between u_align-center">
              <span class="u_ml-10 u_add-btn"
                aria-describedby="popup-6775" (click)="openSignatureModal()"><svg width="14" height="14" viewBox="0 0 36 36" fill="none"
                  xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path class="u_fill"
                    d="M15.714 15.714V2h4.572v13.714H34v4.572H20.286V34h-4.572V20.286H2v-4.572h13.714z" fill="#FFFFFF">
                  </path>
                </svg></span></div>
          </div>
          <div class="u_h-full">
            <div class="u_scroll-section " style="position: relative; overflow: hidden; width: 100%; height: 100%;">
              <div style="position: absolute; inset: 0px; overflow: auto;">
                <div class="u_h-full">
                  <div class="u_flex-wrap u_flex ">
                    <div class="u_signature-card u_p-15">
                      <div class="u_flex u_content-between u_align-center">
                        <span class="u_more-menu">
                          <div aria-describedby="">
                            <div class="u_hover_blue-btn u_cp u_signature-threedot" aria-describedby="popup-6798" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false" ngbTooltip="Add Employee">
                              <div class="u_popover dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <ul class="u_more-member-popover">
                                  <li class="u_rollover-text u_cp" (click)="openModal()"><svg width="14" height="14" viewBox="0 0 36 36" fill="none"
                                      xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                                      <path class="u_fill"
                                        d="M19.629 8.818l7.553 7.555L9.554 34H2v-7.555L19.629 8.816v.002zM22.146 6.3l3.777-3.779a1.78 1.78 0 012.518 0L33.48 7.56a1.78 1.78 0 010 2.518L29.7 13.854 22.147 6.3z"
                                        fill="#4E525F"></path>
                                    </svg>
                                    <p id="663c71297110e34fc096caa7" class="u_pl-10">Edit</p>
                                  </li>
                                  <li class="u_rollover-text u_cp"><svg width="14" height="14" viewBox="0 0 36 36" fill="none"
                                      xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                                      <path class="u_fill"
                                        d="M26 5.2h8v3.2h-3.2v24a1.6 1.6 0 01-1.6 1.6H6.8a1.6 1.6 0 01-1.6-1.6v-24H2V5.2h8V2h16v3.2zm-12.8 8V26h3.2V13.2h-3.2zm6.4 0V26h3.2V13.2h-3.2z"
                                        fill="#4E525F"></path>
                                    </svg>
                                    <p class="u_pl-10">Delete</p>
                                  </li>
                                </ul>
                              </div>
                              <svg width="20" height="20" viewBox="0 0 36 36" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path class="u_fill"
                                  d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                                  fill="#4E525F"></path>
                              </svg>
                            </div>
                          </div>
                        </span>
                      </div><img class="u_signature-img u_w-full " alt="" draggable="false"
                        src="https://thumbor.superworks.com/unsafe/375x165/filters:quality(80)/https://files.superworks.com/files/65fbcacc9c84d5030f4c3d9f/hrms/digitalSignature/YoMfikGoZ7170J0a.png">
                    </div>
                    <div class="u_signature-card u_p-15">
                      <div class="u_flex u_content-between u_align-center"><span></span><span class="u_more-menu">
                          <div aria-describedby="popup-6799">
                            <div class="u_hover_blue-btn u_cp u_signature-threedot" aria-describedby="popup-6798" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false" ngbTooltip="Add Employee">
                              <div class="u_popover dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <ul class="u_more-member-popover">
                                  <li class="u_rollover-text u_cp"><svg width="14" height="14" viewBox="0 0 36 36" fill="none"
                                      xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                                      <path class="u_fill"
                                        d="M19.629 8.818l7.553 7.555L9.554 34H2v-7.555L19.629 8.816v.002zM22.146 6.3l3.777-3.779a1.78 1.78 0 012.518 0L33.48 7.56a1.78 1.78 0 010 2.518L29.7 13.854 22.147 6.3z"
                                        fill="#4E525F"></path>
                                    </svg>
                                    <p id="663c71297110e34fc096caa7" class="u_pl-10">Edit</p>
                                  </li>
                                  <li class="u_rollover-text u_cp"><svg width="14" height="14" viewBox="0 0 36 36" fill="none"
                                      xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                                      <path class="u_fill"
                                        d="M26 5.2h8v3.2h-3.2v24a1.6 1.6 0 01-1.6 1.6H6.8a1.6 1.6 0 01-1.6-1.6v-24H2V5.2h8V2h16v3.2zm-12.8 8V26h3.2V13.2h-3.2zm6.4 0V26h3.2V13.2h-3.2z"
                                        fill="#4E525F"></path>
                                    </svg>
                                    <p class="u_pl-10">Delete</p>
                                  </li>
                                </ul>
                              </div>
                              <svg
                                width="20" height="20" viewBox="0 0 36 36" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path class="u_fill"
                                  d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                                  fill="#4E525F"></path>
                              </svg></div>
                          </div>
                        </span></div><img class="u_signature-img u_w-full " alt="" draggable="false"
                        src="https://thumbor.superworks.com/unsafe/375x165/filters:quality(80)/https://files.superworks.com/files/65fbcacc9c84d5030f4c3d9f/hrms/digitalSignature/WmqDtiFBPcakRuM2.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
