<div class="u_hrms u_hrms-app-view">
  <div class="u_hrms">
    <div class="u_settings-layout u_flex " style="height: calc(-62px + 100vh);">
      <div class="u_settings-left-sidebar ">
        <ul class="u_sidemenu ">
          <div class=""
            style="position: relative; overflow: hidden; width: 100%; height: 100%;">
            <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
              <li class=" u_sidemenu-item-active " routerLink="company-details">
                <div class="u_sidemenu-item">
                  <p>Company details</p>
                </div>
              </li>
              <li class="  " routerLink="sub-company">
                <div class="u_sidemenu-item">
                  <p>Sub Company</p>
                </div>
              </li>
              <li class="  " routerLink="bank-details">
                <div class="u_sidemenu-item">
                  <p>Bank details</p>
                </div>
              </li>
              <li class="  " routerLink="location">
                <div class="u_sidemenu-item">
                  <p>Location</p>
                </div>
              </li>
              <li class="u_sidemenu-has-list u_sidemenu-item-active">
                <div class="u_sidemenu-item">
                  <p>General Settings</p>
                </div>
                <ul class="u_sidemenu-item-list">
                  <li routerLink="general/basic">Basic</li>
                  <li routerLink="general/ip-restrictions">IP Restrictions</li>
                  <li routerLink="general/logged-in-ip">Login Restrictions</li>
                  <li routerLink="general/profile-update-settings">Profile Update Requests</li>
                  <li routerLink="general/insurance-type">Insurance Type</li>
                </ul>
              </li>
              <li class="  " routerLink="email-alert">
                <div class="u_sidemenu-item">
                  <p>Email Alert</p>
                </div>
              </li>
              <li class="u_sidemenu-has-list u_sidemenu-item-active">
                <div class="u_sidemenu-item">
                  <p>Employee fields</p>
                </div>
                <ul class="u_sidemenu-item-list">
                  <li routerLink="employee-fields/category">Category</li>
                  <li routerLink="employee-fields/department">Department</li>
                  <li routerLink="employee-fields/sub-department">Sub Department</li>
                  <li routerLink="employee-fields/job-title">Job Title</li>
                  <li routerLink="employee-fields/documents">Personal Documents</li>
                  <li routerLink="employee-fields/degree">Degree</li>
                  <li routerLink="employee-fields/relationship">Relationship</li>
                  <li routerLink="employee-fields/status">Employment Status</li>
                  <li routerLink="employee-fields/location-activity">Location Activity</li>
                  <li routerLink="employee-fields/letter-type">Letter Type</li>
                </ul>
              </li>
              <li class="u_sidemenu-has-list u_sidemenu-item-active">
                <div class="u_sidemenu-item">
                  <p>Attendance Policy</p>
                </div>
                <ul class="u_sidemenu-item-list">
                  <li routerLink="shift/shift">Shift Policy</li>
                  <li routerLink="shift/shift-request">Shift Request Policy</li>
                  <li routerLink="shift/weekend">Weekend Policy</li>
                  <li routerLink="shift/break">Break Policy</li>
                  <li routerLink="shift/penalisation">Penalisation Policy</li>
                  <li routerLink="shift/scheduler">Shift Scheduler</li>
                  <li routerLink="shift/geo-fencing">Geo Fencing</li>
                  <li routerLink="shift/wfh-od">On Duty Policy</li>
                  <li routerLink="shift/clock-in-method">Clock In Method</li>
                  <li routerLink="shift/attendance-type">Attendance Type</li>
                  <li routerLink="shift/attendance-setting">Attendance Settings</li>
                  <li routerLink="shift/biometrics">Biometrics Device</li>
                </ul>
              </li>
              <li class="u_sidemenu-has-list u_sidemenu-item-active">
                <div class="u_sidemenu-item">
                  <p>Overtime policy</p>
                </div>
                <ul class="u_sidemenu-item-list">
                  <li routerLink="ot-policy/policy">Overtime policy</li>
                  <li routerLink="ot-policy/pay-codes">Pay Codes</li>
                </ul>
              </li>
              <li class="  " routerLink="leave-policy">
                <div class="u_sidemenu-item">
                  <p>Leave type/policy</p>
                </div>
              </li>
              <li class="  " routerLink="holidays-policy">
                <div class="u_sidemenu-item">
                  <p>Holidays policy</p>
                </div>
              </li>
              <li class="  " routerLink="comp-off-policy">
                <div class="u_sidemenu-item">
                  <p>Comp-Off Policy</p>
                </div>
              </li>
              <li class="  " routerLink="policy-documents">
                <div class="u_sidemenu-item">
                  <p>Policy Documents</p>
                </div>
              </li>
              <li class="u_sidemenu-has-list u_sidemenu-item-active">
                <div class="u_sidemenu-item">
                  <p>Onboarding Setting</p>
                </div>
                <ul class="u_sidemenu-item-list">
                  <li routerLink="onboarding-setting/onboarding-fields">Onboarding Fields</li>
                  <li routerLink="onboarding-setting/onboarding-templates">Onboarding Templates</li>
                </ul>
              </li>
              <li class="u_sidemenu-has-list u_sidemenu-item-active">
                <div class="u_sidemenu-item">
                  <p>Employee Exit</p>
                </div>
                <ul class="u_sidemenu-item-list">
                  <li routerLink="employee-exit/reasons">Employee Exit Reason</li>
                  <li routerLink="employee-exit/employee-exit-task-list">Employee Exit Task List</li>
                  <li routerLink="employee-exit/employee-exit-setting">Setting</li>
                </ul>
              </li>
              <li class="u_sidemenu-has-list u_sidemenu-item-active">
                <div class="u_sidemenu-item">
                  <p>Feedback Settings</p>
                </div>
                <ul class="u_sidemenu-item-list">
                  <li routerLink="feedback/praise-settings">Badge</li>
                  <li routerLink="feedback/core-value">Core Value</li>
                  <li routerLink="feedback/feedback-type">Feedback Type</li>
                </ul>
              </li>
              <li class="u_sidemenu-has-list u_sidemenu-item-active">
                <div class="u_sidemenu-item">
                  <p>Help Desk Settings</p>
                </div>
                <ul class="u_sidemenu-item-list">
                  <li routerLink="help-desk/category-list">Category List</li>
                  <li routerLink="help-desk/status-list">Status List</li>
                  <li routerLink="help-desk/activity">Activity List</li>
                  <li routerLink="help-desk/advance-settings">Advance Settings</li>
                </ul>
              </li>
              <li class="u_sidemenu-has-list u_sidemenu-item-active">
                <div class="u_sidemenu-item">
                  <p>Reimbursement Settings</p>
                </div>
                <ul class="u_sidemenu-item-list">
                  <li routerLink="reimbursement-setting/reimbursement-type">Reimbursement Type</li>
                  <li routerLink="reimbursement-setting/approval-chain">Approval Chain</li>
                </ul>
              </li>
              <li class="  " routerLink="access-level">
                <div class="u_sidemenu-item">
                  <p>Access Level</p>
                </div>
              </li>
              <li class="  " routerLink="product-access">
                <div class="u_sidemenu-item">
                  <p>Product Access</p>
                </div>
              </li>
              <li class="u_sidemenu-has-list u_sidemenu-item-active">
                <div class="u_sidemenu-item">
                  <p>Org Structure</p>
                </div>
                <ul class="u_sidemenu-item-list">
                  <li routerLink="org-structure/zone">Zone</li>
                  <li routerLink="org-structure/business-unit">Business unit</li>
                  <li routerLink="org-structure/cost-center">Cost Center</li>
                  <li routerLink="org-structure/bands">Bands</li>
                  <li routerLink="org-structure/segment">Segment</li>
                  <li routerLink="org-structure/hub">Hub</li>
                  <li routerLink="org-structure/territory">Territory</li>
                  <li routerLink="org-structure/region">Region</li>
                </ul>
              </li>
            </div>
            <div
              style="position: absolute; height: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; left: 2px; border-radius: 3px; visibility: hidden;">
              <div class="u_scroll-bar"
                style="position: relative; display: block; height: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); width: 0px;">
              </div>
            </div>
            <div
              style="position: absolute; width: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; top: 2px; border-radius: 3px; visibility: visible;">
              <div class="u_scroll-bar"
                style="position: relative; display: block; width: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); height: 242px; transform: translateY(0px);">
              </div>
            </div>
          </div>
        </ul>
      </div>
      <div style="height: 100%; width: 100%;">

        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>
