

  <div class="u_settings-content u_flex u_flex-col" style="height: 100%; width: 100%;">
    <div class="u_layout-scrollview">
      <div class="u_scroll-section " style="position: relative; overflow: hidden; width: 100%; height: 100%;">
        <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
          <form class="u_company-header" autocomplete="off">
            <div class="u_settings-header u_p-20 " id="u_settings-header">
              <div class="u_settings-header-title ">
                <h5 class="u_mb-5">Company Details - Kautilyam</h5>
                <p>Add/Edit your company details.</p>
              </div>
              <div class="u_settings-header-list">
                <div class="u_flex u_align-center u_content-end"></div>
              </div>
            </div>
            <div class="u_company-common">
              <div class="u_pl-20 u_pr-20 u_pt-20">
                <div class="u_flex u_align-center">
                  <div class="u_left-company-logo u_mr-30"><label class="u_label u_flex u_align-center u_mb-10 mb-2">Company
                      Logo<span class="u_rollover u_cp u_flex u_ml-10" aria-describedby="popup-13107"><svg width="18"
                          height="18" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                          xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M18 2c8.837 0 16 7.163 16 16s-7.163 16-16 16S2 26.837 2 18 9.163 2 18 2Zm1.6 11.2V10h-3.2v3.2h3.2Zm0 12.8v-9.6h-3.2V26h3.2Z"
                            fill="#4E525F"></path>
                        </svg> </span></label>
                    <div class="u_upload-photo-left" role="button" tabindex="0">
                      <div class="u_upload-photo-inner u_flex u_align-center u_content-center u_flex-col">
                        <div class="u_preview-img "> <img
                            src="https://files.superworks.com/files/65fbcacc9c84d5030f4c3d9f/hrms/GCCbFjgnYaO4Nchn.png"
                            alt="">
                          <ul class="u_profile-document-preview-options u_flex u_align-center">
                            <li class="u_mr-10 u_cp"><label class="u_cp" for="u_upload"><svg width="18" height="18"
                                  viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                                  xmlns:xlink="http://www.w3.org/1999/xlink">
                                  <path class="u_fill"
                                    d="M18 18.526l6.168 6.222-2.057 2.075-2.658-2.681v8.191h-2.907V24.14l-2.657 2.684-2.057-2.075L18 18.526zM18 3c2.496 0 4.904.926 6.768 2.6a10.298 10.298 0 013.34 6.485 7.997 7.997 0 014.458 3.173 8.121 8.121 0 01-.903 10.308 7.966 7.966 0 01-4.94 2.335L26.722 25a8.84 8.84 0 00-2.494-6.17 8.685 8.685 0 00-6.065-2.637 8.679 8.679 0 00-6.158 2.406 8.835 8.835 0 00-2.721 6.071l-.006.33v2.901a7.965 7.965 0 01-4.94-2.335 8.12 8.12 0 01-.904-10.308 7.997 7.997 0 014.457-3.173 10.297 10.297 0 013.34-6.485A10.124 10.124 0 0118 3z"
                                    fill="#007AFF"></path>
                                </svg><input type="file" class="img_file_input" id="u_upload" accept="image/*"
                                  autocomplete="off" tabindex="-1" style="display: none;"></label></li>
                            <li class="u_cp"><svg width="18" height="18" viewBox="0 0 36 36" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path class="u_fill"
                                  d="M26 5.2h8v3.2h-3.2v24a1.6 1.6 0 01-1.6 1.6H6.8a1.6 1.6 0 01-1.6-1.6v-24H2V5.2h8V2h16v3.2zm-12.8 8V26h3.2V13.2h-3.2zm6.4 0V26h3.2V13.2h-3.2z"
                                  fill="#007AFF"></path>
                              </svg></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="u_left-company-logo"><label class="u_label u_flex u_align-center u_mb-10 mb-2">Company Icon<span
                        class="u_rollover u_cp u_flex u_ml-10" aria-describedby="popup-13108"><svg width="18" height="18"
                          viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                          xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M18 2c8.837 0 16 7.163 16 16s-7.163 16-16 16S2 26.837 2 18 9.163 2 18 2Zm1.6 11.2V10h-3.2v3.2h3.2Zm0 12.8v-9.6h-3.2V26h3.2Z"
                            fill="#4E525F"></path>
                        </svg> </span></label>
                    <div class="u_upload-photo-left" role="button" tabindex="0">
                      <div class="u_upload-photo-inner u_flex u_align-center u_content-center u_flex-col">
                        <div class="u_preview-drag"><svg width="30" height="30" viewBox="0 0 36 36" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill"
                              d="M18 18.526l6.168 6.222-2.057 2.075-2.658-2.681v8.191h-2.907V24.14l-2.657 2.684-2.057-2.075L18 18.526zM18 3c2.496 0 4.904.926 6.768 2.6a10.298 10.298 0 013.34 6.485 7.997 7.997 0 014.458 3.173 8.121 8.121 0 01-.903 10.308 7.966 7.966 0 01-4.94 2.335L26.722 25a8.84 8.84 0 00-2.494-6.17 8.685 8.685 0 00-6.065-2.637 8.679 8.679 0 00-6.158 2.406 8.835 8.835 0 00-2.721 6.071l-.006.33v2.901a7.965 7.965 0 01-4.94-2.335 8.12 8.12 0 01-.904-10.308 7.997 7.997 0 014.457-3.173 10.297 10.297 0 013.34-6.485A10.124 10.124 0 0118 3z"
                              fill="#4E525F"></path>
                          </svg>
                          <p class="u_mt-5 u_mb-5"> Upload Icon </p><label class="u_block u_cp"><input type="file"
                              class="img_file_input" accept=".png, .jpg, .jpeg" autocomplete="off" tabindex="-1"
                              style="display: none;"></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u_px-20 u_pt-20">
                <div class="u_row">
                  <div class="u_col-4 u_mb-25">
                    <div class="u_input"><input type="text" name="company" placeholder=" " autocomplete="off"
                        value="Kautilyam"><label>Company Name <span>*</span></label></div>
                  </div>
                  <div class="u_col-4 u_mb-25">
                    <div class="u_input"><input type="text" name="domain" placeholder=" " autocomplete="off"
                        value=""><label>Business Domain (Industry) </label></div>
                  </div>
                  <div class="u_col-4 u_mb-25">
                    <div class="u_input"><input type="text" name="registrationNumber" placeholder=" " autocomplete="off"
                        value=""><label>Registration Number </label></div>
                  </div>
                  <div class="u_col-4 u_mb-25">
                    <div class="u_input"><input type="text" name="iec" placeholder=" " autocomplete="off"
                        value=""><label>IEC Code </label></div>
                  </div>
                  <div class="u_col-4 u_mb-25">
                    <div class="u_input"><input type="text" name="pan" placeholder=" " autocomplete="off"
                        value=""><label>Company PAN </label></div>
                  </div>
                  <div class="u_col-4 u_mb-25">
                    <div class="u_input"><input type="text" name="tan" placeholder=" " autocomplete="off"
                        value=""><label>TAN Number </label></div>
                  </div>
                  <div class="u_col-4 u_mb-25">
                    <div class="u_input u_input-select-value">
                      <div class="u_datepicker ">
                        <div class="react-datepicker-wrapper">
                          <div class="react-datepicker__input-container"><input type="text" name="startAt" placeholder=" "
                              autocomplete="off" class="" value="28/02/2024"></div>
                        </div>
                      </div><label>Start Date </label>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="u_content-subheader u_p-20">
                  <h5>Owner Details</h5>
                </div>
                <div class="u_pt-20 u_pl-30 u_pr-20 u_pb-20">
                  <div class="u_row">
                    <div class="u_input u_input-select u_input-select-value">
                      <div class="u_input-select-inner u_single-select-user css-2b097c-container"><span aria-live="polite"
                          aria-atomic="false" aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                        <div class="u_select__control d-flex align-items-center">
                          <div class="u_select__value-container u_select__value-container--has-value css-1hwfws3">
                            <div class="u_select__single-value css-1uccc91-singleValue">
                              <div class="u_flex u_align-center">
                                <div class="u_avatar ">
                                  <div class="u_avatar-content "
                                    style="background-color: rgb(96, 177, 88); width: 24px; height: 24px;"><span
                                      class="u_m-auto" style="font-size: 0.8rem; line-height: 0.8rem;">AM</span></div>
                                </div>
                                <p class="u_one-line mx-3">Abhishek Mayani</p>
                              </div>
                            </div>                        
                          </div>
                          <div class="u_select__indicators css-1wy0on6"><span
                              class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                            <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                              aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                                focusable="false" class="css-8mmkcg">
                                <path
                                  d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                </path>
                              </svg></div>
                          </div>
                        </div><input name="employee" type="hidden" value="65fbcacc9c84d5030f4c3d98">
                      </div><label>Owner </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u_content-subheader u_p-20">
                <h5>Address</h5>
              </div>
              <div class="u_px-20 u_pt-20">
                <div class="u_row">
                  <div class="u_col-4 u_mb-25">
                    <div class="u_input"><input type="text" name="address1" placeholder=" " autocomplete="off"
                        value="309, Sunrise Commercial Complex,"><label>Address 1 <span>*</span></label></div>
                  </div>
                  <div class="u_col-4 u_mb-25">
                    <div class="u_input"><input type="text" name="address2" placeholder=" " autocomplete="off"
                        value="Lajamni Chowk, Mota Varachh"><label>Address 2 </label></div>
                  </div>
                  <div class="u_col-4 u_mb-20">
                    <div class="u_input u_input-select u_input-select-value">
                      <div class="u_input-select-inner css-2b097c-container"><span aria-live="polite" aria-atomic="false"
                          aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                        <div class="u_select__control d-flex align-items-center">
                          <div class="u_select__value-container u_select__value-container--has-value css-1hwfws3">
                            <div class="u_select__single-value css-1uccc91-singleValue">India</div>                            
                          </div>
                          <div class="u_select__indicators css-1wy0on6"><span
                              class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                            <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                              aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                                focusable="false" class="css-8mmkcg">
                                <path
                                  d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                </path>
                              </svg></div>
                          </div>
                        </div>
                      </div><label>Country <span>*</span></label>
                    </div>
                  </div>
                  <div class="u_col-4 u_mb-20 Z ">
                    <div class="u_input u_input-select u_input-select-value">
                      <div class="u_input-select-inner css-2b097c-container"><span aria-live="polite" aria-atomic="false"
                          aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                        <div class="u_select__control d-flex align-items-center">
                          <div class="u_select__value-container u_select__value-container--has-value css-1hwfws3">
                            <div class="u_select__single-value css-1uccc91-singleValue">Gujarat</div>                           
                          </div>
                          <div class="u_select__indicators css-1wy0on6"><span
                              class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                            <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                              aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                                focusable="false" class="css-8mmkcg">
                                <path
                                  d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                </path>
                              </svg></div>
                          </div>
                        </div>
                      </div><label>State <span>*</span></label>
                    </div>
                  </div>
                  <div class="u_col-4 u_mb-20">
                    <div class="u_input"><input type="text" name="city" placeholder=" " autocomplete="off"
                        value="Surat"><label>City <span>*</span></label></div>
                  </div>
                  <div class="u_col-4 u_mb-20">
                    <div class="u_input"><input type="text" name="zip" placeholder=" " autocomplete="off"
                        value="394105"><label>Pincode <span>*</span></label></div>
                  </div>
                </div>
              </div>
              <div class="u_content-subheader u_p-20">
                <h5>Contact Detail</h5>
              </div>
              <div class="u_px-20 u_pt-20">
                <div class="u_row">
                  <div class="u_col-4 u_mb-25 ">
                    <div class="u_input u_input-focused">
                      <div class="u_flex u_country">
                        <div class="u_country-section "><span class="u_country-selected u_flex u_align-center u_cp"><i
                              class="u_flag IN"></i>+91</span>
                          <div class="u_country-dropdown"></div>
                        </div>
                        <div class="u_form-phonenum"><input min="0" type="number" placeholder=" " name="phoneNumber"
                            autocomplete="off" value="7600420470"></div>
                      </div><label>Primary Phone Number <span>*</span></label>
                    </div>
                  </div>
                  <div class="u_col-4 u_mb-25">
                    <div class="u_input u_input-focused">
                      <div class="u_flex u_country">
                        <div class="u_country-section "><span class="u_country-selected u_flex u_align-center u_cp"><i
                              class="u_flag IN"></i>+91</span>
                          <div class="u_country-dropdown"></div>
                        </div>
                        <div class="u_form-phonenum"><input min="0" type="number" placeholder=" " name="phoneNumber"
                            autocomplete="off" value="7046460248"></div>
                      </div><label>Secondary Phone Number </label>
                    </div>
                  </div>
                  <div class="u_col-4 u_mb-25">
                    <div class="u_input u_input-focused">
                      <div class="u_flex u_country">
                        <div class="u_country-section "><span class="u_country-selected u_flex u_align-center u_cp"><i
                              class="u_flag IN"></i>+91</span>
                          <div class="u_country-dropdown"></div>
                        </div>
                        <div class="u_form-phonenum"><input min="0" type="number" placeholder=" " name="phoneNumber"
                            autocomplete="off" value="9104623032"></div>
                      </div><label>Fax Number </label>
                    </div>
                  </div>
                  <div class="u_col-4 u_mb-25">
                    <div class="u_input"><input type="text" name="website" placeholder=" " autocomplete="off"
                        value=""><label>Website </label></div>
                  </div>
                  <div class="u_col-4 u_mb-25">
                    <div class="u_input"><input type="text" name="email" placeholder=" " autocomplete="off"
                        value="hr@kautilyam.com"><label>Email Address <span>*</span></label></div>
                  </div>
                </div>
              </div>
              <div class="u_content-subheader u_p-20">
                <h5>About Company</h5>
              </div>
              <div class="u_px-20 u_pt-20">
                <div class="u_row">
                  <div class="u_col-4 u_mb-25">
                    <div class="u_input u_input-textarea"><textarea class="u_textarea u_textarea-six-rows" name="overview"
                        placeholder=" " autocomplete="off"></textarea><label>Overview </label></div>
                  </div>
                  <div class="u_col-4 u_mb-25">
                    <div class="u_input u_input-textarea"><textarea class="u_textarea u_textarea-six-rows" name="vision"
                        placeholder=" " autocomplete="off"></textarea><label>Vision </label></div>
                  </div>
                  <div class="u_col-4 u_mb-25">
                    <div class="u_input u_input-textarea"><textarea class="u_textarea u_textarea-six-rows" name="mission"
                        placeholder=" " autocomplete="off"></textarea><label>Mission </label></div>
                  </div>
                </div>
              </div>
              <div class="u_content-subheader u_p-20">
                <h5>Email Setting</h5>
              </div>
              <div class="u_p-20">
                <div class="u_flex">
                  <div class="u_checkbox    "><input id="isEmailStop" type="checkbox"
                      label="Would you like to stop receiving emails from the system?" name="isEmailStop" class=""><label
                      for="isEmailStop"><span>Would you like to stop receiving emails from the system?</span></label>
                  </div><span class="u_rollover u_cp u_flex u_ml-10" aria-describedby="popup-13109"><svg width="18"
                      height="18" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                      xmlns:xlink="http://www.w3.org/1999/xlink">
                      <path class="u_fill"
                        d="M18 2c8.837 0 16 7.163 16 16s-7.163 16-16 16S2 26.837 2 18 9.163 2 18 2Zm1.6 11.2V10h-3.2v3.2h3.2Zm0 12.8v-9.6h-3.2V26h3.2Z"
                        fill="#4E525F"></path>
                    </svg></span>
                </div>
                <div class="u_mb-25 u_mt-25"><label class="u_label u_label_header u_mb-15">Email Configuration : </label>
                </div>
                <div class="u_radio-btn  u_mb-15"><input type="radio" id="isCustomEmailServer-false"
                    for="isCustomEmailServer-false" name="isCustomEmailServer"
                    label="Do you want to configure default email address?" class=" u_mb-15" checked=""><label
                    for="isCustomEmailServer-false">Do you want to configure default email address?</label></div>
                <div class="u_radio-btn  u_mb-15"><input type="radio" id="isCustomEmailServer-true"
                    for="isCustomEmailServer-true" name="isCustomEmailServer"
                    label="Do you want to configure custom email address?" class=" u_mb-15"><label
                    for="isCustomEmailServer-true">Do you want to configure custom email address?</label></div>
              </div>
            </div>
          </form>
        </div>
        <div
          style="position: absolute; height: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; left: 2px; border-radius: 3px; visibility: hidden;">
          <div class="u_scroll-bar"
            style="position: relative; display: block; height: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); width: 0px; transform: translateX(0px);">
          </div>
        </div>
        <div
          style="position: absolute; width: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; top: 2px; border-radius: 3px; visibility: visible;">
          <div class="u_scroll-bar"
            style="position: relative; display: block; width: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); height: 96px; transform: translateY(0px);">
          </div>
        </div>
      </div>
    </div>
  </div>



