<div class="u_settings-content u_flex u_flex-col" style="height: 100%; width: 100%;">
  <div class="u_settings-header u_p-20 " id="u_settings-header">
    <div class="u_settings-header-title ">
      <h5 class="false">4 Status List</h5>
      <p> </p>
    </div>
    <div class="u_settings-header-list">
      <div class="u_flex u_align-center u_content-end">
        <div class="u_filter u_filter-search "><span class="u_search-icon u_cp"><svg width="14" height="14"
              viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <path class="u_fill"
                d="M33.474 30.95l-6.042-6.024a14.075 14.075 0 003.003-8.708 14.218 14.218 0 10-14.217 14.217 14.075 14.075 0 008.708-3.003l6.025 6.042a1.776 1.776 0 002.523 0 1.777 1.777 0 000-2.523zM5.554 16.219a10.663 10.663 0 1121.327 0 10.663 10.663 0 01-21.327 0z"
                fill="#4E525F"></path>
            </svg></span><input type="text" tabindex="0" class="u_input" placeholder="Search" autocomplete="off"
            value=""></div>
        <div class="u_filter"><span class="u_add-btn" aria-describedby="popup-9229" (click)="openModal()"><svg width="14" height="14"
              viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <path class="u_fill" d="M15.714 15.714V2h4.572v13.714H34v4.572H20.286V34h-4.572V20.286H2v-4.572h13.714z"
                fill="#FFFFFF"></path>
            </svg></span></div>
      </div>
    </div>
  </div>
  <div class="u_layout-scrollview">
    <div class="u_scroll-section " style="position: relative; overflow: hidden; width: 100%; height: 100%;">
      <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
        <div class="u_draggable-table u_flex u_align-center u_content-between">
          <h2>Status Name</h2>
          <h2 class="">Created By</h2>
          <h2 class="">Updated By</h2>
          <h2>Action</h2>
        </div>
        <div data-rbd-droppable-id="0" data-rbd-droppable-context-id="1" class="u_droppable"
          style="background: rgb(245, 246, 247); padding: 1px; width: 250px;">
          <div data-rbd-draggable-context-id="1" data-rbd-draggable-id="65fc0e2feb093c99f0fd7a7f" tabindex="0"
            role="button" aria-describedby="rbd-hidden-text-1-hidden-text-6"
            data-rbd-drag-handle-draggable-id="65fc0e2feb093c99f0fd7a7f" data-rbd-drag-handle-context-id="1"
            draggable="false" class="u_draggable"
            style="user-select: none; padding: 2px; margin: 0px 0px 1px; background: grey;">
            <div class="u_draggable-body u_flex u_align-center u_content-between">
              <div class="u_flex u_align-center"><span class="u_threedot u_flex"><svg width="16" height="16"
                    viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <circle class="u_fill" cx="11.2" cy="5.2" r="3.2" fill="#4E525F"></circle>
                    <circle class="u_fill" cx="24" cy="5.2" r="3.2" fill="#4E525F"></circle>
                    <circle class="u_fill" cx="11.2" cy="18" r="3.2" fill="#4E525F"></circle>
                    <circle class="u_fill" cx="24" cy="18" r="3.2" fill="#4E525F"></circle>
                    <circle class="u_fill" cx="11.2" cy="30.8" r="3.2" fill="#4E525F"></circle>
                    <circle class="u_fill" cx="24" cy="30.8" r="3.2" fill="#4E525F"></circle>
                  </svg></span>
                <p class="u_p-10">New
                <span class="u_badge-label u_badge-label__orange" aria-describedby="popup-9239">D</span>
                </p>
              </div>
              <div class="">
                <p class="u_small-font u_task-darkname">System Generated</p>
                <p class="u_small-font"></p>
              </div>
              <div class="">
                <p class="u_small-font u_task-darkname">System Generated</p>
              </div>
              <div></div>
            </div>
          </div>
          <div data-rbd-draggable-context-id="1" data-rbd-draggable-id="65fc0e2feb093c99f0fd7a83" tabindex="0"
            role="button" aria-describedby="rbd-hidden-text-1-hidden-text-6"
            data-rbd-drag-handle-draggable-id="65fc0e2feb093c99f0fd7a83" data-rbd-drag-handle-context-id="1"
            draggable="false" class="u_draggable"
            style="user-select: none; padding: 2px; margin: 0px 0px 1px; background: grey;">
            <div class="u_draggable-body u_flex u_align-center u_content-between">
              <div class="u_flex u_align-center"><span class="u_threedot u_flex"><svg width="16" height="16"
                    viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <circle class="u_fill" cx="11.2" cy="5.2" r="3.2" fill="#4E525F"></circle>
                    <circle class="u_fill" cx="24" cy="5.2" r="3.2" fill="#4E525F"></circle>
                    <circle class="u_fill" cx="11.2" cy="18" r="3.2" fill="#4E525F"></circle>
                    <circle class="u_fill" cx="24" cy="18" r="3.2" fill="#4E525F"></circle>
                    <circle class="u_fill" cx="11.2" cy="30.8" r="3.2" fill="#4E525F"></circle>
                    <circle class="u_fill" cx="24" cy="30.8" r="3.2" fill="#4E525F"></circle>
                  </svg></span>
                <p class="u_p-10">Assigned
                <span class="u_badge-label u_badge-label__orange" aria-describedby="popup-9240">D</span>
                </p>
              </div>
              <div class="">
                <p class="u_small-font u_task-darkname">System Generated</p>
                <p class="u_small-font"></p>
              </div>
              <div class="">
                <p class="u_small-font u_task-darkname">System Generated</p>
              </div>
              <div></div>
            </div>
          </div>
          <div data-rbd-draggable-context-id="1" data-rbd-draggable-id="65fc0e2feb093c99f0fd7a81" tabindex="0"
            role="button" aria-describedby="rbd-hidden-text-1-hidden-text-6"
            data-rbd-drag-handle-draggable-id="65fc0e2feb093c99f0fd7a81" data-rbd-drag-handle-context-id="1"
            draggable="false" class="u_draggable"
            style="user-select: none; padding: 2px; margin: 0px 0px 1px; background: grey;">
            <div class="u_draggable-body u_flex u_align-center u_content-between">
              <div class="u_flex u_align-center"><span class="u_threedot u_flex"><svg width="16" height="16"
                    viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <circle class="u_fill" cx="11.2" cy="5.2" r="3.2" fill="#4E525F"></circle>
                    <circle class="u_fill" cx="24" cy="5.2" r="3.2" fill="#4E525F"></circle>
                    <circle class="u_fill" cx="11.2" cy="18" r="3.2" fill="#4E525F"></circle>
                    <circle class="u_fill" cx="24" cy="18" r="3.2" fill="#4E525F"></circle>
                    <circle class="u_fill" cx="11.2" cy="30.8" r="3.2" fill="#4E525F"></circle>
                    <circle class="u_fill" cx="24" cy="30.8" r="3.2" fill="#4E525F"></circle>
                  </svg></span>
                <p class="u_p-10">In Progress
                <span class="u_badge-label u_badge-label__orange" aria-describedby="popup-9241">D</span>
                </p>
              </div>
              <div class="">
                <p class="u_small-font u_task-darkname">System Generated</p>
                <p class="u_small-font"></p>
              </div>
              <div class="">
                <p class="u_small-font u_task-darkname">System Generated</p>
              </div>
              <div></div>
            </div>
          </div>
          <div data-rbd-draggable-context-id="1" data-rbd-draggable-id="65fc0e2feb093c99f0fd7a85" tabindex="0"
            role="button" aria-describedby="rbd-hidden-text-1-hidden-text-6"
            data-rbd-drag-handle-draggable-id="65fc0e2feb093c99f0fd7a85" data-rbd-drag-handle-context-id="1"
            draggable="false" class="u_draggable"
            style="user-select: none; padding: 2px; margin: 0px 0px 1px; background: grey;">
            <div class="u_draggable-body u_flex u_align-center u_content-between">
              <div class="u_flex u_align-center"><span class="u_threedot u_flex"><svg width="16" height="16"
                    viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <circle class="u_fill" cx="11.2" cy="5.2" r="3.2" fill="#4E525F"></circle>
                    <circle class="u_fill" cx="24" cy="5.2" r="3.2" fill="#4E525F"></circle>
                    <circle class="u_fill" cx="11.2" cy="18" r="3.2" fill="#4E525F"></circle>
                    <circle class="u_fill" cx="24" cy="18" r="3.2" fill="#4E525F"></circle>
                    <circle class="u_fill" cx="11.2" cy="30.8" r="3.2" fill="#4E525F"></circle>
                    <circle class="u_fill" cx="24" cy="30.8" r="3.2" fill="#4E525F"></circle>
                  </svg></span>
                <p class="u_p-10">Resolved
                <span class="u_badge-label u_badge-label__orange" aria-describedby="popup-9242">D</span>
                </p>
              </div>
              <div class="">
                <p class="u_small-font u_task-darkname">System Generated</p>
                <p class="u_small-font"></p>
              </div>
              <div class="">
                <p class="u_small-font u_task-darkname">System Generated</p>
              </div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
