<div class="u_sm active  " style="z-index: 10001;">
    <div class="false u_sm-overlay"></div>
    <div class="u_sm-layout" style="max-width: 1000px;">
        <div class="u_sm-header" id="u_sm-header">
            <div class="u_sm-header-left">
                <h4>Add Job Information</h4>
            </div>
            <div class="u_sm-header-right">
                <div class="u_sm-close" [mat-dialog-close]="true">
                    <svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path class="u_fill-stroke"
                            d="M18 14.557L7.08 3.637l-.142-.142-.142.141-3.16 3.16-.141.142.141.141L14.557 18 3.637 28.92l-.142.142.141.142 3.16 3.16.142.141.141-.141L18 21.443l10.92 10.92.142.142.142-.141 3.16-3.16.141-.142-.141-.141L21.443 18l10.92-10.922.142-.141-.141-.142-3.16-3.16-.142-.141-.141.141L18 14.557z"
                            stroke="73788B" fill="#007AFF" stroke-width="0.4"></path>
                    </svg>
                </div>
            </div>
        </div>
        <div class="u_sm-body" id="u_sm-body" style="max-height: calc(568px);">
            <form class="u_add-Job">
                <div>
                    <div class="u_content-form u_px-20 u_pt-20">
                        <div class="u_row">
                            <div class="u_col-6 u_mb-25">
                                <div class="u_input u_input-datepicker u_input-date-select">
                                    <div class="u_datepicker undefined">
                                        <div class="react-datepicker-wrapper">
                                            <div class="react-datepicker__input-container"><input type="text"
                                                    name="joiningDate" placeholder=" " autocomplete="off" class=""
                                                    value="12/04/2022"></div>
                                        </div>
                                    </div><label>Joining Date (Effective Date) <span>*</span></label>
                                </div>
                            </div>
                            <div class="u_col-6 u_mb-25">
                                <div class="u_input u_input-select u_input-select-value">
                                    <div class="u_input-select-inner css-2b097c-container"><span aria-live="polite"
                                            aria-atomic="false" aria-relevant="additions text"
                                            class="css-7pg0cj-a11yText"></span>
                                        <div class="u_select__control css-yk16xz-control">
                                            <div
                                                class="u_select__value-container u_select__value-container--has-value css-1hwfws3">
                                                <div class="u_select__single-value css-1uccc91-singleValue">Surat</div>
                                                <div class="css-1g6gooi">
                                                    <div class="u_select__input" style="display: inline-block;"><input
                                                            autocapitalize="none" autocomplete="nope" autocorrect="off"
                                                            id="react-select-66-input" spellcheck="false" tabindex="0"
                                                            type="text" aria-autocomplete="list" value=""
                                                            style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                                        <div
                                                            style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="u_select__indicators css-1wy0on6"><span
                                                    class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                                                <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                                                    aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                        aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                        <path
                                                            d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                        </path>
                                                    </svg></div>
                                            </div>
                                        </div><input name="location" type="hidden" value="65fc1011eb093c99f0fdb341">
                                    </div><label>Location <span>*</span></label>
                                </div>
                            </div>
                            <div class="u_col-6 u_mb-25">
                                <div class="u_input u_input-select u_input-select-value">
                                    <div class="u_input-select-inner css-2b097c-container"><span aria-live="polite"
                                            aria-atomic="false" aria-relevant="additions text"
                                            class="css-7pg0cj-a11yText"></span>
                                        <div class="u_select__control css-yk16xz-control">
                                            <div
                                                class="u_select__value-container u_select__value-container--has-value css-1hwfws3">
                                                <div class="u_select__single-value css-1uccc91-singleValue">Management
                                                </div>
                                                <div class="css-1g6gooi">
                                                    <div class="u_select__input" style="display: inline-block;"><input
                                                            autocapitalize="none" autocomplete="nope" autocorrect="off"
                                                            id="react-select-67-input" spellcheck="false" tabindex="0"
                                                            type="text" aria-autocomplete="list" value=""
                                                            style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                                        <div
                                                            style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="u_select__indicators css-1wy0on6"><span
                                                    class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                                                <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                                                    aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                        aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                        <path
                                                            d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                        </path>
                                                    </svg></div>
                                            </div>
                                        </div><input name="jobTitle" type="hidden" value="660260b820c2692c04d7c92e">
                                    </div><label>Job Title <span>*</span></label>
                                </div>
                            </div>
                            <div class="u_col-6 u_mb-25">
                                <div class="u_input u_input-select">
                                    <div class="u_input-select-inner css-2b097c-container"><span aria-live="polite"
                                            aria-atomic="false" aria-relevant="additions text"
                                            class="css-7pg0cj-a11yText"></span>
                                        <div class="u_select__control css-yk16xz-control">
                                            <div class="u_select__value-container css-1hwfws3">
                                                <div class="u_select__placeholder css-1wa3eu0-placeholder"> </div>
                                                <div class="css-1g6gooi">
                                                    <div class="u_select__input" style="display: inline-block;"><input
                                                            autocapitalize="none" autocomplete="nope" autocorrect="off"
                                                            id="react-select-68-input" spellcheck="false" tabindex="0"
                                                            type="text" aria-autocomplete="list" value=""
                                                            style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                                        <div
                                                            style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="u_select__indicators css-1wy0on6"><span
                                                    class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                                                <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                                                    aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                        aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                        <path
                                                            d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                        </path>
                                                    </svg></div>
                                            </div>
                                        </div><input name="category" type="hidden" value="">
                                    </div><label>Category </label>
                                </div>
                            </div>
                            <div class="u_col-6 u_mb-25">
                                <div class="u_input u_input-select u_input-select-value">
                                    <div class="u_input-select-inner css-2b097c-container"><span aria-live="polite"
                                            aria-atomic="false" aria-relevant="additions text"
                                            class="css-7pg0cj-a11yText"></span>
                                        <div class="u_select__control css-yk16xz-control">
                                            <div
                                                class="u_select__value-container u_select__value-container--has-value css-1hwfws3">
                                                <div class="u_select__single-value css-1uccc91-singleValue">Management
                                                </div>
                                                <div class="css-1g6gooi">
                                                    <div class="u_select__input" style="display: inline-block;"><input
                                                            autocapitalize="none" autocomplete="nope" autocorrect="off"
                                                            id="react-select-69-input" spellcheck="false" tabindex="0"
                                                            type="text" aria-autocomplete="list" value=""
                                                            style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                                        <div
                                                            style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="u_select__indicators css-1wy0on6"><span
                                                    class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                                                <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                                                    aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                        aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                        <path
                                                            d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                        </path>
                                                    </svg></div>
                                            </div>
                                        </div><input name="department" type="hidden" value="6602617320c2692c04d7e234">
                                    </div><label>Department <span>*</span></label>
                                </div>
                            </div>
                            <div class="u_col-6 u_mb-25">
                                <div class="u_input u_input-select">
                                    <div class="u_input-select-inner css-2b097c-container"><span aria-live="polite"
                                            aria-atomic="false" aria-relevant="additions text"
                                            class="css-7pg0cj-a11yText"></span>
                                        <div class="u_select__control css-yk16xz-control">
                                            <div class="u_select__value-container css-1hwfws3">
                                                <div class="u_select__placeholder css-1wa3eu0-placeholder"> </div>
                                                <div class="css-1g6gooi">
                                                    <div class="u_select__input" style="display: inline-block;"><input
                                                            autocapitalize="none" autocomplete="nope" autocorrect="off"
                                                            id="react-select-70-input" spellcheck="false" tabindex="0"
                                                            type="text" aria-autocomplete="list" value=""
                                                            style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                                        <div
                                                            style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="u_select__indicators css-1wy0on6"><span
                                                    class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                                                <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                                                    aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                        aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                        <path
                                                            d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                        </path>
                                                    </svg></div>
                                            </div>
                                        </div><input name="subDepartment" type="hidden" value="">
                                    </div><label>Sub Department </label>
                                </div>
                            </div>
                            <div class="u_col-6 u_mb-25">
                                <div class="u_input u_input-select u_input-select-value">
                                    <div class="u_input-select-inner u_multi-select-user css-2b097c-container"><span
                                            aria-live="polite" aria-atomic="false" aria-relevant="additions text"
                                            class="css-7pg0cj-a11yText"></span>
                                        <div class="u_select__control css-yk16xz-control">
                                            <div
                                                class="u_select__value-container u_select__value-container--is-multi u_select__value-container--has-value css-1hwfws3">
                                                <div class="css-1rhbuit-multiValue u_select__multi-value">
                                                    <div class="css-12jo7m5 u_select__multi-value__label">
                                                        <div class="u_flex u_align-center">
                                                            <div class="u_avatar ">
                                                                <div class="u_avatar-content "
                                                                    style="background-color: rgb(96, 177, 88); width: 24px; height: 24px;">
                                                                    <span class="u_m-auto"
                                                                        style="font-size: 0.8rem; line-height: 0.8rem;">AM</span>
                                                                </div>
                                                            </div>
                                                            <p class="u_one-line">Abhishek Mayani</p>
                                                        </div>
                                                    </div>
                                                    <div class="css-xb97g8 u_select__multi-value__remove"><svg
                                                            height="14" width="14" viewBox="0 0 20 20"
                                                            aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                            <path
                                                                d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z">
                                                            </path>
                                                        </svg></div>
                                                </div>
                                                <div class="css-1rhbuit-multiValue u_select__multi-value">
                                                    <div class="css-12jo7m5 u_select__multi-value__label">
                                                        <div class="u_flex u_align-center">
                                                            <div class="u_avatar ">
                                                                <div class="u_avatar-content "
                                                                    style="background-color: rgb(245, 185, 113); width: 24px; height: 24px;">
                                                                    <span class="u_m-auto"
                                                                        style="font-size: 0.8rem; line-height: 0.8rem;">RB</span>
                                                                </div>
                                                            </div>
                                                            <p class="u_one-line">Rutvik Bodar</p>
                                                        </div>
                                                    </div>
                                                    <div class="css-xb97g8 u_select__multi-value__remove"><svg
                                                            height="14" width="14" viewBox="0 0 20 20"
                                                            aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                            <path
                                                                d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z">
                                                            </path>
                                                        </svg></div>
                                                </div>
                                                <div class="css-1g6gooi">
                                                    <div class="u_select__input" style="display: inline-block;"><input
                                                            autocapitalize="none" autocomplete="off" autocorrect="off"
                                                            id="react-select-71-input" spellcheck="false" tabindex="0"
                                                            type="text" aria-autocomplete="list" value=""
                                                            style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                                        <div
                                                            style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="u_select__indicators css-1wy0on6">
                                                <div class="u_select__indicator u_select__clear-indicator css-tlfecz-indicatorContainer"
                                                    aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                        aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                        <path
                                                            d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z">
                                                        </path>
                                                    </svg></div><span
                                                    class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                                                <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                                                    aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                        aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                        <path
                                                            d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                        </path>
                                                    </svg></div>
                                            </div>
                                        </div>
                                        <div><input name="employee" type="hidden"
                                                value="65fbcacc9c84d5030f4c3d98"><input name="employee" type="hidden"
                                                value="6602637820c2692c04d847d0"></div>
                                    </div><label>Reporting Manager </label>
                                </div>
                            </div>
                            <div class="u_col-6 u_mb-25 u_disabled">
                                <div class="u_input u_input-select u_input-select-value">
                                    <div class="u_input-select-inner u_single-select-user css-2b097c-container"><span
                                            aria-live="polite" aria-atomic="false" aria-relevant="additions text"
                                            class="css-7pg0cj-a11yText"></span>
                                        <div class="u_select__control css-yk16xz-control">
                                            <div
                                                class="u_select__value-container u_select__value-container--has-value css-1hwfws3">
                                                <div class="u_select__single-value css-1uccc91-singleValue">
                                                    <div class="u_flex u_align-center">
                                                        <div class="u_avatar ">
                                                            <div class="u_avatar-content "
                                                                style="background-color: rgb(245, 185, 113); width: 24px; height: 24px;">
                                                                <span class="u_m-auto"
                                                                    style="font-size: 0.8rem; line-height: 0.8rem;">RB</span>
                                                            </div>
                                                        </div>
                                                        <p class="u_one-line">Rutvik Bodar</p>
                                                    </div>
                                                </div>
                                                <div class="css-1g6gooi">
                                                    <div class="u_select__input" style="display: inline-block;"><input
                                                            autocapitalize="none" autocomplete="off" autocorrect="off"
                                                            id="react-select-72-input" spellcheck="false" tabindex="0"
                                                            type="text" aria-autocomplete="list" value=""
                                                            style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                                        <div
                                                            style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="u_select__indicators css-1wy0on6">
                                                <div class="u_select__indicator u_select__clear-indicator css-tlfecz-indicatorContainer"
                                                    aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                        aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                        <path
                                                            d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z">
                                                        </path>
                                                    </svg></div><span
                                                    class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                                                <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                                                    aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                        aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                        <path
                                                            d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                        </path>
                                                    </svg></div>
                                            </div>
                                        </div><input name="employee" type="hidden" value="6602637820c2692c04d847d0">
                                    </div><label>Line Manager </label>
                                    <div class=" u_input-note u_ib"><span class="u_rollover u_cp u_flex"
                                            aria-describedby="popup-3208"><svg width="18" height="18"
                                                viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <path class="u_fill"
                                                    d="M18 2c8.837 0 16 7.163 16 16s-7.163 16-16 16S2 26.837 2 18 9.163 2 18 2Zm1.6 11.2V10h-3.2v3.2h3.2Zm0 12.8v-9.6h-3.2V26h3.2Z"
                                                    fill="#4E525F"></path>
                                            </svg></span></div>
                                </div>
                            </div>
                            <div class="u_col-6 u_mb-25 u_disabled">
                                <div class="u_input u_input-select u_input-select-value">
                                    <div class="u_input-select-inner u_single-select-user css-2b097c-container"><span
                                            aria-live="polite" aria-atomic="false" aria-relevant="additions text"
                                            class="css-7pg0cj-a11yText"></span>
                                        <div class="u_select__control css-yk16xz-control">
                                            <div
                                                class="u_select__value-container u_select__value-container--has-value css-1hwfws3">
                                                <div class="u_select__single-value css-1uccc91-singleValue">
                                                    <div class="u_flex u_align-center">
                                                        <div class="u_avatar ">
                                                            <div class="u_avatar-content "
                                                                style="background-color: rgb(245, 185, 113); width: 24px; height: 24px;">
                                                                <span class="u_m-auto"
                                                                    style="font-size: 0.8rem; line-height: 0.8rem;">RB</span>
                                                            </div>
                                                        </div>
                                                        <p class="u_one-line">Rutvik Bodar</p>
                                                    </div>
                                                </div>
                                                <div class="css-1g6gooi">
                                                    <div class="u_select__input" style="display: inline-block;"><input
                                                            autocapitalize="none" autocomplete="off" autocorrect="off"
                                                            id="react-select-73-input" spellcheck="false" tabindex="0"
                                                            type="text" aria-autocomplete="list" value=""
                                                            style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                                        <div
                                                            style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="u_select__indicators css-1wy0on6">
                                                <div class="u_select__indicator u_select__clear-indicator css-tlfecz-indicatorContainer"
                                                    aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                        aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                        <path
                                                            d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z">
                                                        </path>
                                                    </svg></div><span
                                                    class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                                                <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                                                    aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                        aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                        <path
                                                            d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                        </path>
                                                    </svg></div>
                                            </div>
                                        </div><input name="employee" type="hidden" value="6602637820c2692c04d847d0">
                                    </div><label>Line Manager2 </label>
                                </div>
                            </div>
                            <div class="u_col-6 u_mb-25">
                                <div class="u_input u_input-select u_input-select-value">
                                    <div class="u_input-select-inner css-2b097c-container"><span aria-live="polite"
                                            aria-atomic="false" aria-relevant="additions text"
                                            class="css-7pg0cj-a11yText"></span>
                                        <div class="u_select__control css-yk16xz-control">
                                            <div
                                                class="u_select__value-container u_select__value-container--has-value css-1hwfws3">
                                                <div class="u_select__single-value css-1uccc91-singleValue">Full Time
                                                </div>
                                                <div class="css-1g6gooi">
                                                    <div class="u_select__input" style="display: inline-block;"><input
                                                            autocapitalize="none" autocomplete="nope" autocorrect="off"
                                                            id="react-select-74-input" spellcheck="false" tabindex="0"
                                                            type="text" aria-autocomplete="list" value=""
                                                            style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                                        <div
                                                            style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="u_select__indicators css-1wy0on6"><span
                                                    class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                                                <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                                                    aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                        aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                        <path
                                                            d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                        </path>
                                                    </svg></div>
                                            </div>
                                        </div><input name="employeeStatus" type="hidden"
                                            value="65fc0e24eb093c99f0fd7924">
                                    </div><label>Employment Status <span>*</span></label>
                                </div>
                            </div>
                            <div class="u_col-6 u_mb-25">
                                <div class="u_input u_input-textarea"><textarea class="u_textarea u_textarea-six-rows"
                                        placeholder=" " autocomplete="off" name="comments"></textarea><label>Note
                                    </label></div>
                            </div>
                            <div class="u_row u_mb-25">
                                <div class="u_col-12 u_flex u_align-center">
                                    <div class="u_mr-20 u_ml-10">
                                        <div class="u_checkbox u_mr-20   "><input id="reviseCompensation"
                                                type="checkbox" label="Revise Compensation Info"
                                                name="reviseCompensation" class="u_mr-20"><label
                                                for="reviseCompensation"><span>Revise Compensation Info</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u_modal-buttons"><button type="button"
                        class="u_btn white small u_btn__white" [mat-dialog-close]="true">cancel</button><button type="button"
                        class="u_btn u_btn__smallBtn u_btn__blue" [mat-dialog-close]="true">Save &amp; New</button><button type="button"
                        class="u_btn blue small u_btn__blue" [mat-dialog-close]="true">save</button></div>
            </form>
        </div>
    </div>
</div>