<ng-template #policy>
  <div class="u_settings-content u_flex u_flex-col" style="height: 100%; width: 100%;">
    <div class="u_settings-header u_p-20 " id="u_settings-header">
      <div class="u_settings-header-title ">
        <h5 class="false">0 Policy Documents</h5>
        <p> </p>
      </div>
      <div class="u_settings-header-list">
        <div class="u_flex u_align-center u_content-end">
          <div class="u_filter u_filter-search "><span class="u_search-icon u_cp"><svg width="14" height="14"
                viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <path class="u_fill"
                  d="M33.474 30.95l-6.042-6.024a14.075 14.075 0 003.003-8.708 14.218 14.218 0 10-14.217 14.217 14.075 14.075 0 008.708-3.003l6.025 6.042a1.776 1.776 0 002.523 0 1.777 1.777 0 000-2.523zM5.554 16.219a10.663 10.663 0 1121.327 0 10.663 10.663 0 01-21.327 0z"
                  fill="#4E525F"></path>
              </svg></span><input type="text" tabindex="0" class="u_input" placeholder="Search" autocomplete="off"
              value=""></div>
          <div class="u_filter"><span class="u_add-btn" aria-describedby="popup-16539" (click)="addPolicy()"><svg width="14" height="14"
                viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <path class="u_fill" d="M15.714 15.714V2h4.572v13.714H34v4.572H20.286V34h-4.572V20.286H2v-4.572h13.714z"
                  fill="#FFFFFF"></path>
              </svg></span></div>
        </div>
      </div>
    </div>
    <div class="u_no-data-found u_text-center">
      <div class="u_no-data-found-inner">
        <div class="u_no-data-found-img">
          <img src="../../../../assets/images/dashboard/no-data-display.svg" alt="">
        </div>
        <div class="u_no-data-found-text u_mt-30">
          <h4>No data to display</h4>
        </div>
        <div class="u_mt-30 u_no-data-found-info"><button
            class="u_btn u_btn__blue u_btn__smallBtn u_flex u_align-center"><svg width="14" height="14"
              viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class="u_flex u_mr-10"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <path class="u_fill" d="M15.714 15.714V2h4.572v13.714H34v4.572H20.286V34h-4.572V20.286H2v-4.572h13.714z"
                fill="#FFFFFF"></path>
            </svg>Add a Policy Document</button></div>
      </div>
    </div>
  </div>
</ng-template>

<ng-container *ngIf="isSelected; else policy">
  <app-add-policy-document></app-add-policy-document>
</ng-container>