<div id="popup-root" >
  <div data-testid="overlay" data-popup="modal" class="popup-overlay " tabindex="-1"
    style="position: fixed; inset: 0px; display: flex; z-index: 1001; pointer-events: auto;">
    <div class="popup-content " role="dialog" id="popup-8779"
      style="position: relative; margin: auto; z-index: 1001; pointer-events: auto;">
      <div class="u_side-modal active ">
        <div class="u_modal-overlay"></div>
        <div class="u_side-modal-layout" style="max-width: 800px;">
          <div class="u_side-modal-header u_flex u_align-center u_content-between" id="u_side-modal-header">
            <div class="u_task-header-left">
              <h4>Known Language</h4>
            </div>
            <div class="u_task-header-right u_flex u_align-center">
              <div class="u_close-btn__blue"  (click)="closeModal()">
                <i class="bi bi-x-lg text-primary fs-3 fw-bold" ></i>
              </div>
            </div>
          </div>
          <div class="u_side-modal-body" id="u_side-modal-body" style="max-height: calc(575px);">
            <form class="u_add-language">
              <div class="u_p-20">
                <div class="u_row">
                  <div class="u_col-6 u_mb-25">
                    <div class="u_input u_input-select">
                      <div class="u_input-select-inner css-2b097c-container"><span aria-live="polite"
                          aria-atomic="false" aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                        <div class="u_select__control css-yk16xz-control d-flex justify-content-between">
                          <div class="u_select__value-container css-1hwfws3">
                            <div class="u_select__placeholder css-1wa3eu0-placeholder"> </div>
                            <div class="css-1g6gooi">
                              <div class="u_select__input" style="display: inline-block;"><input autocapitalize="none"
                                  autocomplete="off" autocorrect="off" id="react-select-32-input" spellcheck="false"
                                  tabindex="0" type="text" aria-autocomplete="list" value=""
                                  style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                <div
                                  style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="u_select__indicators css-1wy0on6"><span
                              class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                            <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                              aria-hidden="true"><i class="bi bi-chevron-down"></i></div>
                          </div>
                        </div>
                      </div><label>Language <span>*</span></label>
                    </div>
                  </div>
                  <div class="u_col-6 u_mb-25">
                    <div class="u_input u_input-select">
                      <div class="u_input-select-inner css-2b097c-container"><span aria-live="polite"
                          aria-atomic="false" aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                        <div class="u_select__control css-yk16xz-control d-flex justify-content-between">
                          <div class="u_select__value-container css-1hwfws3">
                            <div class="u_select__placeholder css-1wa3eu0-placeholder"> </div>
                            <div class="css-1g6gooi">
                              <div class="u_select__input" style="display: inline-block;"><input autocapitalize="none"
                                  autocomplete="off" autocorrect="off" id="react-select-33-input" spellcheck="false"
                                  tabindex="0" type="text" aria-autocomplete="list" value=""
                                  style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                <div
                                  style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="u_select__indicators css-1wy0on6"><span
                              class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                            <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                              aria-hidden="true"><i class="bi bi-chevron-down"></i></div>
                          </div>
                        </div>
                      </div><label>Reading <span>*</span></label>
                    </div>
                  </div>
                  <div class="u_col-6 u_mb-25">
                    <div class="u_input u_input-select">
                      <div class="u_input-select-inner css-2b097c-container"><span aria-live="polite"
                          aria-atomic="false" aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                        <div class="u_select__control css-yk16xz-control d-flex justify-content-between">
                          <div class="u_select__value-container css-1hwfws3">
                            <div class="u_select__placeholder css-1wa3eu0-placeholder"> </div>
                            <div class="css-1g6gooi">
                              <div class="u_select__input" style="display: inline-block;"><input autocapitalize="none"
                                  autocomplete="off" autocorrect="off" id="react-select-34-input" spellcheck="false"
                                  tabindex="0" type="text" aria-autocomplete="list" value=""
                                  style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                <div
                                  style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="u_select__indicators css-1wy0on6"><span
                              class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                            <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                              aria-hidden="true"><i class="bi bi-chevron-down"></i></div>
                          </div>
                        </div>
                      </div><label>Speaking <span>*</span></label>
                    </div>
                  </div>
                  <div class="u_col-6 u_mb-25">
                    <div class="u_input u_input-select">
                      <div class="u_input-select-inner css-2b097c-container"><span aria-live="polite"
                          aria-atomic="false" aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                        <div class="u_select__control css-yk16xz-control d-flex justify-content-between">
                          <div class="u_select__value-container css-1hwfws3">
                            <div class="u_select__placeholder css-1wa3eu0-placeholder"> </div>
                            <div class="css-1g6gooi">
                              <div class="u_select__input" style="display: inline-block;"><input autocapitalize="none"
                                  autocomplete="off" autocorrect="off" id="react-select-35-input" spellcheck="false"
                                  tabindex="0" type="text" aria-autocomplete="list" value=""
                                  style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                <div
                                  style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="u_select__indicators css-1wy0on6"><span
                              class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                            <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                              aria-hidden="true">
                              <i class="bi bi-chevron-down"></i>
                            </div>
                          </div>
                        </div>
                      </div><label>Writing <span>*</span></label>
                    </div>
                  </div>
                  <div class="u_col-6 u_mb-10">
                    <div class="u_input u_input-select">
                      <div class="u_input-select-inner css-2b097c-container"><span aria-live="polite"
                          aria-atomic="false" aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                        <div class="u_select__control css-yk16xz-control d-flex justify-content-between">
                          <div class="u_select__value-container css-1hwfws3">
                            <div class="u_select__placeholder css-1wa3eu0-placeholder"> </div>
                            <div class="css-1g6gooi">
                              <div class="u_select__input" style="display: inline-block;"><input autocapitalize="none"
                                  autocomplete="off" autocorrect="off" id="react-select-36-input" spellcheck="false"
                                  tabindex="0" type="text" aria-autocomplete="list" value=""
                                  style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                <div
                                  style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="u_select__indicators css-1wy0on6"><span
                              class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                            <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                              aria-hidden="true"><i class="bi bi-chevron-down"></i></div>
                          </div>
                        </div>
                      </div><label>Understanding <span>*</span></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u_modal-buttons">
                <button type="submit" class="u_btn white small u_btn__white" (click)="closeModal()">cancel</button>
                <button type="submit" class="u_btn u_btn__smallBtn u_btn__blue " (click)="closeModal()"> Save &amp; New</button>
                <button type="submit" class="u_btn blue small u_btn__blue" (click)="closeModal()">save</button></div>
            </form>
          </div>
          <div class="u_side-modal-footer" id="u_side-modal-footer"></div>
        </div>
      </div>
    </div>
  </div>
</div>
