<!-- <p>layout works!</p> -->

<div class="u_h-full u_hrms " style>
  <div class="u_h-full">
    <div class="u_w-full"></div>
    <div class="u_layout">
      <app-sidebar></app-sidebar>

      <div class="u_content ">
        <app-header></app-header>

        <div class="u_hrms u_hrms-app-view">
          <div class="u_hrms">
           <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Toastify"></div>
  <p id="u_copy-text" style="font-size: 0rem; height: 0px;"></p>
</div>
