<div id="root">
  <div class="u_switch-wrapper u_h-full">
    <div style="opacity: 1;">
      <section class="u_account u_h-full">
        <div class="u_account-inner u_h-full">
          <div class="u_account-inner__image">
            <div class="u_logo-image"><img class="u_logo-top" src="/assets/images/images/u-text-logo.svg" alt="Logo">
              <div class="u_section-header u_account-inner__text">
                <div class="u_border-header u_border-header-center">
                  <h1>Welcome to Superworks</h1>
                </div>
                <p>Connecting People. Optimizing Process. Enhancing Perfomance.</p>
              </div>
            </div>
            <div class="u_process-image u_align-center u_flex u_content-center">
              <div class="u_product">
                <div class="u_product-hrms">
                  <img src="/assets/images/auth/register1.svg" alt>
                </div>
                <div class="u_product-pms">
                  <img src="/assets/images/auth/register2.svg" alt>
                </div>
                <div class="u_product-chat">
                  <img src="/assets/images/auth/register3.svg" alt>
                </div>
                <div class="u_product-payroll">
                  <img src="/assets/images/auth/register4.svg" alt>
                </div>
                <div class="u_logo-center">
                  <div class="u_logo-inner"><img src="/assets/images/images/logo.png" alt="Logo"></div>
                </div>
              </div>
            </div>
            <div class="u_left-text">
              <div class="u_section-header u_account-inner__text">
                <div class="u_border-header u_border-header-center">
                  <h1>Core Values</h1>
                </div>
              </div>
              <ul class="u_left-text-inner">
                <li>
                  <span class="u_flex">
                    <img src="/assets/images/auth/register5.svg" alt>
                  </span>Working Everyday Towards Perfection
                </li>
                <li><span class="u_flex">
                    <img src="/assets/images/auth/register5.svg" alt>
                  </span>Inspiring Teams To Build The Best</li>
                <li><span class="u_flex">
                    <img src="/assets/images/auth/register5.svg" alt>
                  </span>Grow Consistently Every Day</li>
                <li><span class="u_flex">
                    <img src="/assets/images/auth/register5.svg" alt>
                  </span>Creating Value Adding Services</li>
              </ul>
            </div>
          </div>
          <div style="height: 100%; width: 100%;">

            <router-outlet></router-outlet>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="Toastify"></div>
</div>