<div class="u_settings-content u_flex u_flex-col" style="height: 100%; width: 100%;">
    <div class="u_layout-scrollview">
        <div class="u_scroll-section undefined"
            style="position: relative; overflow: hidden; width: 100%; height: 100%;">
            <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
                <form autocomplete="off">
                    <div class="u_content-header" id="u_content-header">
                        <h5 class="u_flex u_align-center">Weekend Management</h5>
                        <div class="u_flex u_align-center u_content-end"></div>
                    </div>
                    <div class="u_content-subheader u_b-top-none u_p-20">
                        <h5 class="u_flex u_align-center"><span>Create Weekend</span></h5>
                    </div>
                    <div class="u_p-20">
                        <div class="u_row">
                            <div class="u_col-6 u_mb-25">
                                <div class="u_input"><input type="text" name="code" placeholder=" " autocomplete="off"
                                        value=""><label>Weekend Code <span>*</span></label></div>
                                <div class="u_mt-25">
                                    <div class="u_checkbox undefined   "><input id="isDefault" type="checkbox"
                                            label="Default Policy" name="isDefault"><label for="isDefault"><span>Default
                                                Policy</span></label></div>
                                </div>
                            </div>
                            <div class="u_col-6 u_mb-25">
                                <div class="u_input"><input type="text" placeholder=" " name="name" autocomplete="off"
                                        value=""><label>Weekend Name <span>*</span></label></div>
                            </div>
                        </div>
                    </div>
                    <div class="u_content-subheader u_p-20">
                        <h5>Weekend Definition</h5>
                    </div>
                    <div class="u_p-20">
                        <div class="u_row">
                            <div class="u_col-12">
                                <div class="u_shift-weekend-table u_table-resource-nowrap">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th rowspan="2" class="u_text-left">Days</th>
                                                <th colspan="6">Weeks</th>
                                            </tr>
                                            <tr>
                                                <th><span>1st</span></th>
                                                <th><span>2nd</span></th>
                                                <th><span>3rd</span></th>
                                                <th><span>4th</span></th>
                                                <th><span>5th</span></th>
                                                <th><span class="u_flex u_align-center u_ml-30"
                                                        style="width: 65px;">Last<div
                                                            class="u_rollover u_cp u_flex u_ml-5"
                                                            aria-describedby="popup-5839"><svg width="18" height="18"
                                                                viewBox="0 0 36 36" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg" class=""
                                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                <path class="u_fill"
                                                                    d="M18 2c8.837 0 16 7.163 16 16s-7.163 16-16 16S2 26.837 2 18 9.163 2 18 2Zm1.6 11.2V10h-3.2v3.2h3.2Zm0 12.8v-9.6h-3.2V26h3.2Z"
                                                                    fill="#4E525F"></path>
                                                            </svg></div></span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-between">sunday<span
                                                            class="u_cp u_icon-rollover"
                                                            aria-describedby="popup-5846"><svg width="14" height="14"
                                                                viewBox="0 0 36 36" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg" class=""
                                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                <path class="u_fill"
                                                                    d="M10.321 8.4V3.6c0-.424.167-.831.463-1.131A1.57 1.57 0 0111.9 2h18.963c.42 0 .821.169 1.118.469.296.3.462.707.462 1.131V26c0 .424-.166.831-.462 1.131a1.57 1.57 0 01-1.118.469h-4.74v4.8c0 .883-.712 1.6-1.592 1.6H5.592a1.566 1.566 0 01-1.125-.465A1.602 1.602 0 014 32.4L4.005 10c0-.883.71-1.6 1.591-1.6h4.725zm-3.156 3.2L7.16 30.8h15.803V11.6H7.165zm6.317-3.2h12.642v16h3.16V5.2H13.482v3.2z"
                                                                    fill="#007AFF"></path>
                                                            </svg></span></div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="sunday_1st"
                                                                type="checkbox" label=""><label
                                                                for="sunday_1st"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="sunday_2nd"
                                                                type="checkbox" label=""><label
                                                                for="sunday_2nd"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="sunday_3rd"
                                                                type="checkbox" label=""><label
                                                                for="sunday_3rd"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="sunday_4th"
                                                                type="checkbox" label=""><label
                                                                for="sunday_4th"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="sunday_5th"
                                                                type="checkbox" label=""><label
                                                                for="sunday_5th"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="sunday_6th"
                                                                type="checkbox" label=""><label
                                                                for="sunday_6th"><span></span></label></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-between">monday<span
                                                            class="u_cp u_icon-rollover"
                                                            aria-describedby="popup-5847"><svg width="14" height="14"
                                                                viewBox="0 0 36 36" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg" class=""
                                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                <path class="u_fill"
                                                                    d="M10.321 8.4V3.6c0-.424.167-.831.463-1.131A1.57 1.57 0 0111.9 2h18.963c.42 0 .821.169 1.118.469.296.3.462.707.462 1.131V26c0 .424-.166.831-.462 1.131a1.57 1.57 0 01-1.118.469h-4.74v4.8c0 .883-.712 1.6-1.592 1.6H5.592a1.566 1.566 0 01-1.125-.465A1.602 1.602 0 014 32.4L4.005 10c0-.883.71-1.6 1.591-1.6h4.725zm-3.156 3.2L7.16 30.8h15.803V11.6H7.165zm6.317-3.2h12.642v16h3.16V5.2H13.482v3.2z"
                                                                    fill="#007AFF"></path>
                                                            </svg></span></div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="monday_1st"
                                                                type="checkbox" label=""><label
                                                                for="monday_1st"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="monday_2nd"
                                                                type="checkbox" label=""><label
                                                                for="monday_2nd"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="monday_3rd"
                                                                type="checkbox" label=""><label
                                                                for="monday_3rd"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="monday_4th"
                                                                type="checkbox" label=""><label
                                                                for="monday_4th"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="monday_5th"
                                                                type="checkbox" label=""><label
                                                                for="monday_5th"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="monday_6th"
                                                                type="checkbox" label=""><label
                                                                for="monday_6th"><span></span></label></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-between">tuesday<span
                                                            class="u_cp u_icon-rollover"
                                                            aria-describedby="popup-5848"><svg width="14" height="14"
                                                                viewBox="0 0 36 36" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg" class=""
                                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                <path class="u_fill"
                                                                    d="M10.321 8.4V3.6c0-.424.167-.831.463-1.131A1.57 1.57 0 0111.9 2h18.963c.42 0 .821.169 1.118.469.296.3.462.707.462 1.131V26c0 .424-.166.831-.462 1.131a1.57 1.57 0 01-1.118.469h-4.74v4.8c0 .883-.712 1.6-1.592 1.6H5.592a1.566 1.566 0 01-1.125-.465A1.602 1.602 0 014 32.4L4.005 10c0-.883.71-1.6 1.591-1.6h4.725zm-3.156 3.2L7.16 30.8h15.803V11.6H7.165zm6.317-3.2h12.642v16h3.16V5.2H13.482v3.2z"
                                                                    fill="#007AFF"></path>
                                                            </svg></span></div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="tuesday_1st"
                                                                type="checkbox" label=""><label
                                                                for="tuesday_1st"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="tuesday_2nd"
                                                                type="checkbox" label=""><label
                                                                for="tuesday_2nd"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="tuesday_3rd"
                                                                type="checkbox" label=""><label
                                                                for="tuesday_3rd"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="tuesday_4th"
                                                                type="checkbox" label=""><label
                                                                for="tuesday_4th"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="tuesday_5th"
                                                                type="checkbox" label=""><label
                                                                for="tuesday_5th"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="tuesday_6th"
                                                                type="checkbox" label=""><label
                                                                for="tuesday_6th"><span></span></label></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-between">wednesday<span
                                                            class="u_cp u_icon-rollover"
                                                            aria-describedby="popup-5849"><svg width="14" height="14"
                                                                viewBox="0 0 36 36" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg" class=""
                                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                <path class="u_fill"
                                                                    d="M10.321 8.4V3.6c0-.424.167-.831.463-1.131A1.57 1.57 0 0111.9 2h18.963c.42 0 .821.169 1.118.469.296.3.462.707.462 1.131V26c0 .424-.166.831-.462 1.131a1.57 1.57 0 01-1.118.469h-4.74v4.8c0 .883-.712 1.6-1.592 1.6H5.592a1.566 1.566 0 01-1.125-.465A1.602 1.602 0 014 32.4L4.005 10c0-.883.71-1.6 1.591-1.6h4.725zm-3.156 3.2L7.16 30.8h15.803V11.6H7.165zm6.317-3.2h12.642v16h3.16V5.2H13.482v3.2z"
                                                                    fill="#007AFF"></path>
                                                            </svg></span></div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="wednesday_1st"
                                                                type="checkbox" label=""><label
                                                                for="wednesday_1st"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="wednesday_2nd"
                                                                type="checkbox" label=""><label
                                                                for="wednesday_2nd"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="wednesday_3rd"
                                                                type="checkbox" label=""><label
                                                                for="wednesday_3rd"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="wednesday_4th"
                                                                type="checkbox" label=""><label
                                                                for="wednesday_4th"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="wednesday_5th"
                                                                type="checkbox" label=""><label
                                                                for="wednesday_5th"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="wednesday_6th"
                                                                type="checkbox" label=""><label
                                                                for="wednesday_6th"><span></span></label></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-between">thursday<span
                                                            class="u_cp u_icon-rollover"
                                                            aria-describedby="popup-5850"><svg width="14" height="14"
                                                                viewBox="0 0 36 36" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg" class=""
                                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                <path class="u_fill"
                                                                    d="M10.321 8.4V3.6c0-.424.167-.831.463-1.131A1.57 1.57 0 0111.9 2h18.963c.42 0 .821.169 1.118.469.296.3.462.707.462 1.131V26c0 .424-.166.831-.462 1.131a1.57 1.57 0 01-1.118.469h-4.74v4.8c0 .883-.712 1.6-1.592 1.6H5.592a1.566 1.566 0 01-1.125-.465A1.602 1.602 0 014 32.4L4.005 10c0-.883.71-1.6 1.591-1.6h4.725zm-3.156 3.2L7.16 30.8h15.803V11.6H7.165zm6.317-3.2h12.642v16h3.16V5.2H13.482v3.2z"
                                                                    fill="#007AFF"></path>
                                                            </svg></span></div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="thursday_1st"
                                                                type="checkbox" label=""><label
                                                                for="thursday_1st"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="thursday_2nd"
                                                                type="checkbox" label=""><label
                                                                for="thursday_2nd"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="thursday_3rd"
                                                                type="checkbox" label=""><label
                                                                for="thursday_3rd"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="thursday_4th"
                                                                type="checkbox" label=""><label
                                                                for="thursday_4th"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="thursday_5th"
                                                                type="checkbox" label=""><label
                                                                for="thursday_5th"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="thursday_6th"
                                                                type="checkbox" label=""><label
                                                                for="thursday_6th"><span></span></label></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-between">friday<span
                                                            class="u_cp u_icon-rollover"
                                                            aria-describedby="popup-5851"><svg width="14" height="14"
                                                                viewBox="0 0 36 36" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg" class=""
                                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                <path class="u_fill"
                                                                    d="M10.321 8.4V3.6c0-.424.167-.831.463-1.131A1.57 1.57 0 0111.9 2h18.963c.42 0 .821.169 1.118.469.296.3.462.707.462 1.131V26c0 .424-.166.831-.462 1.131a1.57 1.57 0 01-1.118.469h-4.74v4.8c0 .883-.712 1.6-1.592 1.6H5.592a1.566 1.566 0 01-1.125-.465A1.602 1.602 0 014 32.4L4.005 10c0-.883.71-1.6 1.591-1.6h4.725zm-3.156 3.2L7.16 30.8h15.803V11.6H7.165zm6.317-3.2h12.642v16h3.16V5.2H13.482v3.2z"
                                                                    fill="#007AFF"></path>
                                                            </svg></span></div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="friday_1st"
                                                                type="checkbox" label=""><label
                                                                for="friday_1st"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="friday_2nd"
                                                                type="checkbox" label=""><label
                                                                for="friday_2nd"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="friday_3rd"
                                                                type="checkbox" label=""><label
                                                                for="friday_3rd"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="friday_4th"
                                                                type="checkbox" label=""><label
                                                                for="friday_4th"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="friday_5th"
                                                                type="checkbox" label=""><label
                                                                for="friday_5th"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="friday_6th"
                                                                type="checkbox" label=""><label
                                                                for="friday_6th"><span></span></label></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-between">saturday<span
                                                            class="u_cp u_icon-rollover"
                                                            aria-describedby="popup-5852"><svg width="14" height="14"
                                                                viewBox="0 0 36 36" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg" class=""
                                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                <path class="u_fill"
                                                                    d="M10.321 8.4V3.6c0-.424.167-.831.463-1.131A1.57 1.57 0 0111.9 2h18.963c.42 0 .821.169 1.118.469.296.3.462.707.462 1.131V26c0 .424-.166.831-.462 1.131a1.57 1.57 0 01-1.118.469h-4.74v4.8c0 .883-.712 1.6-1.592 1.6H5.592a1.566 1.566 0 01-1.125-.465A1.602 1.602 0 014 32.4L4.005 10c0-.883.71-1.6 1.591-1.6h4.725zm-3.156 3.2L7.16 30.8h15.803V11.6H7.165zm6.317-3.2h12.642v16h3.16V5.2H13.482v3.2z"
                                                                    fill="#007AFF"></path>
                                                            </svg></span></div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="saturday_1st"
                                                                type="checkbox" label=""><label
                                                                for="saturday_1st"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="saturday_2nd"
                                                                type="checkbox" label=""><label
                                                                for="saturday_2nd"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="saturday_3rd"
                                                                type="checkbox" label=""><label
                                                                for="saturday_3rd"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="saturday_4th"
                                                                type="checkbox" label=""><label
                                                                for="saturday_4th"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="saturday_5th"
                                                                type="checkbox" label=""><label
                                                                for="saturday_5th"><span></span></label></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="u_flex u_align-center u_content-center">
                                                        <div class="u_checkbox undefined   "><input id="saturday_6th"
                                                                type="checkbox" label=""><label
                                                                for="saturday_6th"><span></span></label></div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div
                style="position: absolute; height: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; left: 2px; border-radius: 3px; visibility: hidden;">
                <div class="u_scroll-bar"
                    style="position: relative; display: block; height: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); width: 0px;">
                </div>
            </div>
            <div
                style="position: absolute; width: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; top: 2px; border-radius: 3px; visibility: visible;">
                <div class="u_scroll-bar"
                    style="position: relative; display: block; width: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); height: 478px; transform: translateY(0px);">
                </div>
            </div>
        </div>
    </div>
</div>