<div data-testid="overlay" data-popup="modal" class="popup-overlay " tabindex="-1"
    style="position: fixed; inset: 0px; display: flex; z-index: 1001; pointer-events: auto;">
    <div class="popup-content " role="dialog" id="popup-4181"
        style="position: relative; margin: auto; z-index: 1001; pointer-events: auto;">
        <div class="u_side-modal active ">
            <div class="u_modal-overlay"></div>
            <div class="u_side-modal-layout" style="max-width: 1000px;">
                <div class="u_side-modal-header u_flex u_align-center u_content-between" id="u_side-modal-header">
                    <div class="u_task-header-left">
                        <h4 class="mb-0">Activity Logs</h4>
                    </div>
                    <div class="u_task-header-right u_flex u_align-center">
                        <div class="u_close-btn__blue" (click)="onNoClick()"><svg width="14" height="14" viewBox="0 0 36 36" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path class="u_fill-stroke"
                                    d="M18 14.557L7.08 3.637l-.142-.142-.142.141-3.16 3.16-.141.142.141.141L14.557 18 3.637 28.92l-.142.142.141.142 3.16 3.16.142.141.141-.141L18 21.443l10.92 10.92.142.142.142-.141 3.16-3.16.141-.142-.141-.141L21.443 18l10.92-10.922.142-.141-.141-.142-3.16-3.16-.142-.141-.141.141L18 14.557z"
                                    stroke="73788B" fill="#007AFF" stroke-width="0.4"></path>
                            </svg></div>
                    </div>
                </div>
                <div class="u_side-modal-body" id="u_side-modal-body" style="max-height: calc(554px);">
                    <form class="u_leave-details">
                        <div class="u_layout-scrollview">
                            <div class="u_scroll-section undefined"
                                style="position: relative; overflow: hidden; width: 100%; height: 100%;">
                                <div
                                    style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
                                    <div
                                        class="u_table-resource u_table-resource u_table-resource-nowrap u_table-resource-hover">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="">
                                                        <div class="u_ib u_cp">
                                                            <div class="u_flex">Date/Time</div>
                                                        </div>
                                                    </th>
                                                    <th class="">
                                                        <div class="u_ib u_cp">
                                                            <div class="u_flex">Activity</div>
                                                        </div>
                                                    </th>
                                                    <th class="">
                                                        <div class="u_ib u_cp">
                                                            <div class="u_flex">Old Logs</div>
                                                        </div>
                                                    </th>
                                                    <th class="">
                                                        <div class="u_ib u_cp">
                                                            <div class="u_flex">New Logs</div>
                                                        </div>
                                                    </th>
                                                    <th class="">
                                                        <div class="u_ib u_cp">
                                                            <div class="u_flex">Action By</div>
                                                        </div>
                                                    </th>
                                                    <th class="">
                                                        <div class="u_ib u_cp">
                                                            <div class="u_flex">IP Address</div>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="undefined ">
                                                    <td class="">26/03/2024 11:24 AM</td>
                                                    <td class="">Created</td>
                                                    <td class="">
                                                        <div class="u_logs-details"></div>
                                                    </td>
                                                    <td class="">
                                                        <div class="u_logs-details"></div>
                                                    </td>
                                                    <td class="">Abhishek Mayani</td>
                                                    <td class="u_text-left">27.54.182.197</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div
                                    style="position: absolute; height: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; left: 2px; border-radius: 3px; visibility: hidden;">
                                    <div class="u_scroll-bar"
                                        style="position: relative; display: block; height: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); width: 0px; transform: translateX(0px);">
                                    </div>
                                </div>
                                <div
                                    style="position: absolute; width: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; top: 2px; border-radius: 3px; visibility: hidden;">
                                    <div class="u_scroll-bar"
                                        style="position: relative; display: block; width: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); height: 0px; transform: translateY(0px);">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                          <div class="d-flex justify-content-end p-2" class="u_pagination"
                          id="u_pagination">
                          <div class="d-flex align-items-center pr-4 mb-3">
                            <p class="u_pagination-title mb-0 pr-3">Entries</p>
                            <div class="dropdown-container">
                              <ng-select>
                                <ng-option [value]="'20'">20</ng-option>
                                <ng-option [value]="'40'">40</ng-option>
                                <ng-option [value]="'60'">60</ng-option>
                                <ng-option [value]="'80'">80</ng-option>
                                <ng-option [value]="'100'">100</ng-option>
                              </ng-select>
                            </div>
                          </div>
                          <ul class="u_flex mb-3">
                            <li class="previous disabled">
                              <a class="u_pagination-link u_pagination-link-previous"
                                tabindex="0"
                                role="button" aria-disabled="true" aria-label="Previous page"
                                rel="prev" style="text-decoration: none;">
                                <i class="fa-solid fa-chevron-left"></i>
                              </a>
                            </li>
                            <li class="selected">
                              <a role="button"
                                class="u_pagination-link u_pagination-link-active"
                                tabindex="0"
                                aria-label="Page 1 is your current page" aria-current="page"
                                style="text-decoration: none;">1</a>
                            </li>
                            <li class="next disabled">
                              <a class="u_pagination-link u_pagination-link-next" tabindex="0"
                                role="button" aria-disabled="true" aria-label="Next page"
                                rel="next" style="text-decoration: none;">
                                <i class="fa-solid fa-chevron-right"></i>
                              </a>
                            </li>
                          </ul>
                        </div>

                        </div>
                    </form>
                </div>
                <div class="u_side-modal-footer" id="u_side-modal-footer"></div>
            </div>
        </div>
    </div>
</div>
