<div class="u_settings-content u_flex u_flex-col" style="height: 100%; width: 100%;">
    <div class="u_content-header" id="u_content-header">
        <h5 class="u_one-line u_word-break-all">New Access Level </h5>
        <div class="u_flex"></div>
    </div>
    <div class="u_policy-header u_ac-header u_flex u_align-center" id="u_access-header">
        <ul class="u_flex u_policy-header-timeline">
            <li class="u_text-center u_relative u_policy-select u_policy-active"><span
                    class="u_flex u_align-center u_content-center u_relative u_round-radius u_m-auto u_cp"><svg
                        width="18" height="18" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path class="u_fill"
                            d="M29.2 34H6.8A4.8 4.8 0 012 29.2V3.6A1.6 1.6 0 013.6 2H26a1.6 1.6 0 011.6 1.6v19.2H34v6.4a4.8 4.8 0 01-4.8 4.8zm-1.6-8v3.2a1.6 1.6 0 003.2 0V26h-3.2zM8.4 10v3.2h12.8V10H8.4zm0 6.4v3.2h12.8v-3.2H8.4zm0 6.4V26h8v-3.2h-8z"
                            fill="#007AFF"></path>
                    </svg></span>
                <p>Basic Info</p>
            </li>
            <li class="u_text-center u_relative  "><span
                    class="u_flex u_align-center u_content-center u_relative u_round-radius u_m-auto u_cp"><svg
                        width="20" height="20" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path
                            d="M17.845 12.285l-4.162 3.795-.006.008-6.338-5.913 3.72-4.213 2.169 2.018 4.617 4.306v-.001zm10.61-1.9l-6.4 5.83-4.21-3.93 4.766-4.349 2.087-1.907 3.756 4.355z"
                            fill="#007AFF"></path>
                        <path d="M22.056 16.217a5.85 5.85 0 01-8.138.098l-.246-.227.007-.006 4.155-3.796 4.222 3.931z"
                            fill="url(#prefix__paint0_linear)"></path>
                        <path
                            d="M17.896 8.926c1.86 0 3.367-1.55 3.367-3.463S19.756 2 17.896 2 14.53 3.55 14.53 5.463s1.507 3.463 3.366 3.463z"
                            fill="#FFA700"></path>
                        <path
                            d="M24.079 23.457l-1.034-5.617-.006-.012 8.18-2.565 1.615 5.443-2.8.88-5.955 1.87zm-3.85 10.347l-1.584-8.637v-.006l5.435-1.704 1.184 6.44.526 2.825-5.561 1.082z"
                            fill="#007AFF"></path>
                        <path
                            d="M18.643 25.162a6.272 6.272 0 01.694-4.51 6.007 6.007 0 013.39-2.732l.31-.097v.012l1.036 5.616-5.43 1.71z"
                            fill="#60B158"></path>
                        <path
                            d="M29.747 30.463c1.86 0 3.367-1.55 3.367-3.463s-1.507-3.463-3.366-3.463c-1.86 0-3.367 1.55-3.367 3.463s1.507 3.463 3.366 3.463z"
                            fill="#FFA700"></path>
                        <path d="M11.06 23.519l1.226-5.574v-.012l-8.084-2.86-1.8 5.382 2.769.978 5.89 2.086z"
                            fill="#007AFF"></path>
                        <path d="M14.552 34l1.885-8.582-5.376-1.901-1.406 6.398-.616 2.8L14.552 34z" fill="#007AFF">
                        </path>
                        <path
                            d="M16.435 25.42a6.274 6.274 0 00-.544-4.528c-.748-1.395-1.938-2.374-3.295-2.848l-.311-.111v.012l-1.226 5.574 5.376 1.901z"
                            fill="#60B158"></path>
                        <path
                            d="M5.366 30.034c1.86 0 3.367-1.551 3.367-3.464s-1.507-3.464-3.367-3.464C3.508 23.106 2 24.656 2 26.57c0 1.913 1.508 3.463 3.366 3.463z"
                            fill="#FFA700"></path>
                        <defs>
                            <linearGradient id="prefix__paint0_linear" x1="17.864" y1="12.287" x2="17.864" y2="17.915"
                                gradientUnits="userSpaceOnUse">
                                <stop stop-color="#60B158"></stop>
                                <stop offset="1" stop-color="#60B158"></stop>
                            </linearGradient>
                        </defs>
                    </svg></span>
                <p>HRMS</p>
            </li>
            <li class="u_text-center u_relative  "><span
                    class="u_flex u_align-center u_content-center u_relative u_round-radius u_m-auto u_cp"><svg
                        width="22" height="22" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path
                            d="M19.344 3C11.25 3 4.693 9.55 4.693 17.634c0 2.859.817 5.523 2.24 7.776L2 33.222l10.601-2.597a14.602 14.602 0 006.743 1.637c3.669 0 7.03-1.35 9.6-3.577l-3.439-.898a11.863 11.863 0 01-6.161 1.719c-2.112 0-4.096-.55-5.812-1.514l-5.838 1.16 2.282-4.209a11.82 11.82 0 01-2.518-7.31c0-6.56 5.324-11.877 11.891-11.877 6.568 0 11.891 5.318 11.891 11.878a11.815 11.815 0 01-1.51 5.795l1.598 2.633A14.529 14.529 0 0034 17.634C33.99 9.55 27.432 3 19.344 3z"
                            fill="#60B158"></path>
                        <path
                            d="M30.973 27.977l-3.515-5.652a9.334 9.334 0 001.254-4.681c0-5.179-4.204-9.378-9.389-9.378s-9.389 4.199-9.389 9.378c0 5.18 4.204 9.378 9.39 9.378a9.383 9.383 0 004.013-.898l7.636 1.853z"
                            fill="#007AFF"></path>
                        <path
                            d="M15.752 19.03a1.382 1.382 0 100-2.764 1.382 1.382 0 000 2.764zm3.782 0a1.382 1.382 0 10.001-2.764 1.382 1.382 0 000 2.764zm3.644 0a1.382 1.382 0 10.001-2.764 1.382 1.382 0 00-.001 2.764z"
                            fill="#FFA700"></path>
                    </svg></span>
                <p>CHAT</p>
            </li>
            <li class="u_text-center u_relative  "><span
                    class="u_flex u_align-center u_content-center u_relative u_round-radius u_m-auto u_cp"><svg
                        width="22" height="22" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="">
                        <path
                            d="M18.63 27.318a3.897 3.897 0 0 1-5.512-.05l-8.387-8.54a3.897 3.897 0 0 1 5.56-5.461l8.388 8.54a3.897 3.897 0 0 1-.05 5.51Z"
                            fill="#FFA700"></path>
                        <mask id="a" maskUnits="userSpaceOnUse" x="3" y="12" width="17" height="17"
                            style="mask-type: alpha;">
                            <rect x="15.849" y="30.049" width="19.764" height="7.794" rx="3.897"
                                transform="rotate(-134.486 15.85 30.049)" fill="#FFA700"></rect>
                        </mask>
                        <g mask="url(#a)">
                            <path d="M8.354 22.529c2.746.293 6.27-2.129 7.724-3.446l-5.65 5.568-2.074-2.122Z"
                                fill="#007AFF"></path>
                        </g>
                        <path
                            d="m10.442 24.543 16.94-16.518a3.897 3.897 0 1 1 5.442 5.58L18.74 27.337a3.992 3.992 0 0 1-5.645-.071l-2.654-2.723Z"
                            fill="#007AFF"></path>
                        <circle cx="16.705" cy="9.48" r="3.48" fill="#60B158"></circle>
                    </svg></span>
                <p>Survey</p>
            </li>
        </ul>
    </div>
    <div class="u_layout-scrollview">
        <div class="u_scroll-section undefined"
            style="position: relative; overflow: hidden; width: 100%; height: 100%;">
            <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
                <div class="u_ac-common u_p-20">
                    <p class="u_ac-common-dec u_mb-25">Access level is a set of permissions for the different actions
                        available within the system. Access level defines the permission for the employees to
                        see/perform different operations in the system. </p>
                    <form>
                        <div class="u_row">
                            <div class="u_col-5 u_mb-25">
                                <div class="u_input"><input type="text" placeholder=" " name="name" max="25"
                                        autocomplete="off" value=""><label>Access Level Name <span>*</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="u_row">
                            <div class="u_col-5 u_mb-25">
                                <div class="u_input u_input-textarea"><textarea class="u_textarea u_textarea-six-rows"
                                        placeholder=" " autocomplete="off"
                                        name="description"></textarea><label>Description <span>*</span></label></div>
                            </div>
                        </div>
                        <div class="u_flex u_mb-25 u_emp-add-ac-wpr">
                            <div class="u_emp-add-ac u_hover active">
                                <div class="u_flex u_p-8"><span class="u_flex-shrink "><svg width="20" height="20"
                                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <path class="u_fill"
                                                d="M6 34a12.29 12.29 0 013.515-8.62A11.906 11.906 0 0118 21.81c3.183 0 6.235 1.284 8.485 3.57A12.29 12.29 0 0130 34H6zm12-13.714c-4.973 0-9-4.092-9-9.143C9 6.09 13.027 2 18 2s9 4.091 9 9.143c0 5.051-4.027 9.143-9 9.143z"
                                                fill="#4E525F"></path>
                                        </svg></span>
                                    <div class="u_emp-add-ac-desc u_ml-10"><span class="u_mb-5 u_block">Employee</span>
                                        <p>Can see/update sensitive information of themselves.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="u_emp-add-ac u_hover ">
                                <div class="u_flex u_p-8"><span class="u_flex-shrink "><svg width="20" height="20"
                                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <path class="u_fill"
                                                d="M18 20.3c-5 0-9-4.1-9-9.1C9 6.1 13 2 18 2s9 4.1 9 9.1c0 5.1-4 9.2-9 9.2zM16 24h4v2h-4v-2zm10.5 1.4c-2.3-2.3-5.3-3.6-8.5-3.6s-6.2 1.3-8.5 3.6C7.3 27.7 6 30.8 6 34h9l3-6 3 6h9c0-3.2-1.3-6.3-3.5-8.6z"
                                                fill="#4E525F"></path>
                                        </svg></span>
                                    <div class="u_emp-add-ac-desc u_ml-10"><span class="u_mb-5 u_block">Manager</span>
                                        <p>Can see information of particular employees based on visibility.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div
                style="position: absolute; height: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; left: 2px; border-radius: 3px; visibility: hidden;">
                <div class="u_scroll-bar"
                    style="position: relative; display: block; height: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); width: 0px;">
                </div>
            </div>
            <div
                style="position: absolute; width: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; top: 2px; border-radius: 3px; visibility: visible;">
                <div class="u_scroll-bar"
                    style="position: relative; display: block; width: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); height: 238px; transform: translateY(0px);">
                </div>
            </div>
        </div>
    </div>
</div>