<div class="u_profile-layout-wpr">
  <div class="" style="position: relative; overflow: hidden; width: 100%; height: 100%;">
    <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
      <div class="u_header-filters u_bb-light" id="u_header-filters">
        <div class="u_header-filters-title">
          <h5>1 My Tax Regime</h5>
        </div>
        <div class="u_flex u_align-center">
          <div class="u_header-filters-list">
            <div class="u_flex u_align-center u_content-end">
              <div class="u_filter-content  ">
                <div class="u_filter-content-inner">
                  <div class="u_filter u_filter-select active">
                    <div class=" css-2b097c-container"><span aria-live="polite" aria-atomic="false"
                        aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                      <div class="u_select__control css-yk16xz-control">
                        <div class="u_select__value-container u_select__value-container--has-value css-1hwfws3">
                          <div class="u_select__single-value css-1uccc91-singleValue">
                            <div class="u_flex u_align-center"><svg width="14" height="14" viewBox="0 0 36 36"
                                fill="none" xmlns="http://www.w3.org/2000/svg" class="u_mr-8"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path class="u_fill"
                                  d="M23.438 8.064h5.453c-.987-.989-4.371-4.37-5.453-5.448v5.448zM33.062 15.935H2.937a.938.938 0 00-.937.937v10.25c0 .518.42.938.937.938h30.125c.518 0 .938-.42.938-.938v-10.25a.937.937 0 00-.938-.937zm-20.562 3.5h-1.563v6.062a.937.937 0 11-1.875 0v-6.062H7.5a.938.938 0 010-1.875h5a.937.937 0 110 1.875zm8.58 6.94a.937.937 0 01-1.208-.548l-.335-.892h-3.072l-.338.894a.938.938 0 01-1.754-.663c2.73-7.219 2.612-6.905 2.62-6.924.169-.415.569-.682 1.016-.682.475 0 .876.3 1.027.708l2.591 6.9a.938.938 0 01-.547 1.207zm7.42.06a.936.936 0 01-.763-.393L26 23.61l-1.737 2.432a.937.937 0 01-.764.393c-.754 0-1.207-.86-.762-1.483l2.11-2.955-2.11-2.955a.938.938 0 011.526-1.09L26 20.384l1.737-2.432a.938.938 0 011.526 1.09l-2.111 2.955 2.11 2.955c.446.624-.008 1.483-.761 1.483zM6.561 32.125c0 1.034.841 1.875 1.875 1.875h19.125a1.877 1.877 0 001.875-1.875v-2.187H6.561v2.187z"
                                  fill="#007AFF"></path>
                                <path class="u_fill"
                                  d="M29.437 9.938H22.5A.937.937 0 0121.562 9V2H8.437c-1.033 0-1.874.904-1.874 1.938v10.125h22.874V9.938zm-13.437 2h-4.5a.938.938 0 010-1.875H16a.937.937 0 110 1.875zm0-4h-4.5a.937.937 0 110-1.875H16a.937.937 0 110 1.875zM17.174 23.061h1.659l-.826-2.2-.833 2.2z"
                                  fill="#007AFF"></path>
                              </svg>All</div>
                          </div>
                          <div class="css-1g6gooi">
                            <div class="u_select__input" style="display: inline-block;"><input autocapitalize="none"
                                autocomplete="off" autocorrect="off" id="react-select-146-input" spellcheck="false"
                                tabindex="0" type="text" aria-autocomplete="list" value=""
                                style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                              <div
                                style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 12px; font-family: Arial; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="u_select__indicators css-1wy0on6"><span
                            class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                          <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                            aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                              focusable="false" class="css-8mmkcg">
                              <path
                                d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                              </path>
                            </svg></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="u_payroll-history">
        <div class=""
          style="position: relative; overflow: hidden; width: 100%; height: 100%;">
          <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
            <div class="u_table-resource u_reports-status-table u_table-resource-nowrap u_table-resource-no-sticky">
              <table>
                <thead class="u_table-resource-header">
                  <tr>
                    <th>Financial Year</th>
                    <th class="u_text-left">Tax Regime</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="false">
                    <td class="u_ws-initial">2024 - 2025</td>
                    <td>
                      <div class="u_text-left">Old Regime</div>
                    </td>
                    <td>
                      <div class="u_table-resource-action">
                        <div class="u_cp u_table-resource-menu"><span class="u_more-menu-icon"><svg width="20"
                              height="20" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                              xmlns:xlink="http://www.w3.org/1999/xlink">
                              <path class="u_fill"
                                d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                                fill="#4E525F"></path>
                            </svg></span></div>
                        <div class="u_table-resource-buttons">
                          <div class="u_icon-rollover u_cp" aria-describedby="popup-7709"><svg width="18" height="18"
                              viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                              xmlns:xlink="http://www.w3.org/1999/xlink">
                              <path class="u_fill"
                                d="M2 18.333C3.39 10.748 10.026 5 18 5s14.608 5.748 16 13.333c-1.39 7.586-8.026 13.334-16 13.334S3.392 25.919 2 18.333zm16 7.408c1.961 0 3.842-.78 5.229-2.17a7.414 7.414 0 000-10.476 7.388 7.388 0 00-10.458 0 7.414 7.414 0 000 10.476A7.388 7.388 0 0018 25.741zm0-2.963a4.433 4.433 0 01-3.137-1.302 4.448 4.448 0 010-6.285 4.433 4.433 0 016.274 0 4.449 4.449 0 010 6.285A4.433 4.433 0 0118 22.778z"
                                fill="#007AFF"></path>
                            </svg></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div
            style="position: absolute; height: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; left: 2px; border-radius: 3px; visibility: hidden;">
            <div class="u_scroll-bar"
              style="position: relative; display: block; height: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); width: 0px;">
            </div>
          </div>
          <div
            style="position: absolute; width: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; top: 2px; border-radius: 3px; visibility: hidden;">
            <div class="u_scroll-bar"
              style="position: relative; display: block; width: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); height: 0px; transform: translateY(0px);">
            </div>
          </div>
        </div>
        <div class="u_pagination " id="u_pagination">
          <div class="u_pagination-record u_flex u_align-center"><span class="u_pagination-title u_mr-10">Entries</span>
            <div class="u_pagination-record-wpr">
              <div class=" css-2b097c-container"><span aria-live="polite" aria-atomic="false"
                  aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                <div class="u_record__control css-yk16xz-control">
                  <div class="u_record__value-container u_record__value-container--has-value css-1hwfws3">
                    <div class="u_record__single-value css-1uccc91-singleValue">40</div><input
                      id="react-select-147-input" readonly="" tabindex="0" aria-autocomplete="list"
                      class="css-62g3xt-dummyInput" value="">
                  </div>
                  <div class="u_record__indicators css-1wy0on6"><span
                      class="u_record__indicator-separator css-1okebmr-indicatorSeparator"></span>
                    <div class="u_record__indicator u_record__dropdown-indicator css-tlfecz-indicatorContainer"
                      aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                        focusable="false" class="css-8mmkcg">
                        <path
                          d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                        </path>
                      </svg></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ul class="u_flex">
            <li class="previous disabled"><a class="u_pagination-link u_pagination-link-previous" tabindex="0"
                role="button" aria-disabled="true" aria-label="Previous page" rel="prev"><svg width="15" height="15"
                  viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path class="u_fill" d="M15.11 18l12.446 12.445L24 34 8 18 24 2l3.556 3.555L15.11 18z" fill="#4E525F">
                  </path>
                </svg></a></li>
            <li class="selected"><a role="button" class="u_pagination-link u_pagination-link-active" tabindex="0"
                aria-label="Page 1 is your current page" aria-current="page">1</a></li>
            <li class="next disabled"><a class="u_pagination-link u_pagination-link-next" tabindex="0" role="button"
                aria-disabled="true" aria-label="Next page" rel="next"><svg width="15" height="15" viewBox="0 0 36 36"
                  fill="none" xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path class="u_fill" d="M20.445 18L8 5.555 11.555 2l16 16-16 16L8 30.445 20.445 18z" fill="#4E525F">
                  </path>
                </svg></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div
      style="position: absolute; height: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; left: 2px; border-radius: 3px; visibility: hidden;">
      <div class="u_scroll-bar"
        style="position: relative; display: block; height: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); width: 0px; transform: translateX(0px);">
      </div>
    </div>
    <div
      style="position: absolute; width: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; top: 2px; border-radius: 3px; visibility: visible;">
      <div class="u_scroll-bar"
        style="position: relative; display: block; width: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); height: 401px; transform: translateY(0px);">
      </div>
    </div>
  </div>
</div>
