<div class="u_profile-layout-wpr u-scroll-wrapper">
  <div class="u_scroll-section undefined"
    style="position: relative; overflow: hidden; width: 100%; height: 100%;">
    <div
      style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;"  class="u-scroll-new">
      <div class="u_content-header">
        <h5 class="mb-0">Org Structure</h5>
        <div class="u_flex u_align-center"></div>
      </div>
      <div>
        <div>
          <div class="u_content-form u_px-20 u_pt-20">
            <div class="u_row">
              <div class="u_col-4 u_mb-25">
                <div class="form-group-wrapper">
                  <div class="form-group-main border-0 position-relative">
                    <ng-select placeholder="Business Unit">
                      </ng-select>
                    <label class="position-absolute m-0 bg-white">Business Unit <span class="text-danger">*</span></label>
                  </div>
                </div>
              </div>
              <div class="u_col-4 u_mb-25">
                <div class="form-group-wrapper">
                  <div class="form-group-main border-0 position-relative">
                    <ng-select placeholder="Cost Center">
                    </ng-select>
                    <label class="position-absolute m-0 bg-white">Cost Center <span class="text-danger">*</span></label>
                  </div>
                </div>
              </div>
              <div class="u_col-4 u_mb-25">
              <div class="form-group-wrapper">
                <div class="form-group-main border-0 position-relative">
                  <ng-select placeholder="Bands">
                  </ng-select>
                  <label class="position-absolute m-0 bg-white">Bands <span class="text-danger">*</span></label>
                </div>
              </div>
              </div>
              <div class="u_col-4 u_mb-25">
              <div class="form-group-wrapper">
                <div class="form-group-main border-0 position-relative">
                  <ng-select placeholder="Segment">
                  </ng-select>
                  <label class="position-absolute m-0 bg-white">Segment <span class="text-danger">*</span></label>
                </div>
              </div>
              </div>
              <div class="u_col-4 u_mb-25">
                <div class="form-group-wrapper">
                  <div class="form-group-main border-0 position-relative">
                    <ng-select placeholder="Hub">
                      </ng-select>
                    <label class="position-absolute m-0 bg-white">Hub <span class="text-danger">*</span></label>
                  </div>
                </div>
              </div>
              <div class="u_col-4 u_mb-25">
              <div class="form-group-wrapper">
                <div class="form-group-main border-0 position-relative">
                  <ng-select placeholder="Territory">
                  </ng-select>
                  <label class="position-absolute m-0 bg-white">Territory <span class="text-danger">*</span></label>
                </div>
              </div>
              </div>
              <div class="u_col-4 u_mb-25">
              <div class="form-group-wrapper">
                <div class="form-group-main border-0 position-relative">
                  <ng-select placeholder="Region">
                  </ng-select>
                  <label class="position-absolute m-0 bg-white">Region <span class="text-danger">*</span></label>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
