<div class="u_profile-layout-wpr">
  <div class="" style="position: relative; overflow: hidden; width: 100%; height: 100%;">
    <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
      <div class="u_content-header">
        <h5>Org Structure</h5>
        <div class="u_flex u_align-center"></div>
      </div>
      <div>
        <div>
          <div class="u_content-form u_px-20 u_pt-20">
            <div class="u_row">
              <div class="u_col-4 u_mb-25">
                <div class="u_input u_input-select">
                  <div class="u_input-select-inner css-2b097c-container"><span aria-live="polite" aria-atomic="false"
                      aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                    <div class="u_select__control css-yk16xz-control">
                      <div class="u_select__value-container css-1hwfws3">
                        <div class="u_select__placeholder css-1wa3eu0-placeholder"> </div>
                        <div class="css-1g6gooi">
                          <div class="u_select__input" style="display: inline-block;"><input autocapitalize="none"
                              autocomplete="nope" autocorrect="off" id="react-select-100-input" spellcheck="false"
                              tabindex="0" type="text" aria-autocomplete="list" value=""
                              style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                            <div
                              style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="u_select__indicators css-1wy0on6"><span
                          class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                        <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                          aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                            focusable="false" class="css-8mmkcg">
                            <path
                              d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                            </path>
                          </svg></div>
                      </div>
                    </div><input name="businessUnit" type="hidden" value="">
                  </div><label>Business Unit </label>
                </div>
              </div>
              <div class="u_col-4 u_mb-25">
                <div class="u_input u_input-select">
                  <div class="u_input-select-inner css-2b097c-container"><span aria-live="polite" aria-atomic="false"
                      aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                    <div class="u_select__control css-yk16xz-control">
                      <div class="u_select__value-container css-1hwfws3">
                        <div class="u_select__placeholder css-1wa3eu0-placeholder"> </div>
                        <div class="css-1g6gooi">
                          <div class="u_select__input" style="display: inline-block;"><input autocapitalize="none"
                              autocomplete="nope" autocorrect="off" id="react-select-101-input" spellcheck="false"
                              tabindex="0" type="text" aria-autocomplete="list" value=""
                              style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                            <div
                              style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="u_select__indicators css-1wy0on6"><span
                          class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                        <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                          aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                            focusable="false" class="css-8mmkcg">
                            <path
                              d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                            </path>
                          </svg></div>
                      </div>
                    </div><input name="costCenter" type="hidden" value="">
                  </div><label>Cost Center </label>
                </div>
              </div>
              <div class="u_col-4 u_mb-25">
                <div class="u_input u_input-select">
                  <div class="u_input-select-inner css-2b097c-container"><span aria-live="polite" aria-atomic="false"
                      aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                    <div class="u_select__control css-yk16xz-control">
                      <div class="u_select__value-container css-1hwfws3">
                        <div class="u_select__placeholder css-1wa3eu0-placeholder"> </div>
                        <div class="css-1g6gooi">
                          <div class="u_select__input" style="display: inline-block;"><input autocapitalize="none"
                              autocomplete="nope" autocorrect="off" id="react-select-102-input" spellcheck="false"
                              tabindex="0" type="text" aria-autocomplete="list" value=""
                              style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                            <div
                              style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="u_select__indicators css-1wy0on6"><span
                          class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                        <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                          aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                            focusable="false" class="css-8mmkcg">
                            <path
                              d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                            </path>
                          </svg></div>
                      </div>
                    </div><input name="bands" type="hidden" value="">
                  </div><label>Bands </label>
                </div>
              </div>
              <div class="u_col-4 u_mb-25">
                <div class="u_input u_input-select">
                  <div class="u_input-select-inner css-2b097c-container"><span aria-live="polite" aria-atomic="false"
                      aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                    <div class="u_select__control css-yk16xz-control">
                      <div class="u_select__value-container css-1hwfws3">
                        <div class="u_select__placeholder css-1wa3eu0-placeholder"> </div>
                        <div class="css-1g6gooi">
                          <div class="u_select__input" style="display: inline-block;"><input autocapitalize="none"
                              autocomplete="nope" autocorrect="off" id="react-select-103-input" spellcheck="false"
                              tabindex="0" type="text" aria-autocomplete="list" value=""
                              style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                            <div
                              style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="u_select__indicators css-1wy0on6"><span
                          class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                        <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                          aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                            focusable="false" class="css-8mmkcg">
                            <path
                              d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                            </path>
                          </svg></div>
                      </div>
                    </div><input name="segment" type="hidden" value="">
                  </div><label>Segment </label>
                </div>
              </div>
              <div class="u_col-4 u_mb-25">
                <div class="u_input u_input-select">
                  <div class="u_input-select-inner css-2b097c-container"><span aria-live="polite" aria-atomic="false"
                      aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                    <div class="u_select__control css-yk16xz-control">
                      <div class="u_select__value-container css-1hwfws3">
                        <div class="u_select__placeholder css-1wa3eu0-placeholder"> </div>
                        <div class="css-1g6gooi">
                          <div class="u_select__input" style="display: inline-block;"><input autocapitalize="none"
                              autocomplete="nope" autocorrect="off" id="react-select-104-input" spellcheck="false"
                              tabindex="0" type="text" aria-autocomplete="list" value=""
                              style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                            <div
                              style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="u_select__indicators css-1wy0on6"><span
                          class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                        <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                          aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                            focusable="false" class="css-8mmkcg">
                            <path
                              d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                            </path>
                          </svg></div>
                      </div>
                    </div><input name="hub" type="hidden" value="">
                  </div><label>Hub </label>
                </div>
              </div>
              <div class="u_col-4 u_mb-25">
                <div class="u_input u_input-select">
                  <div class="u_input-select-inner css-2b097c-container"><span aria-live="polite" aria-atomic="false"
                      aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                    <div class="u_select__control css-yk16xz-control">
                      <div class="u_select__value-container css-1hwfws3">
                        <div class="u_select__placeholder css-1wa3eu0-placeholder"> </div>
                        <div class="css-1g6gooi">
                          <div class="u_select__input" style="display: inline-block;"><input autocapitalize="none"
                              autocomplete="nope" autocorrect="off" id="react-select-105-input" spellcheck="false"
                              tabindex="0" type="text" aria-autocomplete="list" value=""
                              style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                            <div
                              style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="u_select__indicators css-1wy0on6"><span
                          class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                        <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                          aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                            focusable="false" class="css-8mmkcg">
                            <path
                              d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                            </path>
                          </svg></div>
                      </div>
                    </div><input name="territory" type="hidden" value="">
                  </div><label>Territory </label>
                </div>
              </div>
              <div class="u_col-4 u_mb-25">
                <div class="u_input u_input-select">
                  <div class="u_input-select-inner css-2b097c-container"><span aria-live="polite" aria-atomic="false"
                      aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                    <div class="u_select__control css-yk16xz-control">
                      <div class="u_select__value-container css-1hwfws3">
                        <div class="u_select__placeholder css-1wa3eu0-placeholder"> </div>
                        <div class="css-1g6gooi">
                          <div class="u_select__input" style="display: inline-block;"><input autocapitalize="none"
                              autocomplete="nope" autocorrect="off" id="react-select-106-input" spellcheck="false"
                              tabindex="0" type="text" aria-autocomplete="list" value=""
                              style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                            <div
                              style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="u_select__indicators css-1wy0on6"><span
                          class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                        <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                          aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                            focusable="false" class="css-8mmkcg">
                            <path
                              d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                            </path>
                          </svg></div>
                      </div>
                    </div><input name="region" type="hidden" value="">
                  </div><label>Region </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      style="position: absolute; height: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; left: 2px; border-radius: 3px; visibility: hidden;">
      <div class="u_scroll-bar"
        style="position: relative; display: block; height: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); width: 0px; transform: translateX(0px);">
      </div>
    </div>
    <div
      style="position: absolute; width: 6px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; bottom: 2px; top: 2px; border-radius: 3px; visibility: hidden;">
      <div class="u_scroll-bar"
        style="position: relative; display: block; width: 100%; border-radius: 100px; background-color: rgb(209, 209, 209); height: 0px; transform: translateY(0px);">
      </div>
    </div>
  </div>
</div>
