<div class="u_header-filters-list">
    <div class="u_flex u_align-center u_content-end">
        <div class="u_filter-content-overlay"></div>
        <div class="u_filter-content u_filter-content-mobile active">
            <div class="u_filter-content-header">
                <h4 class="mb-0">Filter</h4>
                <span class="u_icon-rollover u_icon-rollover-active u_ml-10 u_cp" [mat-dialog-close]="true">
                    <svg width="14" height="14" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path class="u_fill-stroke"
                            d="M18 14.557L7.08 3.637l-.142-.142-.142.141-3.16 3.16-.141.142.141.141L14.557 18 3.637 28.92l-.142.142.141.142 3.16 3.16.142.141.141-.141L18 21.443l10.92 10.92.142.142.142-.141 3.16-3.16.141-.142-.141-.141L21.443 18l10.92-10.922.142-.141-.141-.142-3.16-3.16-.142-.141-.141.141L18 14.557z"
                            stroke="73788B" fill="#007AFF" stroke-width="0.4"></path>
                    </svg></span>
            </div>
            <div class="u_filter-content-inner">
                <div class="u_filter u_filter-department">
                    <div class="form-group-wrapper">
                        <div class="form-group-main border-0 position-relative">
                            <ng-select placeholder="Select Company">
                                <ng-option>Kautilyam</ng-option>
                                <ng-option>Syfrox</ng-option>
                            </ng-select>
                            <label class="position-absolute m-0 bg-white">Select Company <span
                                    class="text-danger">*</span></label>
                        </div>
                    </div>

                </div>
                <div class="u_filter u_filter-select ">
                    <div class="form-group-wrapper">
                        <div class="form-group-main border-0 position-relative">
                            <ng-select placeholder="Department">
                                <ng-option>Finance</ng-option>
                                <ng-option>Human Resources</ng-option>
                                <ng-option>Marketing</ng-option>
                                <ng-option>Research and development</ng-option>
                                <ng-option>Management</ng-option>
                                <ng-option>Human Resource</ng-option>
                            </ng-select>
                            <label class="position-absolute m-0 bg-white">Department <span
                                    class="text-danger">*</span></label>
                        </div>
                    </div>
                </div>

                <div class="u_filter u_filter-select ">
                    <div class="form-group-wrapper">
                        <div class="form-group-main border-0 position-relative">
                            <ng-select placeholder="Sub Department">
                                <ng-option>Sub Department</ng-option>
                            </ng-select>
                            <label class="position-absolute m-0 bg-white">Sub Department <span
                                    class="text-danger">*</span></label>
                        </div>
                    </div>
                </div>
                <div class="u_filter u_filter-select ">
                    <div class="form-group-wrapper">
                        <div class="form-group-main border-0 position-relative">
                            <ng-select placeholder="Job Title">
                                <ng-option>HR Manager</ng-option>
                                <ng-option>Financial Officer</ng-option>
                                <ng-option>Marketing Head</ng-option>
                                <ng-option>Sr.Angular Developer</ng-option>
                                <ng-option>Jr.Angular Developer</ng-option>
                                <ng-option>Sr.Dotnet Developer</ng-option>
                                <ng-option>Jr.Dotnet Developer</ng-option>
                                <ng-option>React js Developer</ng-option>
                                <ng-option>Dotnet Developer</ng-option>
                                <ng-option> Senior BDM</ng-option>
                                <ng-option>Management</ng-option>
                                <ng-option>IT Recruiter</ng-option>
                                <ng-option></ng-option>
                            </ng-select>
                            <label class="position-absolute m-0 bg-white">Job Title <span
                                    class="text-danger">*</span></label>
                        </div>
                    </div>
                </div>
                <div class="u_filter u_filter-select ">
                    <div class="form-group-wrapper">
                        <div class="form-group-main border-0 position-relative">
                            <ng-select placeholder="Location">
                                <ng-option>Surat</ng-option>
                                <ng-option>Ahmedabad</ng-option>
                            </ng-select>
                            <label class="position-absolute m-0 bg-white">Location <span
                                    class="text-danger">*</span></label>
                        </div>
                    </div>
                </div>
                <div class="u_filter u_filter-select ">
                    <div class="form-group-wrapper">
                        <div class="form-group-main border-0 position-relative">
                            <ng-select placeholder="Re Hire">
                                <ng-option>Yes</ng-option>
                                <ng-option>No</ng-option>
                            </ng-select>
                            <label class="position-absolute m-0 bg-white">Rehire <span
                                    class="text-danger">*</span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="u_filter "><span class="u_filter-btn u_filter-icon" aria-describedby="popup-10109"><span
                    class="u_font u_mr-3">Filter:</span><svg width="16" height="16" viewBox="0 0 36 36" fill="none"
                    xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path class="u_fill"
                        d="M32.567 2.042v4.44H3.423v-4.44h29.144zM15.018 33.92v-.443c0-4.37-.005-8.74.007-13.109a1.534 1.534 0 00-.434-1.116c-3.15-3.42-6.29-6.848-9.432-10.274-.133-.144-.264-.288-.435-.476h26.54c-.155.171-.276.306-.4.44-3.163 3.45-6.324 6.9-9.494 10.344-.277.302-.405.62-.403 1.033.01 2.74.003 5.48.01 8.22a.591.591 0 01-.226.504c-1.826 1.552-3.646 3.113-5.468 4.67-.068.06-.142.111-.265.206z"
                        fill="#4E525F"></path>
                </svg></span></div>
    </div>
</div>
