<div class="u_sm active">
    <div class="false u_sm-overlay"></div>
    <div class="u_sm-layout" style="max-width: 800px;">
        <div class="u_sm-header" id="u_sm-header">
            <div class="u_sm-header-left">
                <h4>Add Employee Exit</h4>
            </div>
            <div class="u_sm-header-right">
                <div class="u_sm-close" [mat-dialog-close]="true"><svg width="12" height="12" viewBox="0 0 36 36"
                        fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path class="u_fill-stroke"
                            d="M18 14.557L7.08 3.637l-.142-.142-.142.141-3.16 3.16-.141.142.141.141L14.557 18 3.637 28.92l-.142.142.141.142 3.16 3.16.142.141.141-.141L18 21.443l10.92 10.92.142.142.142-.141 3.16-3.16.141-.142-.141-.141L21.443 18l10.92-10.922.142-.141-.141-.142-3.16-3.16-.142-.141-.141.141L18 14.557z"
                            stroke="73788B" fill="#007AFF" stroke-width="0.4"></path>
                    </svg></div>
            </div>
        </div>
        <div class="u_sm-body" id="u_sm-body" style="max-height: calc(523px);">
            <form autocomplete="off">
                <div class="u_p-20">
                    <div class="u_row">
                        <div class="u_col-6 u_mb-25">
                            <div class="u_input u_input-select">
                                <div class="u_input-select-inner u_single-select-user css-2b097c-container"><span
                                        aria-live="polite" aria-atomic="false" aria-relevant="additions text"
                                        class="css-7pg0cj-a11yText"></span>
                                    <div class="u_select__control css-yk16xz-control">
                                        <div class="u_select__value-container css-1hwfws3">
                                            <div class="u_select__placeholder css-1wa3eu0-placeholder">Select...</div>
                                            <div class="css-1g6gooi">
                                                <div class="u_select__input" style="display: inline-block;"><input
                                                        autocapitalize="none" autocomplete="off" autocorrect="off"
                                                        id="react-select-139-input" spellcheck="false" tabindex="0"
                                                        type="text" aria-autocomplete="list" value=""
                                                        style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                                    <div
                                                        style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="u_select__indicators css-1wy0on6"><span
                                                class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                                            <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                                                aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                    aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                    <path
                                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                    </path>
                                                </svg></div>
                                        </div>
                                    </div><input name="employee" type="hidden" value="">
                                </div><label>Employee <span>*</span></label>
                            </div>
                        </div>
                        <div class="u_col-6 u_mb-25">
                            <div class="u_input u_input-select">
                                <div class="u_input-select-inner u_select--is-disabled css-14jk2my-container"><span
                                        aria-live="polite" aria-atomic="false" aria-relevant="additions text"
                                        class="css-7pg0cj-a11yText"></span>
                                    <div class="u_select__control u_select__control--is-disabled css-1fhf3k1-control">
                                        <div class="u_select__value-container css-1hwfws3">
                                            <div class="u_select__placeholder css-1wa3eu0-placeholder"> </div>
                                            <div class="css-mry1rc">
                                                <div class="u_select__input" style="display: inline-block;"><input
                                                        disabled="" autocapitalize="none" autocomplete="off"
                                                        autocorrect="off" id="react-select-140-input" spellcheck="false"
                                                        tabindex="0" type="text" aria-autocomplete="list" value=""
                                                        style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                                    <div
                                                        style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="u_select__indicators css-1wy0on6"><span
                                                class="u_select__indicator-separator css-109onse-indicatorSeparator"></span>
                                            <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                                                aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                    aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                    <path
                                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                    </path>
                                                </svg></div>
                                        </div>
                                    </div>
                                </div><label>Job Title </label>
                            </div>
                        </div>
                        <div class="u_col-6 u_mb-25">
                            <div class="u_input u_input-select">
                                <div class="u_input-select-inner u_select--is-disabled css-14jk2my-container"><span
                                        aria-live="polite" aria-atomic="false" aria-relevant="additions text"
                                        class="css-7pg0cj-a11yText"></span>
                                    <div class="u_select__control u_select__control--is-disabled css-1fhf3k1-control">
                                        <div class="u_select__value-container css-1hwfws3">
                                            <div class="u_select__placeholder css-1wa3eu0-placeholder"> </div>
                                            <div class="css-mry1rc">
                                                <div class="u_select__input" style="display: inline-block;"><input
                                                        disabled="" autocapitalize="none" autocomplete="off"
                                                        autocorrect="off" id="react-select-141-input" spellcheck="false"
                                                        tabindex="0" type="text" aria-autocomplete="list" value=""
                                                        style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                                    <div
                                                        style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="u_select__indicators css-1wy0on6"><span
                                                class="u_select__indicator-separator css-109onse-indicatorSeparator"></span>
                                            <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                                                aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                    aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                    <path
                                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                    </path>
                                                </svg></div>
                                        </div>
                                    </div>
                                </div><label>Department </label>
                            </div>
                        </div>
                        <div class="u_col-6 u_mb-25">
                            <div class="u_input u_input-select">
                                <div class="u_input-select-inner u_select--is-disabled css-14jk2my-container"><span
                                        aria-live="polite" aria-atomic="false" aria-relevant="additions text"
                                        class="css-7pg0cj-a11yText"></span>
                                    <div class="u_select__control u_select__control--is-disabled css-1fhf3k1-control">
                                        <div class="u_select__value-container css-1hwfws3">
                                            <div class="u_select__placeholder css-1wa3eu0-placeholder"> </div>
                                            <div class="css-mry1rc">
                                                <div class="u_select__input" style="display: inline-block;"><input
                                                        disabled="" autocapitalize="none" autocomplete="off"
                                                        autocorrect="off" id="react-select-142-input" spellcheck="false"
                                                        tabindex="0" type="text" aria-autocomplete="list" value=""
                                                        style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                                    <div
                                                        style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="u_select__indicators css-1wy0on6"><span
                                                class="u_select__indicator-separator css-109onse-indicatorSeparator"></span>
                                            <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                                                aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                    aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                    <path
                                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                    </path>
                                                </svg></div>
                                        </div>
                                    </div>
                                </div><label>Location </label>
                            </div>
                        </div>
                        <div class="u_col-12 u_mb-15">
                            <h6>Reason for initiating exit</h6>
                        </div>
                        <div class="u_col-12 ">
                            <div class="u_flex u_align-center u_flex-wrap">
                                <div class="u_radio-group u_mb-25 u_mr-20 u_flex-shrink">
                                    <div class="u_radio-btn undefined"><input type="radio" id="2"
                                            label="Employee wants to resign" name="" checked=""><label for="2">Employee
                                            wants to resign</label></div>
                                </div>
                                <div class="u_radio-group u_mb-25 u_mr-20 u_flex-shrink ">
                                    <div class="u_radio-btn undefined"><input type="radio" id="1" name=""
                                            label="Company Decides to relieve"><label for="1">Company Decides to
                                            relieve</label></div>
                                </div>
                                <div class="u_flex u_align-center u_radio-group u_mb-25 u_flex-shrink ">
                                    <div class="u_radio-btn undefined"><input type="radio" id="3" name=""
                                            label="Absconding"><label for="3">Absconding</label></div>
                                    <div class="u_rollover u_cp u_lh-0 u_ml-10" aria-describedby="popup-14715"><svg
                                            width="14" height="14" viewBox="0 0 36 36" fill="none"
                                            xmlns="http://www.w3.org/2000/svg" class=""
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <path class="u_fill"
                                                d="M18 34C9.163 34 2 26.837 2 18S9.163 2 18 2s16 7.163 16 16-7.163 16-16 16zm-1.6-11.2V26h3.2v-3.2h-3.2zm0-12.8v9.6h3.2V10h-3.2z"
                                                fill="#4E525F"></path>
                                        </svg></div>
                                </div>
                            </div>
                        </div>
                        <div class="u_col-6 u_mb-25">
                            <div class="u_input u_input-select">
                                <div class="u_input-select-inner u_create-select css-2b097c-container"><span
                                        aria-live="polite" aria-atomic="false" aria-relevant="additions text"
                                        class="css-7pg0cj-a11yText"></span>
                                    <div class="u_select__control css-yk16xz-control">
                                        <div class="u_select__value-container css-1hwfws3">
                                            <div class="u_select__placeholder css-1wa3eu0-placeholder"> </div>
                                            <div class="css-1g6gooi">
                                                <div class="u_select__input" style="display: inline-block;"><input
                                                        autocapitalize="none" autocomplete="nope" autocorrect="off"
                                                        id="react-select-143-input" spellcheck="false" tabindex="0"
                                                        type="text" aria-autocomplete="list" value=""
                                                        style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                                    <div
                                                        style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="u_select__indicators css-1wy0on6"><span
                                                class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                                            <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                                                aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                    aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                    <path
                                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                    </path>
                                                </svg></div>
                                        </div>
                                    </div><input name="reason" type="hidden" value="">
                                </div><label>Reason for Resignation <span>*</span></label>
                            </div>
                        </div>
                        <div class="u_col-6 u_mb-25">
                            <div class="u_input u_input-datepicker u_input-notice">
                                <div class="u_datepicker undefined">
                                    <div class="react-datepicker-wrapper">
                                        <div class="react-datepicker__input-container"><input type="text"
                                                placeholder=" " autocomplete="off" class="" value=""></div>
                                    </div>
                                </div><label>Notice of Exit <span>*</span></label>
                                <div class=" u_input-note u_ib"><span class="u_rollover u_cp u_flex"
                                        aria-describedby="popup-14716"><svg width="18" height="18" viewBox="0 0 36 36"
                                            fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <path class="u_fill"
                                                d="M18 2c8.837 0 16 7.163 16 16s-7.163 16-16 16S2 26.837 2 18 9.163 2 18 2Zm1.6 11.2V10h-3.2v3.2h3.2Zm0 12.8v-9.6h-3.2V26h3.2Z"
                                                fill="#4E525F"></path>
                                        </svg></span></div>
                            </div>
                        </div>
                        <div class="u_col-4 u_mb-25">
                            <div class="u_input u_input-datepicker">
                                <div class="u_datepicker undefined">
                                    <div class="react-datepicker-wrapper">
                                        <div class="react-datepicker__input-container"><input type="text"
                                                placeholder=" " autocomplete="off" class="" value=""></div>
                                    </div>
                                </div><label>Last working Day <span>*</span></label>
                            </div>
                        </div>
                        <div class="u_col-4 u_mb-25">
                            <div class="u_input"><input type="text" placeholder=" " name="exitPeriod" disabled=""
                                    autocomplete="off" value=""><label>Period (In Months) </label></div>
                        </div>
                        <div class="u_col-4 u_mb-25">
                            <div class="u_input u_input-select u_input-select-value">
                                <div class="u_input-select-inner css-2b097c-container"><span aria-live="polite"
                                        aria-atomic="false" aria-relevant="additions text"
                                        class="css-7pg0cj-a11yText"></span>
                                    <div class="u_select__control css-yk16xz-control">
                                        <div
                                            class="u_select__value-container u_select__value-container--has-value css-1hwfws3">
                                            <div class="u_select__single-value css-1uccc91-singleValue">Yes</div>
                                            <div class="css-1g6gooi">
                                                <div class="u_select__input" style="display: inline-block;"><input
                                                        autocapitalize="none" autocomplete="off" autocorrect="off"
                                                        id="react-select-144-input" spellcheck="false" tabindex="0"
                                                        type="text" aria-autocomplete="list" value=""
                                                        style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                                    <div
                                                        style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Mulish, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="u_select__indicators css-1wy0on6"><span
                                                class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                                            <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                                                aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                    aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                    <path
                                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                    </path>
                                                </svg></div>
                                        </div>
                                    </div><input name="rehire" type="hidden" value="true">
                                </div><label>Eligible to Rehire <span>*</span></label>
                            </div>
                        </div>
                        <div class="u_col-12">
                            <div class="u_input u_input-textarea"><textarea class="u_textarea u_textarea-six-rows"
                                    placeholder=" " name="note" autocomplete="off"></textarea><label>Note </label></div>
                        </div>
                        <div class="u_col-12 u_mt-15 ">
                            <div class="u_flex-align">
                                <div class="u_checkbox undefined   "><input id="isDefault" type="checkbox"
                                        name="isDefault" label="Write remarks about this employee"><label
                                        for="isDefault"><span>Write remarks about this employee</span></label></div>
                                <span class="u_rollover u_flex u_cp u_ml-5" aria-describedby="popup-14717"><svg
                                        width="18" height="18" viewBox="0 0 36 36" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" class=""
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path class="u_fill"
                                            d="M18 2c8.837 0 16 7.163 16 16s-7.163 16-16 16S2 26.837 2 18 9.163 2 18 2Zm1.6 11.2V10h-3.2v3.2h3.2Zm0 12.8v-9.6h-3.2V26h3.2Z"
                                            fill="#4E525F"></path>
                                    </svg></span>
                            </div>
                        </div>
                        <div class="u_col-12"></div>
                    </div>
                </div>
                <div class="u_modal-buttons"><button type="button" class="u_btn white small u_btn__white"
                        [mat-dialog-close]="true">cancel</button><button type="button"
                        class="u_btn blue small u_btn__blue" [mat-dialog-close]="true">save</button></div>
            </form>
        </div>
    </div>
</div>