<div class="u_layout-list directory-wrap">
  <div class="u_header-filters" id="u_header-filters">
    <div class="u_header-filters-title">
      <h5 class="mb-0">10<span> Employees</span></h5>
    </div>
    <div class="u_header-filters-list">
      <div class="filter-list-directory u_flex u_align-center u_content-end">
        <div class="u_filter-content">
          <div class="u_filter-content-inner">
            <div class="u_filter u_filter-search">
              <span class="u_search-icon u_cp"><svg
                  width="14"
                  height="14"
                  viewBox="0 0 36 36"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class
                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path
                    class="u_fill"
                    d="M33.474 30.95l-6.042-6.024a14.075 14.075 0 003.003-8.708 14.218 14.218 0 10-14.217 14.217 14.075 14.075 0 008.708-3.003l6.025 6.042a1.776 1.776 0 002.523 0 1.777 1.777 0 000-2.523zM5.554 16.219a10.663 10.663 0 1121.327 0 10.663 10.663 0 01-21.327 0z"
                    fill="#4E525F"></path></svg></span><input
                type="text"
                tabindex="0"
                class="u_input"
                placeholder="Search"
                autocomplete="off"
                value />
            </div>
            <div class="u_filter u_filter-select">
              <div class="css-2b097c-container">
                <span
                  aria-live="polite"
                  aria-atomic="false"
                  aria-relevant="additions text"
                  class="css-7pg0cj-a11yText"></span>
                <div class="u_select__control d-flex align-items-center">
                  <div class="u_select__value-container css-1hwfws3">
                    <div class="u_select__single-value css-1uccc91-singleValue">
                      <div class="u_flex u_align-center">
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 36 36"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="u_mr-8"
                          xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path
                            class="u_fill"
                            d="M8.064 31.182c0-2.645 1.042-5.182 2.896-7.053a9.846 9.846 0 016.992-2.921 9.846 9.846 0 016.993 2.921 10.018 10.018 0 012.896 7.053H8.064zm9.889-11.22c-4.098 0-7.417-3.349-7.417-7.482 0-4.132 3.319-7.48 7.417-7.48 4.097 0 7.416 3.348 7.416 7.48 0 4.133-3.32 7.481-7.416 7.481zm9.1 2.783c1.891.49 3.58 1.57 4.828 3.084A9.402 9.402 0 0134 31.182h-3.687c0-3.254-1.236-6.216-3.26-8.437zm-2.5-2.838a9.946 9.946 0 002.43-3.359c.567-1.28.86-2.666.858-4.067a9.996 9.996 0 00-1.255-4.867 6.171 6.171 0 013.564 2.163 6.267 6.267 0 011.399 3.95c0 .889-.188 1.767-.551 2.576a6.23 6.23 0 01-1.557 2.115 6.13 6.13 0 01-4.888 1.49z"
                            fill="#4E525F"></path>
                          <path
                            class="u_fill"
                            d="M8.947 22.745a9.268 9.268 0 00-4.828 3.084A9.402 9.402 0 002 31.182h3.687c0-3.254 1.236-6.216 3.26-8.437zm2.5-2.838a9.946 9.946 0 01-2.43-3.359 10.022 10.022 0 01-.858-4.067 9.997 9.997 0 011.255-4.867A6.171 6.171 0 005.85 9.777a6.278 6.278 0 00-.847 6.526c.363.809.894 1.53 1.556 2.115a6.164 6.164 0 002.284 1.278c.843.257 1.731.329 2.604.211z"
                            fill="#4E525F"></path></svg><span
                          class="u_text-c u_color-font">All Employees</span>
                      </div>
                    </div>
                  </div>
                  <div class="u_select__indicators css-1wy0on6">
                    <span
                      class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                    <div
                      class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                      aria-hidden="true">
                      <svg
                        height="20"
                        width="20"
                        viewBox="0 0 20 20"
                        aria-hidden="true"
                        focusable="false"
                        class="css-8mmkcg">
                        <path
                          d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <input name="users" type="hidden" value />
              </div>
            </div>
          </div>
        </div>
        <div class="u_filters">
          <div class="u_filter" aria-describedby="popup-3603">
            <p class="u_flex u_align-center u_cp" aria-describedby="popup-3604">
              <span class="u_filter-icon"><svg
                  width="18"
                  height="18"
                  viewBox="0 0 36 36"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class
                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path
                    class="u_fill"
                    d="M19.6 15.062h8L18 24.543l-9.6-9.481h8V4h3.2v11.062zM5.2 29.284h25.6V18.222H34v12.642c0 .42-.169.821-.469 1.118a1.61 1.61 0 01-1.131.462H3.6a1.61 1.61 0 01-1.131-.462A1.57 1.57 0 012 30.864V18.222h3.2v11.062z"
                    fill="#4E525F"></path></svg></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="u_scroll-section "
    style="position: relative; overflow: hidden; width: 100%; height: 100%">
    <div
      style="
        position: absolute;
        inset: 0px;
        overflow: auto;
      ">
      <div
        class="u_table-resource u_table-resource-nowrap u_table-resource-hover">
        <table>
          <thead class="u_table-resource-header">
            <tr>
              <th>Employee Name</th>
              <th>Designation</th>
              <th>Department</th>
              <th>Notice Given On</th>
              <th>Last Working Day</th>
              <th>Tasks</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="u_users-birthday-name">
                  <div class="u_cp u_flex-shrink" aria-describedby="popup-3583">
                    <div class="u_avatar">
                      <div
                        class="u_avatar-content"
                        style="
                          background-color: rgb(144, 215, 111);
                          width: 36px;
                          height: 36px;
                        ">
                        <span
                          class="u_m-auto"
                          style="font-size: 1.2rem; line-height: 1.2rem">NM</span>
                      </div>
                    </div>
                  </div>
                  <div class="u_users-details"><h3>Test Test</h3></div>
                </div>
              </td>
              <td>Angular Developer</td>
              <td class="u_ws-initial">Research And Development</td>
              <td>Mon 29 Apr, 2024</td>
              <td>Mon 29 Apr, 2024</td>
              <td>(0/0)</td>
              <td>
                <div class="u_table-resource-action">
                  <div class="u_cp u_table-resource-menu">
                    <span class="u_more-menu-icon">
                      <svg width="20" height="20" viewBox="0 0 36 36"
                        fill="none" xmlns="http://www.w3.org/2000/svg"
                        class
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path
                          class="u_fill"
                          d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                          fill="#4E525F"></path></svg></span>
                  </div>
                  <div class="u_table-resource-buttons">
                    <span
                      class="u_icon-rollover u_cp u_ml-5"
                      aria-describedby="popup-3584"><svg
                        width="16"
                        height="16"
                        viewBox="0 0 36 36"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path
                          class="u_fill"
                          d="M21.2 2H2v25.6h6.4V34H34V14.8H21.2V2Zm9.6 28.8H11.6v-3.2h9.6V18h9.6v12.8Z"
                          fill="#007AFF"></path>
                        <path
                          class="u_fill"
                          d="M24.4 2v3.2c3.529 0 6.4 2.871 6.4 6.4H34C34 6.307 29.693 2 24.4 2Z"
                          fill="#007AFF"></path></svg></span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="u_users-birthday-name">
                  <div class="u_cp u_flex-shrink" aria-describedby="popup-3585">
                    <div class="u_avatar">
                      <div
                        class="u_avatar-content"
                        style="
                          background-color: rgb(144, 215, 111);
                          width: 36px;
                          height: 36px;
                        ">
                        <span
                          class="u_m-auto"
                          style="font-size: 1.2rem; line-height: 1.2rem">NM</span>
                      </div>
                    </div>
                  </div>
                  <div class="u_users-details"><h3>Test Test</h3></div>
                </div>
              </td>
              <td>Jr. Dotnet Developer</td>
              <td class="u_ws-initial">Research And Development</td>
              <td>Tue 19 Mar, 2024</td>
              <td>Fri 19 Apr, 2024</td>
              <td>(0/0)</td>
              <td>
                <div class="u_table-resource-action">
                  <div class="u_cp u_table-resource-menu">
                    <span class="u_more-menu-icon"><svg
                        width="20"
                        height="20"
                        viewBox="0 0 36 36"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path
                          class="u_fill"
                          d="M5.2 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C2 16.391 3.433 15 5.2 15zM18 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11C14.8 16.391 16.233 15 18 15zM30.8 15c1.767 0 3.2 1.393 3.2 3.111 0 1.718-1.433 3.111-3.2 3.111-1.767 0-3.2-1.393-3.2-3.11 0-1.72 1.433-3.112 3.2-3.112z"
                          fill="#4E525F"></path></svg></span>
                  </div>
                  <div class="u_table-resource-buttons">
                    <span
                      class="u_icon-rollover u_cp u_ml-5"
                      aria-describedby="popup-3586"><svg
                        width="16"
                        height="16"
                        viewBox="0 0 36 36"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path
                          class="u_fill"
                          d="M21.2 2H2v25.6h6.4V34H34V14.8H21.2V2Zm9.6 28.8H11.6v-3.2h9.6V18h9.6v12.8Z"
                          fill="#007AFF"></path>
                        <path
                          class="u_fill"
                          d="M24.4 2v3.2c3.529 0 6.4 2.871 6.4 6.4H34C34 6.307 29.693 2 24.4 2Z"
                          fill="#007AFF"></path></svg></span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end p-2" class="u_pagination mb-2"
    id="u_pagination">
    <div class="d-flex align-items-center pr-4 mb-3">
      <p class="u_pagination-title mb-0 pr-3">Entries</p>
      <div class="dropdown-container">
        <ng-select>
          <ng-option [value]="'20'">20</ng-option>
          <ng-option [value]="'40'">40</ng-option>
          <ng-option [value]="'60'">60</ng-option>
          <ng-option [value]="'80'">80</ng-option>
          <ng-option [value]="'100'">100</ng-option>
        </ng-select>
      </div>
    </div>
    <ul class="u_flex mb-3">
      <li class="previous disabled">
        <a class="u_pagination-link u_pagination-link-previous"
          tabindex="0"
          role="button" aria-disabled="true" aria-label="Previous page"
          rel="prev" style="text-decoration: none;">
          <i class="fa-solid fa-chevron-left"></i>
        </a>
      </li>
      <li class="selected">
        <a role="button"
          class="u_pagination-link u_pagination-link-active"
          tabindex="0"
          aria-label="Page 1 is your current page" aria-current="page"
          style="text-decoration: none;">1</a>
      </li>
      <li class="next disabled">
        <a class="u_pagination-link u_pagination-link-next" tabindex="0"
          role="button" aria-disabled="true" aria-label="Next page"
          rel="next" style="text-decoration: none;">
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
