<div class="u_settings-layout u_flex" style="height: calc(-62px + 100vh);">
  <div class="u_settings-left-sidebar">
    <ul class="u_sidemenu ">
      <div class="u_scroll-section undefined" style="position: relative; overflow: hidden; width: 100%; height: 100%;">
        <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -14px; margin-bottom: -14px;">
          <li class="u_sidemenu-has-list u_sidemenu-item-active">
            <div class="u_sidemenu-item">
              <p>Employee</p>
            </div>
            <ul class="u_sidemenu-item-list">
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="employee/import-sub-company">Import Sub Company</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="employee/import-employee">Import Employee</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="employee/import-location">Import Location</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="employee/import-employee-exit">Import Employee Exit</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="employee/update-employee">Update Employee</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="employee/import-statutory">Import Statutory</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="employee/import-personal-document">Import Personal Document</li>
            </ul>
          </li>
          <li class="u_sidemenu-has-list u_sidemenu-item-active">
            <div class="u_sidemenu-item">
              <p>Leave</p>
            </div>
            <ul class="u_sidemenu-item-list">
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="leave/import-leave">Import Leave Balance</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="leave/import-leave-policy">Import Leave Policy</li>
            </ul>
          </li>
          <li class="u_sidemenu-has-list u_sidemenu-item-active">
            <div class="u_sidemenu-item">
              <p>Employee Fields</p>
            </div>
            <ul class="u_sidemenu-item-list">
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="employee-field/category">Category</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="employee-field/department">Department</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="employee-field/sub-department">Sub Department</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="employee-field/job-title">Job Title</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="employee-field/personal-document">Personal Document</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="employee-field/degree">Degree</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="employee-field/relationship">Relationship</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="employee-field/employee-status">Employment Status</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="employee-field/employee-exit">Employee Exit</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="employee-field/location-activity">Location Activity</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="employee-field/letter-type">Letter Type</li>
            </ul>
          </li>
          <li class="u_sidemenu-has-list u_sidemenu-item-active">
            <div class="u_sidemenu-item">
              <p>Org Structure</p>
            </div>
            <ul class="u_sidemenu-item-list">
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="org-structure/business-unit">Business Unit</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="org-structure/cost-center">Cost Center</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="org-structure/bands">Bands</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="org-structure/segment">Segment</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="org-structure/hub">Hub</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="org-structure/region">Region</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="org-structure/territory">Territory</li>
              <li routerLinkActive="u_sidemenu-item-list-active " routerLink="org-structure/zone">Zone</li>
            </ul>
          </li>
        </div>
      </div>
    </ul>
  </div>
  <div style="height: 100%; width:100%">
    <router-outlet></router-outlet>
  </div>
</div>
