<div data-testid="overlay" data-popup="modal" class="popup-overlay " tabindex="-1"
    style="position: fixed; inset: 0px; display: flex; z-index: 1001; pointer-events: auto;">
    <div class="popup-content " role="dialog" id="popup-3876"
        style="position: relative; margin: auto; z-index: 1001; pointer-events: auto;">
        <div class="u_side-modal active ">
            <div class="u_modal-overlay"></div>
            <div class="u_side-modal-layout" style="max-width: 800px;">
                <div class="u_side-modal-header u_flex u_align-center u_content-between" id="u_side-modal-header">
                    <div class="u_task-header-left">
                        <h4>Adjust Balance</h4>
                    </div>
                    <div class="u_task-header-right u_flex u_align-center">
                        <div class="u_close-btn__blue"><svg width="14" height="14" viewBox="0 0 36 36" fill="none"
                                xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path class="u_fill-stroke"
                                    d="M18 14.557L7.08 3.637l-.142-.142-.142.141-3.16 3.16-.141.142.141.141L14.557 18 3.637 28.92l-.142.142.141.142 3.16 3.16.142.141.141-.141L18 21.443l10.92 10.92.142.142.142-.141 3.16-3.16.141-.142-.141-.141L21.443 18l10.92-10.922.142-.141-.141-.142-3.16-3.16-.142-.141-.141.141L18 14.557z"
                                    stroke="73788B" fill="#007AFF" stroke-width="0.4"></path>
                            </svg></div>
                    </div>
                </div>
                <div class="u_side-modal-body" id="u_side-modal-body" style="max-height: calc(639px);">
                    <form>
                        <div class="u_p-20 u_leave-adjust">
                            <div class="u_row">
                                <div class="u_col-6 u_mb-25">
                                    <div class="form-group-wrapper">
                                        <div class="form-group-main border-0 position-relative">
                                            <ng-select placeholder="Employee Name">
                                            </ng-select>
                                            <label class="position-absolute m-0 bg-white">Employee Name <span
                                                    class="text-danger">*</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="u_col-6 u_mb-25">
                                    <div class="form-group-wrapper">
                                        <div class="form-group-main border-0 position-relative">
                                            <ng-select placeholder="Leave Type">
                                            </ng-select>
                                            <label class="position-absolute m-0 bg-white">Leave Type <span class="text-danger">*</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="u_col-6 u_mb-25">
                                    <div class="u_input u_input-datepicker u_input-date-select">
                                        <div class="u_datepicker undefined">
                                            <div class="react-datepicker-wrapper">
                                                <div class="react-datepicker__input-container"><input type="text"
                                                        name="date" placeholder=" " autocomplete="off" 
                                                        value="06/06/2024"></div>
                                            </div>
                                        </div><label>Effective Date <span>*</span></label>
                                    </div>
                                </div>
                                <div class="u_col-6 u_mb-25">
                                    <div class="form-group-wrapper">
                                        <div class="form-group-main border-0 position-relative">
                                            <ng-select placeholder="Adjust Type">
                                                <ng-option>Add</ng-option>
                                                <ng-option>Subtract</ng-option>
                                            </ng-select>
                                            <label class="position-absolute m-0 bg-white">Adjust Type <span class="text-danger">*</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="u_col-6 u_mb-25">
                                    <div class="u_input"><input type="number" placeholder=" " min="0" name="amount"
                                            autocomplete="off" value="1"><label>Amount <span>*</span></label></div>
                                </div>
                                <div class="u_col-6 u_mb-20">
                                    <div class="u_input u_input-textarea"><textarea
                                            class="u_textarea u_textarea-six-rows" placeholder=" " name="note"
                                            autocomplete="off"></textarea><label>Note <span>*</span></label></div>
                                </div>
                            </div>
                        </div>
                        <div class="u_modal-buttons"><button type="button"
                                class="u_btn white small u_btn__white">cancel</button><button type="button"
                                class="u_btn blue small u_btn__blue">save</button></div>
                    </form>
                </div>
                <div class="u_side-modal-footer" id="u_side-modal-footer"></div>
            </div>
        </div>
    </div>
</div>