<div class="u_sm active  ">
    <div class="false u_sm-overlay"></div>
    <div class="u_sm-layout" style="max-width: 500px;">
        <div class="u_sm-header" id="u_sm-header">
            <div class="u_sm-header-left">
                <h4>Add Activity List</h4>
            </div>
            <div class="u_sm-header-right">
                <div class="u_sm-close" [mat-dialog-close]="true"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path class="u_fill-stroke"
                            d="M18 14.557L7.08 3.637l-.142-.142-.142.141-3.16 3.16-.141.142.141.141L14.557 18 3.637 28.92l-.142.142.141.142 3.16 3.16.142.141.141-.141L18 21.443l10.92 10.92.142.142.142-.141 3.16-3.16.141-.142-.141-.141L21.443 18l10.92-10.922.142-.141-.141-.142-3.16-3.16-.142-.141-.141.141L18 14.557z"
                            stroke="73788B" fill="#007AFF" stroke-width="0.4"></path>
                    </svg></div>
            </div>
        </div>
        <div class="u_sm-body" id="u_sm-body" style="max-height: calc(528px);">
            <form>
                <div class="u_p-20">
                    <div class="u_input"><input type="text" placeholder=" " name="name" autocomplete="off"
                            value=""><label>Activity Name <span>*</span></label></div>
                </div>
                <div class="u_modal-buttons"><button type="button"
                        class="u_btn white small u_btn__white" [mat-dialog-close]="true">cancel</button><button type="submit"
                        class="u_btn blue small u_btn__blue" [mat-dialog-close]="true">Add</button></div>
            </form>
        </div>
    </div>
</div>