<div class="u_hrms u_hrms-app-view">
  <div class="u_hrms">
    <div class="u_layout-list">
      <div class="u_header-filters u_z-1" id="u_header-filters">
        <div class="u_header-filters-title align-center">
          <h5 class="u_flex-align"> 22 <span class="u_pl-5">Employee</span><span class="u_rollover u_cp u_flex u_ml-10"
              aria-describedby="popup-2702"><svg width="18" height="18" viewBox="0 0 36 36" fill="none"
                xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path class="u_fill"
                  d="M18 2c8.837 0 16 7.163 16 16s-7.163 16-16 16S2 26.837 2 18 9.163 2 18 2Zm1.6 11.2V10h-3.2v3.2h3.2Zm0 12.8v-9.6h-3.2V26h3.2Z"
                  fill="#4E525F"></path>
              </svg> </span></h5>
        </div>
        <div class="u_header-filters-list">
          <div class="u_flex u_align-center u_content-end">
            <div class="u_filter u_filter-select u_filter-employee ">
              <div class="u_select css-2b097c-container"><span aria-live="polite" aria-atomic="false"
                  aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                <div class="u_select__control css-yk16xz-control">
                  <div class="u_select__value-container css-1hwfws3">
                    <div class="u_select__single-value css-1uccc91-singleValue">
                      <div class="u_filter-employee-info"><svg width="14" height="14" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M6 34a12.29 12.29 0 013.515-8.62A11.906 11.906 0 0118 21.81c3.183 0 6.235 1.284 8.485 3.57A12.29 12.29 0 0130 34H6zm12-13.714c-4.973 0-9-4.092-9-9.143C9 6.09 13.027 2 18 2s9 4.091 9 9.143c0 5.051-4.027 9.143-9 9.143z"
                            fill="#4E525F"></path>
                        </svg><span class="u_ml-10">Search</span></div>
                    </div>
                    <div class="css-1g6gooi">
                      <div class="u_select__input" style="display: inline-block;"><input autocapitalize="none"
                          autocomplete="off" autocorrect="off" id="react-select-15-input" spellcheck="false"
                          tabindex="0" type="text" aria-autocomplete="list" value=""
                          style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                        <div
                          style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 12px; font-family: Arial; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="u_select__indicators css-1wy0on6"><span
                      class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                    <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                      aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                        focusable="false" class="css-8mmkcg">
                        <path
                          d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                        </path>
                      </svg></div>
                  </div>
                </div><input name="employee" type="hidden" value="">
              </div>
            </div>
            <div class="u_filter u_filter-select  ">
              <div class=" css-2b097c-container"><span aria-live="polite" aria-atomic="false"
                  aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                <div class="u_select__control css-yk16xz-control">
                  <div class="u_select__value-container css-1hwfws3">
                    <div class="u_select__single-value css-1uccc91-singleValue">
                      <div class="u_flex u_align-center"><span class="u_text-c u_color-font">Department</span></div>
                    </div>
                    <div class="css-1g6gooi">
                      <div class="u_select__input" style="display: inline-block;"><input autocapitalize="none"
                          autocomplete="off" autocorrect="off" id="react-select-16-input" spellcheck="false"
                          tabindex="0" type="text" aria-autocomplete="list" value=""
                          style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                        <div
                          style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 12px; font-family: Arial; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="u_select__indicators css-1wy0on6"><span
                      class="u_select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                    <div class="u_select__indicator u_select__dropdown-indicator css-tlfecz-indicatorContainer"
                      aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                        focusable="false" class="css-8mmkcg">
                        <path
                          d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                        </path>
                      </svg></div>
                  </div>
                </div><input name="Department" type="hidden" value="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="treeWrapper">
        <div class="rd3t-tree-container rd3t-grabbable">

          <svg class="rd3t-svg rd3t-svg-d13cd28e-adcc-4464-81cf-677aec198022 " width="100%" height="100%">
            <g class="rd3t-g rd3t-g-94673f75-9c85-426d-ad3e-75d3224b6cdd"
              transform="translate(650.2154153000827,200.66486998516564) scale(0.32987697769322355)">
              <path class="rd3t-link" d="M0,0 V87.5 H-2800.0000000000005 V175" style="opacity: 1;"></path>
              <path class="rd3t-link" d="M0,0 V87.5 H-2520.000000000001 V175" style="opacity: 1;"></path>
              <path class="rd3t-link" d="M0,0 V87.5 H-2240.000000000001 V175" style="opacity: 1;"></path>
              <path class="rd3t-link" d="M0,0 V87.5 H-1960.0000000000005 V175" style="opacity: 1;"></path>
              <path class="rd3t-link" d="M0,0 V87.5 H-1680.0000000000005 V175" style="opacity: 1;"></path>
              <path class="rd3t-link" d="M0,0 V87.5 H-1400.0000000000007 V175" style="opacity: 1;"></path>
              <path class="rd3t-link" d="M0,0 V87.5 H-1120.0000000000007 V175" style="opacity: 1;"></path>
              <path class="rd3t-link" d="M0,0 V87.5 H-840.0000000000008 V175" style="opacity: 1;"></path>
              <path class="rd3t-link" d="M0,0 V87.5 H-560.0000000000008 V175" style="opacity: 1;"></path>
              <path class="rd3t-link" d="M0,0 V87.5 H-280.00000000000085 V175" style="opacity: 1;"></path>
              <path class="rd3t-link" d="M0,0 V87.5 H-9.325873406851315e-13 V175" style="opacity: 1;"></path>
              <path class="rd3t-link" d="M0,0 V87.5 H279.999999999999 V175" style="opacity: 1;"></path>
              <path class="rd3t-link" d="M0,0 V87.5 H559.9999999999992 V175" style="opacity: 1;"></path>
              <path class="rd3t-link" d="M0,0 V87.5 H839.9999999999995 V175" style="opacity: 1;"></path>
              <path class="rd3t-link" d="M0,0 V87.5 H1119.9999999999998 V175" style="opacity: 1;"></path>
              <path class="rd3t-link" d="M0,0 V87.5 H1400 V175" style="opacity: 1;"></path>
              <path class="rd3t-link" d="M0,0 V87.5 H1680.0000000000002 V175" style="opacity: 1;"></path>
              <path class="rd3t-link" d="M0,0 V87.5 H1960.0000000000005 V175" style="opacity: 1;"></path>
              <path class="rd3t-link" d="M0,0 V87.5 H2240.000000000001 V175" style="opacity: 1;"></path>
              <path class="rd3t-link" d="M0,0 V87.5 H2520.000000000001 V175" style="opacity: 1;"></path>
              <path class="rd3t-link" d="M0,0 V87.5 H2800.0000000000005 V175" style="opacity: 1;"></path>
              <g id="b8fdcbae-5ddc-4780-a908-c5bf0666f4e8" class="rd3t-node" transform="translate(0,0)"
                style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card card--has-children">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2706">
                        <div class="u_avatar ">
                          <div class="u_avatar-content "
                            style="background-color: rgb(96, 177, 88); width: 36px; height: 36px;"><span
                              class="u_m-auto" style="font-size: 1.2rem; line-height: 1.2rem;">AM</span></div>
                        </div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Abhishek Mayani</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Management</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Surat</p>
                      </div>
                    </div><button class="toggle u_cp u_flex-align u_content-center" type="button">
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M6 34a12.29 12.29 0 013.515-8.62A11.906 11.906 0 0118 21.81c3.183 0 6.235 1.284 8.485 3.57A12.29 12.29 0 0130 34H6zm12-13.714c-4.973 0-9-4.092-9-9.143C9 6.09 13.027 2 18 2s9 4.091 9 9.143c0 5.051-4.027 9.143-9 9.143z"
                            fill="#007AFF"></path>
                        </svg>
                        <p class="u_p-3 u_count">21</p><span class="u_pt-3 u_pl-3"><svg width="12" height="12"
                            viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class=""
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="u_fill" d="M18 15.11L5.555 27.555 2 24 18 8l16 16-3.555 3.555L18 15.11z"
                              fill="#007AFF"></path>
                          </svg></span>
                      </div>
                    </button>
                  </div>
                </foreignObject>
              </g>
              <g id="7c92a03e-20cb-496f-8d06-c1eccf355afa" class="rd3t-leaf-node"
                transform="translate(-2800.0000000000005,175)" style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card ">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2707">
                        <div class="u_avatar "><img draggable="false"
                            src="https://thumbor.superworks.com/unsafe/48x48/filters:quality(80)/https://files.superworks.com/profileImages/cnhgzy4yN2.jpeg"
                            alt="Nikunj" class="u_avatar-image undefined" style="width: 36px; height: 36px;"></div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Nikunj Malani</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Research And Development</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Ahmedabad</p>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </g>
              <g id="376e685c-be2e-465c-9356-b1ea78763767" class="rd3t-leaf-node"
                transform="translate(-2520.000000000001,175)" style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card ">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2708">
                        <div class="u_avatar ">
                          <div class="u_avatar-content "
                            style="background-color: rgb(140, 100, 255); width: 36px; height: 36px;"><span
                              class="u_m-auto" style="font-size: 1.2rem; line-height: 1.2rem;">JB</span></div>
                        </div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Jaivik Bhadreshwara</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Research And Development</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Ahmedabad</p>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </g>
              <g id="7219e66f-c1ae-4bb2-9314-d7094993ae43" class="rd3t-leaf-node"
                transform="translate(-2240.000000000001,175)" style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card ">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2709">
                        <div class="u_avatar ">
                          <div class="u_avatar-content "
                            style="background-color: rgb(96, 177, 88); width: 36px; height: 36px;"><span
                              class="u_m-auto" style="font-size: 1.2rem; line-height: 1.2rem;">AH</span></div>
                        </div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Akshay Hirani</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Research And Development</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Ahmedabad</p>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </g>
              <g id="38df3126-0673-4ec5-ad15-dcb653ae11c3" class="rd3t-leaf-node"
                transform="translate(-1960.0000000000005,175)" style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card ">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2710">
                        <div class="u_avatar ">
                          <div class="u_avatar-content "
                            style="background-color: rgb(245, 185, 113); width: 36px; height: 36px;"><span
                              class="u_m-auto" style="font-size: 1.2rem; line-height: 1.2rem;">RK</span></div>
                        </div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Riya Karkar</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Research And Development</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Ahmedabad</p>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </g>
              <g id="459dd4ba-82ad-4c1b-bdcd-c4b4da2e10ba" class="rd3t-leaf-node"
                transform="translate(-1680.0000000000005,175)" style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card ">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2711">
                        <div class="u_avatar ">
                          <div class="u_avatar-content "
                            style="background-color: rgb(98, 183, 231); width: 36px; height: 36px;"><span
                              class="u_m-auto" style="font-size: 1.2rem; line-height: 1.2rem;">MS</span></div>
                        </div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Madhvi Sojitra</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Research And Development</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Ahmedabad</p>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </g>
              <g id="8d06eb5d-da5c-4903-9267-baf2f199e78a" class="rd3t-leaf-node"
                transform="translate(-1400.0000000000007,175)" style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card ">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2712">
                        <div class="u_avatar ">
                          <div class="u_avatar-content "
                            style="background-color: rgb(147, 125, 20); width: 36px; height: 36px;"><span
                              class="u_m-auto" style="font-size: 1.2rem; line-height: 1.2rem;">SS</span></div>
                        </div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Sailesh Singh</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Research And Development</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Ahmedabad</p>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </g>
              <g id="0516590e-c43d-47ce-80bd-9aa4a91bb454" class="rd3t-leaf-node"
                transform="translate(-1120.0000000000007,175)" style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card ">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2713">
                        <div class="u_avatar ">
                          <div class="u_avatar-content "
                            style="background-color: rgb(255, 105, 97); width: 36px; height: 36px;"><span
                              class="u_m-auto" style="font-size: 1.2rem; line-height: 1.2rem;">DP</span></div>
                        </div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Dhruv Panchal</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Research And Development</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Ahmedabad</p>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </g>
              <g id="e42e2bef-c130-4749-a448-56ed6fea24b2" class="rd3t-leaf-node"
                transform="translate(-840.0000000000008,175)" style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card ">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2714">
                        <div class="u_avatar ">
                          <div class="u_avatar-content "
                            style="background-color: rgb(242, 95, 163); width: 36px; height: 36px;"><span
                              class="u_m-auto" style="font-size: 1.2rem; line-height: 1.2rem;">HP</span></div>
                        </div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Harshil Panchal</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Research And Development</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Ahmedabad</p>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </g>
              <g id="43a7ba41-076b-48ff-852e-d402353c76f3" class="rd3t-leaf-node"
                transform="translate(-560.0000000000008,175)" style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card ">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2715">
                        <div class="u_avatar ">
                          <div class="u_avatar-content "
                            style="background-color: rgb(98, 183, 231); width: 36px; height: 36px;"><span
                              class="u_m-auto" style="font-size: 1.2rem; line-height: 1.2rem;">MG</span></div>
                        </div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Mitul Gondaliya</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Research And Development</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Ahmedabad</p>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </g>
              <g id="02f92568-a0a5-4801-85b2-3230f3ecf385" class="rd3t-leaf-node"
                transform="translate(-280.00000000000085,175)" style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card ">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2716">
                        <div class="u_avatar ">
                          <div class="u_avatar-content "
                            style="background-color: rgb(255, 105, 97); width: 36px; height: 36px;"><span
                              class="u_m-auto" style="font-size: 1.2rem; line-height: 1.2rem;">DK</span></div>
                        </div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Devarshi Kathiriya</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Research And Development</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Ahmedabad</p>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </g>
              <g id="a258569f-3c9c-438b-a96c-41cdee203097" class="rd3t-leaf-node"
                transform="translate(-9.325873406851315e-13,175)" style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card ">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2717">
                        <div class="u_avatar "><img draggable="false"
                            src="https://thumbor.superworks.com/unsafe/48x48/filters:quality(80)/https://files.superworks.com/profileImages/sWj4LkOT4q.jpeg"
                            alt="Richa" class="u_avatar-image undefined" style="width: 36px; height: 36px;"></div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Richa Kalariya</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Human Resource</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Ahmedabad</p>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </g>
              <g id="d2485cec-cae7-4739-982c-fbc4cbe8fe03" class="rd3t-leaf-node"
                transform="translate(279.999999999999,175)" style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card ">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2718">
                        <div class="u_avatar "><img draggable="false"
                            src="https://thumbor.superworks.com/unsafe/48x48/filters:quality(80)/https://files.superworks.com/profileImages/09DTbWaAkg.jpeg"
                            alt="Abhik" class="u_avatar-image undefined" style="width: 36px; height: 36px;"></div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Abhik Patel</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Research And Development</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Ahmedabad</p>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </g>
              <g id="de0f65b0-fe26-4fa5-92f3-4bebc0a244dd" class="rd3t-leaf-node"
                transform="translate(559.9999999999992,175)" style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card ">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2719">
                        <div class="u_avatar ">
                          <div class="u_avatar-content "
                            style="background-color: rgb(140, 100, 255); width: 36px; height: 36px;"><span
                              class="u_m-auto" style="font-size: 1.2rem; line-height: 1.2rem;">JP</span></div>
                        </div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Jay Patel</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Research And Development</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Ahmedabad</p>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </g>
              <g id="47699728-4981-4f4b-a591-8411c5d60b9b" class="rd3t-leaf-node"
                transform="translate(839.9999999999995,175)" style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card ">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2720">
                        <div class="u_avatar ">
                          <div class="u_avatar-content "
                            style="background-color: rgb(140, 100, 255); width: 36px; height: 36px;"><span
                              class="u_m-auto" style="font-size: 1.2rem; line-height: 1.2rem;">JB</span></div>
                        </div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Jinal Bhanderi</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Research And Development</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Surat</p>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </g>
              <g id="56e74452-12f6-48ac-8237-5b4bec07364b" class="rd3t-leaf-node"
                transform="translate(1119.9999999999998,175)" style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card ">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2721">
                        <div class="u_avatar ">
                          <div class="u_avatar-content "
                            style="background-color: rgb(255, 105, 97); width: 36px; height: 36px;"><span
                              class="u_m-auto" style="font-size: 1.2rem; line-height: 1.2rem;">DK</span></div>
                        </div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Divanshi Kalsariya</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Research And Development</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Ahmedabad</p>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </g>
              <g id="fa12af23-35ee-4b00-b86c-882afeb635a1" class="rd3t-leaf-node" transform="translate(1400,175)"
                style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card ">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2722">
                        <div class="u_avatar ">
                          <div class="u_avatar-content "
                            style="background-color: rgb(147, 125, 20); width: 36px; height: 36px;"><span
                              class="u_m-auto" style="font-size: 1.2rem; line-height: 1.2rem;">SD</span></div>
                        </div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Shiva Dattatrya</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Research And Development</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Ahmedabad</p>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </g>
              <g id="1b688f06-5e6c-49fb-bc0f-e8fb5ef71661" class="rd3t-leaf-node"
                transform="translate(1680.0000000000002,175)" style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card ">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2723">
                        <div class="u_avatar ">
                          <div class="u_avatar-content "
                            style="background-color: rgb(245, 185, 113); width: 36px; height: 36px;"><span
                              class="u_m-auto" style="font-size: 1.2rem; line-height: 1.2rem;">RH</span></div>
                        </div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Ronak Hirpara</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Research And Development</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Ahmedabad</p>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </g>
              <g id="2b27e938-cf68-4d90-9bf0-9da6eb0d75d4" class="rd3t-leaf-node"
                transform="translate(1960.0000000000005,175)" style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card ">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2724">
                        <div class="u_avatar ">
                          <div class="u_avatar-content "
                            style="background-color: rgb(125, 90, 90); width: 36px; height: 36px;"><span
                              class="u_m-auto" style="font-size: 1.2rem; line-height: 1.2rem;">PK</span></div>
                        </div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Parthiv Kachhot</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Research And Development</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Ahmedabad</p>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </g>
              <g id="4773398b-8218-4ac5-9d90-029ba4ee7c94" class="rd3t-leaf-node"
                transform="translate(2240.000000000001,175)" style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card ">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2725">
                        <div class="u_avatar ">
                          <div class="u_avatar-content "
                            style="background-color: rgb(244, 179, 119); width: 36px; height: 36px;"><span
                              class="u_m-auto" style="font-size: 1.2rem; line-height: 1.2rem;">KP</span></div>
                        </div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Kruti Patel</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Research And Development</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Ahmedabad</p>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </g>
              <g id="4714bcc4-2b41-4b46-ab6a-c7125669884f" class="rd3t-leaf-node"
                transform="translate(2520.000000000001,175)" style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card ">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2726">
                        <div class="u_avatar ">
                          <div class="u_avatar-content "
                            style="background-color: rgb(98, 183, 231); width: 36px; height: 36px;"><span
                              class="u_m-auto" style="font-size: 1.2rem; line-height: 1.2rem;">MJ</span></div>
                        </div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Mahavir Jain</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Research And Development</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Ahmedabad</p>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </g>
              <g id="817188cf-1805-431c-9ad1-c59f909cc376" class="rd3t-leaf-node"
                transform="translate(2800.0000000000005,175)" style="opacity: 1;">
                <foreignObject width="250" height="150" x="-125" y="-70">
                  <div class="card ">
                    <div class="u_flex-align">
                      <div class="u_cp u_flex-shrink" aria-describedby="popup-2727">
                        <div class="u_avatar ">
                          <div class="u_avatar-content "
                            style="background-color: rgb(147, 125, 20); width: 36px; height: 36px;"><span
                              class="u_m-auto" style="font-size: 1.2rem; line-height: 1.2rem;">SM</span></div>
                        </div>
                      </div><span class="treeWrapper-employeeName u_cp u_pl-10">Shubham Maurya</span>
                    </div>
                    <div class="u_tree-content">
                      <p class="u_p-3">Research And Development</p>
                      <div class="u_flex u_align-center"><svg width="12" height="12" viewBox="0 0 36 36" fill="none"
                          xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path class="u_fill"
                            d="M27.762 24.627L18.333 34l-9.428-9.373a13.232 13.232 0 01-3.649-6.786 13.182 13.182 0 01.759-7.659 13.272 13.272 0 014.91-5.948A13.39 13.39 0 0118.334 2c2.637 0 5.215.777 7.408 2.234a13.272 13.272 0 014.91 5.948 13.183 13.183 0 01.76 7.659 13.232 13.232 0 01-3.65 6.786zm-9.429-3.481c1.572 0 3.08-.62 4.19-1.726a5.874 5.874 0 001.736-4.165c0-1.563-.624-3.061-1.735-4.166a5.944 5.944 0 00-4.19-1.725c-1.572 0-3.08.62-4.19 1.725a5.873 5.873 0 00-1.737 4.166c0 1.562.625 3.06 1.736 4.165a5.944 5.944 0 004.19 1.726zm0-2.946c-.785 0-1.54-.31-2.095-.863a2.937 2.937 0 010-4.165 2.972 2.972 0 014.19 0 2.937 2.937 0 010 4.165 2.972 2.972 0 01-2.095.863z"
                            fill="#5D6372"></path>
                        </svg>
                        <p class="u_pl-5">Ahmedabad</p>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
